$dashboard-breadcrumb-height: rem-calc(24px);
$dashboard-breadcrumb-filters-spacing: rem-calc(30px);
$dashboard-filters-height: rem-calc(48px);
$dashboard-header-spacing: rem-calc(16px);
$sidebar-spacing-top: $dashboard-breadcrumb-height + $dashboard-header-spacing;

.richie-react--dashboard {
  min-height: 100%;
}

.dashboard {
  @include make-container();
  @include make-container-max-widths();
  margin: auto;
  padding-top: rem-calc(16px);
  display: flex;
  align-items: flex-start;
  padding-bottom: calc(5vw + rem-calc(32px));

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: stretch;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 300px;
    margin-top: $sidebar-spacing-top;
    margin-right: rem-calc(32px);

    @include media-breakpoint-down(lg) {
      width: auto;
      margin-right: 0;
    }
  }

  &__section,
  &__nested_section {
    margin-top: rem-calc(10px);
    &:first-child {
      margin-top: 0;
    }
  }

  &__nested_section {
    margin-left: rem-calc(20px);
  }

  &__filters {
    min-height: $dashboard-filters-height;
    margin-top: $dashboard-breadcrumb-filters-spacing;
    display: flex;
    flex-direction: row;
    gap: rem-calc(15px);
    justify-content: right;
  }

  &__main {
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding: rem-calc(16px) 0 0 0;
    }

    > header {
      // Padding instead of margin to give room to the scrollbar.
      padding-bottom: $dashboard-header-spacing;
    }
  }

  &__content {
    padding-right: rem-calc(32px);
    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
  }
}
