.spinner-container {
  align-items: center;
  cursor: wait;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.spinner {
  animation: spin 0.8s linear infinite;
  border: 0.125rem solid transparent;
  border-left-color: r-theme-val(spinner, base-color);
  border-radius: 50%;
  border-top-color: r-theme-val(spinner, base-color);
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: baseline;

  &--small {
    height: 1rem;
    width: 1rem;
  }

  &--large {
    height: 3rem;
    width: 3rem;
  }

  &--light {
    border-left-color: r-theme-val(spinner, base-color-light);
    border-top-color: r-theme-val(spinner, base-color-light);
  }

  &--primary {
    border-left-color: r-theme-val(spinner, base-color-primary);
    border-top-color: r-theme-val(spinner, base-color-primary);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
