$tabs-scheme: map-get($themes, 'default', 'components', 'tabs');

.tabs {
  display: flex;
  gap: rem-calc(16px);
  border-bottom: 2px solid map-get($tabs-scheme, 'border-bottom-color');

  &__tab {
    margin-bottom: rem-calc(-2px);
    flex: 0 0 auto;
  }
}

.c__button {
  &--tab {
    border-bottom: 2px solid transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &:hover,
    &:focus-visible,
    &:active,
    &.c__button--active,
    &:disabled {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.c__button--active {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
    }
  }
}
