///
/// Color palette
///

// Named colors
// ---------
$palette: (
  'black': #090909,
  'dark-grey': #232323,
  'charcoal': #29303b,
  'slate-grey': #686868,
  'battleship-grey': #686f7a,
  'light-grey': #d2d2d2,
  'silver': #d5dbe0,
  'azure2': #eceff1,
  'smoke': #fdfdfd,
  'white': #ffffff,
  'denim': #0067b7,
  'firebrick6': #f72c30,
  'purplish-grey': #726c74,
  'grey32': #525151,
  'grey59': #969696,
  'grey87': #dfdfdf,
  'indianred3': #df484b,
  'midnightblue': #141b2c,
) !default;