$r-search-filters-width: 15rem !default;

.search-template {
  @include make-container();
  @include make-container-max-widths();
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @if $body-padding-fix {
    @include content-padding-fix;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .richie-react--search {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.search {
  @include make-container();
  @include make-container-max-widths();
  display: flex;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;

  &__filters {
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    background: r-theme-val(search-filters, base-background);

    // Force the filters sidebar to take up the whole height even when it's empty.
    // This should help avoid a glitch where we see the footer at the top of the page and the UI jumps
    // around as the filters appear.
    min-height: 100vh;

    position: absolute;
    left: 0;
    max-width: 85vw;
    padding: 0 2rem 1rem 2rem;
    transform: translateX(-100.1%);
    transition: ease-in-out 0.5s;

    @include media-breakpoint-up(lg) {
      z-index: auto;
      position: relative;
      left: auto;
      flex-basis: $r-search-filters-width;
      max-width: $r-search-filters-width;
      padding: 0;
      transform: none;
    }

    &--active {
      transform: translateX(0);
    }

    &__pane-container:not(.is-closing) {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &--active &__pane-container {
      display: block;
    }

    &__toggle {
      position: absolute;
      top: 1.25rem;
      right: -3rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      background: r-theme-val(search-filters, toggler-background);
      border: none;
      border-radius: $border-radius;
      box-shadow: r-theme-val(search-filters, toggler-shadow);

      &__icon {
        fill: r-theme-val(search-filters, toggler-fill);
      }

      &--bottom {
        top: auto;
        bottom: 1.25rem;
      }
    }
  }

  &__results {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      position: static;
      flex-basis: calc(100% - #{$r-search-filters-width});
      max-width: calc(100% - #{$r-search-filters-width});
      padding: 2rem 0 0 1rem;
    }

    &__title {
      padding: 1.5rem 0 0;
      text-align: center;
    }

    &__overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: r-theme-val(search-results, overlay);
      opacity: 0;
      transition: 0.5s ease-in-out;

      &--visible {
        visibility: visible;
        opacity: 0.75;
      }
    }

    @include media-breakpoint-up(lg) {
      & > .spinner-container {
        margin-top: 15rem;
      }
    }

    &__error {
      @include font-size($h3-font-size);
      padding: 1rem;
      color: r-theme-val(search-results, color);
      font-family: $r-font-family-montserrat;
      font-weight: $font-weight-bold;
      text-align: center;

      @include media-breakpoint-up(lg) {
        padding: 5vh 2rem;
      }

      *:last-child {
        margin-bottom: 0;
      }

      p {
        @include media-breakpoint-up(lg) {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      svg {
        display: block;
        width: 100%;
        height: 25vh;
        margin-bottom: 1rem;
        fill: r-color('light-grey');
      }
    }
  }

  // Shorter available width decrease glimpse width
  .course-glimpse-list {
    .course-glimpse {
      @include media-breakpoint-up(md) {
        @include sv-flex(1, 0, calc(50% - #{$r-course-glimpse-gutter * 2}));
      }
      @include media-breakpoint-up(lg) {
        @include sv-flex(1, 0, calc(33.3333% - #{$r-course-glimpse-gutter * 2}));
      }
    }
  }
}
