{% extends "richie/base.html" %}
{% load cms_tags i18n %}

{% block head_title %}
    {% trans "dashboard" %}
{% endblock head_title %}

{% block meta_opengraph_contextuals %}
    {% trans "dashboard" as page_title %}
    <meta property="og:title" content="{{ page_title |truncatechars:65 }}">
    <meta property="og:url" content="{{ SITE.web_url }}-{{ page_title }}">
{% endblock meta_opengraph_contextuals %}


{% block subheader %}{% endblock subheader %}

{% block content %}
    <div class="richie-react richie-react--dashboard"></div>
{% endblock content %}
