{% extends "richie/base.html" %}
{% load cms_tags %}
{% comment %}
CHANGELOG:
- Disable "topbar_searchbar" block since the input search is moved intro
  intro content
- Wrapped content under "div.homepage" for easier custom homepage styles
{% endcomment %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block meta_opengraph_contextuals %}
    {% page_attribute "page_title" as page_title %}
    <meta property="og:title" content="{{ page_title|truncatechars:65 }}">
    <meta property="og:url" content="{{ SITE.web_url }}">
{% endblock meta_opengraph_contextuals %}

{% block head_title %}
    {% page_attribute "page_title" %}
{% endblock head_title %}

{% block topbar_classes %}topbar--over{% endblock topbar_classes %}

{% block topbar_searchbar %}{% endblock topbar_searchbar %}

{% block content %}
<div class="homepage{% if current_page.publisher_is_draft %} homepage--draft{% endif %}">
    {% placeholder "maincontent" %}
</div>
{% endblock content %}
