{% load i18n %}{% spaceless %}
{% if is_paginated %}
<div class="pagination">
    <div class="pagination__previous">
    {% if page_obj.has_previous %}
        {% if disable_link_for_first_page and page_obj.previous_page_number == 1 %}
            <a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}">
                {% trans "Previous" %}
            </a>
        {% else %}
            <a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}">
                {% trans "Previous" %}
            </a>
        {% endif %}
    {% endif %}
    </div>

    {% if display_page_links %}
        <div class="pagination__pages">
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <span class="pagination__pages__item pagination__pages__item--current">{{ page }}</span>
                {% else %}
                    {% if disable_link_for_first_page and page == 1 %}
                        <a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}" class="pagination__pages__item">{{ page }}</a>
                    {% else %}
                        <a href="?page{{ page_suffix }}={{ page }}{{ getvars }}" class="pagination__pages__item">{{ page }}</a>
                    {% endif %}
                {% endifequal %}
            {% else %}
                <span class="pagination__pages__ellipsis">...</span>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <div class="pagination__next">
    {% if page_obj.has_next %}
        <a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}">
            {% trans "Next" %}
        </a>
    {% endif %}
    </div>
</div>
{% endif %}
{% endspaceless %}
