@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

// Design color palette
@import 'colors';

//
// Bootstrap settings
//

// More space between columns
$grid-gutter-width: 20px;

// Use the footer bg color it seems to continue to the bottom end even with
// page is empty, body-content bg will make the real base color for contents
$body-bg: $dodgerblue1;

//
// Homegrown shared settings
//

// Background for content container objects, eg. detailed courses, subjects, persons etc. pages. */
$richie-content-container-bg: $white;
