@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

// Design color palette
@import 'colors';


/// Bootstrap settings
/// -----
// More space between columns
$grid-gutter-width: 20px;

// Use the footer bg color it seems to continue to the bottom end even with
// page is empty, body-content bg will make the real base color for contents
$body-bg: $dodgerblue1;


/// Content base
/// -----
$richie-body-content-background: $gray98;


/// Header topbar
/// -----
$richie-topbar-breakpoint: lg;

$richie-topbar-shadow: 0 0 rem-calc(3px) rem-calc(3px) rgba($gray40, 0.2);
$richie-topbar-background: $white;

$richie-topbar-hamburger-paddding: 0 1rem;
$richie-topbar-hamburger-fontsize: 2rem;
$richie-topbar-hamburger-fontcolor: $dodgerblue7;
$richie-topbar-hamburger-fontcolor-hover: $dodgerblue7;

$richie-topbar-brand-height: rem-calc(60px);
$richie-topbar-brand-paddding: 0 0.4rem;

$richie-topbar-menu-list-margin: 0;
$richie-topbar-menu-list-padding: 0;

$richie-topbar-menu-list-fontcolor: $white;
$richie-topbar-menu-list-fontcolor-lg: $dodgerblue7;
$richie-topbar-menu-list-background: $dodgerblue7;
$richie-topbar-menu-list-background-lg: transparent;

$richie-topbar-menu-item-margin: 0;
$richie-topbar-menu-item-padding: 0;
$richie-topbar-menu-item-fontcolor: inherit;

$richie-topbar-menu-link-padding: 0.8rem 1rem;
$richie-topbar-menu-link-fontsize: 1rem;
$richie-topbar-menu-link-fontcolor: inherit;

$richie-topbar-menu-link-padding-md: 1rem 0.7rem;
$richie-topbar-menu-link-fontsize-md: 0.9rem;
$richie-topbar-menu-link-fontcolor-md: inherit;

$richie-topbar-menu-link-padding-lg: 1rem;
$richie-topbar-menu-link-fontsize-lg: 1rem;
$richie-topbar-menu-link-fontcolor-lg: inherit;

$richie-topbar-menu-link-fontcolor-hover: $white;
$richie-topbar-menu-link-background-hover: lighten($dodgerblue7, 2%);

$richie-topbar-menu-item-active-fontweight: bold;
$richie-topbar-menu-item-active-border: rem-calc(4px) solid lighten($dodgerblue7, 8%);
$richie-topbar-menu-item-active-fontweight-lg: bold;
$richie-topbar-menu-item-active-border-height-lg: rem-calc(3px);
$richie-topbar-menu-item-active-border-color-lg: $dodgerblue7;

$richie-topbar-menu-cta-fontcolor: $white;
$richie-topbar-menu-cta-fontweight: bold;
$richie-topbar-menu-cta-background: $firebrick6;

$richie-topbar-menu-cta-hollow-fontcolor: $firebrick6;
$richie-topbar-menu-cta-hollow-fontweight: bold;
$richie-topbar-menu-cta-hollow-background: $white;

$richie-topbar-menu-divider-border: 1px solid $dodgerblue5;
$richie-topbar-menu-divider-border-lg: 0;

$richie-topbar-menu-item-divider-border: 1px solid $dodgerblue5;
$richie-topbar-menu-item-divider-border-lg: 1px solid $white;


/// Page footer
/// -----

$richie-footer-padding: 0 1rem;
$richie-footer-fontcolor: $white;
$richie-footer-background: $dodgerblue1;

$richie-footer-menu-border: 1px solid lighten($dodgerblue1, 10%);

$richie-footer-menu-item-margin: 0;
$richie-footer-menu-item-padding: 0;
$richie-footer-menu-item-margin-lg: 0;
$richie-footer-menu-item-padding-lg: 0;

$richie-footer-menu-link-padding: 1rem 0.8rem;
$richie-footer-menu-link-fontweight: bold;
$richie-footer-menu-link-fontcolor: $white;
$richie-footer-menu-link-fontcolor-hover: $dodgerblue7;

$richie-footer-brand-padding: 1rem 0;
$richie-footer-mentions-padding: 1rem 0;

$richie-footer-mentions-fontsize: 0.9rem;
$richie-footer-mentions-texttransform: uppercase;

$richie-footer-poweredby-padding: 1rem 0;
$richie-footer-poweredby-link-fontcolor: $white;


///
/// Content component objects
/// -----
///
$richie-content-container-bg: $white;


///
/// Course glimpse object
/// -----
///
$richie-course-glimpse-list-maxwidth-constraint: true;
$richie-course-glimpse-list-margin: 0 auto;
$richie-course-glimpse-list-padding: 1rem 0;

$richie-course-glimpse-container-width-sm: null;
$richie-course-glimpse-container-width-md: 50%;
$richie-course-glimpse-container-width-lg: 33.3333%;
$richie-course-glimpse-container-width-xl: 25%;
$richie-course-glimpse-container-gutter: 0.5rem;
$richie-course-glimpse-container-background: $white;
$richie-course-glimpse-container-border: 1px solid transparent;
$richie-course-glimpse-container-border-hover: 1px solid $firebrick6;

$richie-course-glimpse-media-margin: 0 0 1rem 0;

$richie-course-glimpse-caption-width: 60%;
$richie-course-glimpse-caption-margin: 0;
$richie-course-glimpse-caption-padding: 0.6rem 0.5rem;
$richie-course-glimpse-caption-fontsize: 0.9rem;
$richie-course-glimpse-caption-fontweight: bold;
$richie-course-glimpse-caption-lineheight: 1.1;
$richie-course-glimpse-caption-textalign: center;
$richie-course-glimpse-caption-texttransform: uppercase;
$richie-course-glimpse-caption-background: $gray80;

$richie-course-glimpse-content-fontsize: 0.9rem;
$richie-course-glimpse-content-fontcolor: $gray40;
$richie-course-glimpse-content-textalign: center;

$richie-course-glimpse-title-fontsize: 1rem;
$richie-course-glimpse-title-fontweight: bold;
$richie-course-glimpse-title-fontcolor: $dodgerblue3;

$richie-course-glimpse-wrapper-padding: 0.6rem;

$richie-course-glimpse-foot-divider: null;

$richie-course-glimpse-foot-border: 1px solid $gray80;

$richie-course-glimpse-foot-date-width: 55%;
$richie-course-glimpse-foot-date-padding: 0.3rem 0.5rem;
$richie-course-glimpse-foot-date-fontsize: 0.9rem;
$richie-course-glimpse-foot-date-fontcolor: $gray40;
$richie-course-glimpse-foot-date-textalign: center;
$richie-course-glimpse-foot-date-background: null;

$richie-course-glimpse-foot-cta-width: 45%;
$richie-course-glimpse-foot-cta-padding: 0.3rem 0.5rem;
$richie-course-glimpse-foot-cta-fontsize: 0.9rem;
$richie-course-glimpse-foot-cta-fontweight: bold;
$richie-course-glimpse-foot-cta-fontcolor: $white;
$richie-course-glimpse-foot-cta-textalign: center;
$richie-course-glimpse-foot-cta-background: $dodgerblue5;
$richie-course-glimpse-foot-cta-background-hover: $firebrick6;


///
/// Search objects
/// -----
///
$richie-search-breakpoint: lg;
$richie-search-margin: 0;
$richie-search-padding: 0;

$richie-search-filters-width: 20.5rem;
$richie-search-filters-background: $dodgerblue1;

$richie-search-results-padding: 0 1rem 0 2rem;

$richie-search-filters-pane-background: inherit;

$richie-search-filters-pane-title-margin: 0 2.5rem;
$richie-search-filters-pane-title-padding: 2rem 0 1rem;
$richie-search-filters-pane-title-fontsize: null;
$richie-search-filters-pane-title-fontweight: null;
$richie-search-filters-pane-title-fontcolor: $dodgerblue5;
$richie-search-filters-pane-title-textalign: null;

$richie-search-filters-group-margin: 2rem 2.5rem;
$richie-search-filters-group-padding: null;

$richie-search-filters-group-title-margin: 0;
$richie-search-filters-group-title-padding: 0.4rem 0.5rem;
$richie-search-filters-group-title-fontsize: 1.4rem;
$richie-search-filters-group-title-fontweight: null;
$richie-search-filters-group-title-fontcolor: $white;

$richie-search-filters-item-width: 100%;
$richie-search-filters-item-margin: null;
$richie-search-filters-item-padding: 0.4rem 0.5rem;
$richie-search-filters-item-fontsize: 0.9rem;
$richie-search-filters-item-fontcolor: rgba($white, 0.85);
$richie-search-filters-item-fontcolor-hover: $white;
$richie-search-filters-item-fontweight: normal;
$richie-search-filters-item-fontweight-hover: normal;
$richie-search-filters-item-textalign: inherit;
$richie-search-filters-item-background: inherit;
$richie-search-filters-item-background-hover: inherit;
$richie-search-filters-item-divider-border: 1px solid $gray80;

$richie-search-filters-disabled-fontcolor: rgba($white, 0.6);
$richie-search-filters-disabled-background: null;

$richie-search-filters-active-fontcolor: $white;
$richie-search-filters-active-fontweight: bold;
$richie-search-filters-active-background: inherit;
$richie-search-filters-active-divider-border: 1px solid $white;



///
/// Search page template
/// -----
///
$richie-template-search-margin: null;
$richie-template-search-padding: 1rem 0 0;

$richie-template-search-title-margin: null;
$richie-template-search-title-padding: null;
$richie-template-search-title-textalign: center;

