$richie-search-filters-item-width: null !default;
$richie-search-filters-item-margin: null !default;
$richie-search-filters-item-padding: null !default;
$richie-search-filters-item-fontsize: null !default;
$richie-search-filters-item-fontcolor: null !default;
$richie-search-filters-item-fontcolor-hover: null !default;
$richie-search-filters-item-fontweight: null !default;
$richie-search-filters-item-fontweight-hover: null !default;
$richie-search-filters-item-textalign: null !default;
$richie-search-filters-item-background: null !default;
$richie-search-filters-item-background-hover: null !default;
$richie-search-filters-item-divider-border: null !default;

$richie-search-filters-disabled-fontcolor: null !default;
$richie-search-filters-disabled-background: null !default;

$richie-search-filters-active-fontcolor: null !default;
$richie-search-filters-active-fontweight: null !default;
$richie-search-filters-active-background: null !default;
$richie-search-filters-active-divider-border: null !default;

$richie-search-filters-icon-font-size: $font-size-base * 2 !default;

.search-filter {
  @include m-o-list-group__item(
    $width: $richie-search-filters-item-width,
    $margin: $richie-search-filters-item-margin,
    $padding: $richie-search-filters-item-padding,
    $fontsize: $richie-search-filters-item-fontsize,
    $fontweight: $richie-search-filters-item-fontweight,
    $fontcolor: $richie-search-filters-item-fontcolor,
    $textalign: $richie-search-filters-item-textalign,
    $background: $richie-search-filters-item-background,
    $divider-border: $richie-search-filters-item-divider-border,
    $fontweight-hover: $richie-search-filters-item-fontweight-hover,
    $fontcolor-hover: $richie-search-filters-item-fontcolor-hover,
    $background-hover: $richie-search-filters-item-background-hover,
    $disabled-fontcolor: $richie-search-filters-disabled-fontcolor,
    $disabled-background: $richie-search-filters-disabled-background,
    $active-fontcolor: $richie-search-filters-active-fontcolor,
    $active-fontweight: $richie-search-filters-active-fontweight,
    $active-background: $richie-search-filters-active-background,
    $active-divider-border: $richie-search-filters-active-divider-border,
  );
  cursor: pointer;

  &__count {
    @extend .badge;
    @extend .badge-pill;

    color: $white;
    background: $firebrick6;
  }

  &__close {

    color: $white;
    font-size: $richie-search-filters-icon-font-size;
    font-weight: $font-weight-bold;
  }
}
