.search-filters-pane {
  background: inherit;
  overflow: hidden; // Prevent margin-collapsing as .search-filters-pane has a background

  &__title {
    @include font-size($h6-font-size);
    margin: 0 $r-search-filters-gutter;
    padding: 2rem 0 1rem;
    color: r-theme-val(search-filters-pane, title-color);
  }

  &__clear--hidden {
    visibility: hidden;
  }
}
