.search-filters-pane {
  background: inherit;
  overflow: hidden; // Prevent margin-collapsing as .search-filters-pane has a background

  &__title {
    @include font-size($h6-font-size);
    margin: 0 $r-search-filters-gutter;
    padding: 2rem 0 1rem;
    color: r-theme-val(search-filters-pane, title-color);
  }

  &__clear {
    @include button-reset-style();
    display: block;
    cursor: pointer;
    margin: 0.2rem $r-search-filters-gutter;
    padding: 0rem 0.5rem 0;

    &,
    &:hover,
    &:active {
      color: r-theme-val(search-filters-pane, clearer-hover-color);
    }

    &--hidden {
      visibility: hidden;
    }
  }
}
