# Django
DJANGO_CONFIGURATION=Development
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_SETTINGS_MODULE=settings
DJANGO_RICHIE_LOGGING_LEVEL=DEBUG

# Python
PYTHONPATH=/app/sandbox
PYTHONUNBUFFERED=1

# Synchronization
DJANGO_RICHIE_COURSE_RUN_SYNC_SECRETS=shared secret
