# Authentication Backend
AUTHENTICATION_BASE_URL=https://edx.local.dev:8073
AUTHENTICATION_BACKEND=openedx-hawthorn

# LMS Backend
EDX_BASE_URL=https://edx.local.dev:8073

# Features
FEATURES={'WISHLIST': True, 'REACT_DASHBOARD': True}
