# Authentication Backend
AUTHENTICATION_BASE_URL=http://localhost:8073
AUTHENTICATION_BACKEND=dummy

# LMS Backend
EDX_BASE_URL=http://localhost:8073
EDX_BACKEND=richie.apps.courses.lms.base.BaseLMSBackend
EDX_COURSE_REGEX='^.*/courses/(?P<course_id>.*)/info/?$'
EDX_JS_COURSE_REGEX='^.*/courses/(.*)/info/?$'
EDX_JS_BACKEND=dummy

# Features
FEATURES={'WISHLIST': True, 'REACT_DASHBOARD': True}
