## Locatunnel configuration

LOCALTUNNEL_PORT=8070
LOCALTUNNEL_SUBDOMAIN=dev-${USER}-richie
DOMAIN=localtunnel.me

LOCALTUNNEL_HOST=https://${DOMAIN}
LOCALTUNNEL_DOMAIN=${LOCALTUNNEL_SUBDOMAIN}.${DOMAIN}
LOCALTUNNEL_URL=https://${LOCALTUNNEL_DOMAIN}
