.dashboard-sidebar {
  &__organization-section {
    $padding-inline: r-theme-val(dashboard-sidebar, menu-link-inline-padding);
    padding: rem-calc(16px) rem-calc($padding-inline) 0 rem-calc($padding-inline);

    &__title {
      font-size: 1rem;
      font-weight: bold;
      color: r-theme-val(dashboard-sidebar-organization-link-title, base-color);
    }

    &__link_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: rem-calc(5px);
      margin-top: rem-calc(10px);
    }

    &__link {
      align-items: center;
      border-radius: rem-calc(8px);
      border: thin solid r-theme-val(organization-thumb, border-color);
      display: flex;
      flex: 0 0 32%;
      overflow: hidden;
      justify-content: center;
      padding: rem-calc(2px);
      aspect-ratio: 1 / 1;

      &:hover,
      &:focus,
      &:active {
        border-color: r-theme-val(organization-thumb, border-color-hover);
        box-shadow: 0 0 rem-calc(3px) r-theme-val(organization-thumb, border-color);
        text-decoration: none;
      }

      &__img {
        object-fit: contain;
        object-position: center center;
        aspect-ratio: 1/1;
        border-radius: rem-calc(6px);
      }

      &__abbr {
        font-size: 1.5rem;
        font-family: $r-font-family-montserrat;
        font-weight: $font-weight-boldest;
        text-transform: uppercase;
        display: inline-block;
      }

      @include media-breakpoint-down(lg) {
        max-width: rem-calc(64px);
      }
    }
  }
}
