# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv
dist

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
.cache
.circleci
.vscode
# don't remove the line after, we need .git to build the sandbox image.
!.git

# Assets
data
sandbox/build
sandbox/static/css
src/richie/static/richie/css
!src/richie/static/richie/css/ckeditor.css
src/richie/static/richie/js

# Font-end
**/node_modules
