# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md

# Development/test cache & configurations
.cache
.circleci
.git
.vscode

# Assets
data
sandbox/build
sandbox/static/css

# Font-end
**/node_modules
