# env
.env

# sqlite DB
db.sqlite3
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media
media/
static/

# Settings
local.py

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Vagrant
.vagrant

# PyCharm IDE
.idea/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Eclipse
.settings/

# Rope
.ropeproject

# Sublime-Text:
/*.sublime-project
/*.sublime-workspace

# TextMate 2
.tm_properties

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]
