version: "3.5"

services:
  postgresql:
    image: postgres:9.6
    env_file:
        - env.d/development/postgresql

  mysql:
    image: mysql:5.6
    env_file:
      - env.d/development/mysql
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci

  elasticsearch:
    image: fundocker/openshift-elasticsearch:6.6.2

  app:
    build:
      context: .
      target: development
      args:
        DOCKER_USER: ${DOCKER_USER:-1000}
    image: richie:development
    env_file:
        - env.d/development/common
        - env.d/development/${DB_HOST:-postgresql}
    networks:
      - default
      - lms_outside
    ports:
        - "8070:8000"
    volumes:
      - .:/app
      - ./data/static:/data/static
      - ./data/media:/data/media
      - ./data/smedia:/data/smedia
    depends_on:
      - "${DB_HOST:-postgresql}"
      - "elasticsearch"
    stdin_open: true
    tty: true

  node:
    image: circleci/node:14
    working_dir: /app/src/frontend
    user: "${DOCKER_USER:-1000}"
    volumes:
      - .:/app

  crowdin:
    image: crowdin/cli:3.3.0
    volumes:
      - ".:/app"
    env_file:
      - env.d/development/crowdin
    user: "${DOCKER_USER:-1000}"
    working_dir: /app

  redis-sentinel:
    image: docker.io/bitnami/redis-sentinel:6.0-debian-10
    depends_on:
      - redis-primary
      - redis-replica1
      - redis-replica2
    environment:
      - REDIS_MASTER_HOST=redis-primary

  redis-primary:
    image: docker.io/bitnami/redis:6.0-debian-10
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_REPLICATION_MODE=master

  redis-replica1:
    image: docker.io/bitnami/redis:6.0-debian-10
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_REPLICATION_MODE=slave
      - REDIS_MASTER_HOST=redis-primary
    depends_on:
      - redis-primary

  redis-replica2:
    image: docker.io/bitnami/redis:6.0-debian-10
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_REPLICATION_MODE=slave
      - REDIS_MASTER_HOST=redis-primary
    depends_on:
      - redis-primary

  dockerize:
    image: jwilder/dockerize

networks:
  lms_outside:
    driver: bridge
    name: "${RICHIE_LMS_NETWORK:-edx_outside}"

