.search-filter-group-modal {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-between;
  max-width: 30rem;

  &__close {
    position: absolute;
    right: 0;
    top: 0.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__input {
      width: 100%;
      padding: 0.5rem 1rem;
      color: r-theme-val(search-filters-group-modal, input-color);
      background: r-theme-val(search-filters-group-modal, input-background);
      border: none;
    }

    &__error {
      padding: 1rem;
    }

    &__values {
      margin: 0;
      padding: 0;
      list-style-type: none;

      &__item {
        & > button {
          width: 100%;
          padding: 0.5rem 1rem;
          text-align: left;
          background: inherit;
          border: none;
          border-bottom: 1px solid r-theme-val(search-filters-group-modal, item-border);
          color: inherit;
        }
      }
    }
  }

  &__more-results {
    padding: 0.5rem 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    color: r-theme-val(search-filters-group-modal, close-color);
    background: r-theme-val(search-filters-group-modal, close-background);
    border: none;
    border-top: 1px solid r-theme-val(search-filters-group-modal, close-border);
    margin-top: -1px; // Avoid having a double border when the button overlaps with a list item
  }

  &-button {
    margin-top: 1rem;
    font-weight: $font-weight-boldest;
  }
}
