$richie-course-detail-row-fontsize: 0.95rem;

.course-detail {
  @include make-container-max-widths();
  margin: 0 auto;
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__title{
    @include sv-flex-cell-width(100%);
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    font-size: 2.6rem;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }

    &::after{
      $divider-width: 10rem;
      content: "";
      position: absolute;
      width: $divider-width;
      left: calc(50% - #{$divider-width / 2});
      bottom: 0;
      border-bottom: 1px solid $gray40;
    }
  }

  &__content {
    @include sv-flex-cell-width(100%);
    margin: 0;
    padding: 0;
    background: $richie-content-container-bg;

    @include media-breakpoint-up(lg) {
      @include sv-flex-cell-width(70%);
    }

    &__row{
      $row-selector: &;
      margin: 0;
      padding: 1.5rem 1rem;

      &__title{
        color: $dodgerblue3;
      }

      p, li{
        font-size: $richie-course-detail-row-fontsize;
      }

      // Automatically alternate bg color on odd/even items
      &--even{
        color: $white;
        background: $dodgerblue7;

        #{$row-selector}__title{
          color: inherit;
        }
      }
    }

    &__teaser {
      @include sv-flex-cell-width(100%);
      margin: 0;
      padding: 0;
      /**
      * Code below replicate .reponsive-embed from Bootstrap with forced 16/9
      * cause we cannot use object-fit since it is not compatible under IE
      * Edge 16. For not forced ratio we may use something like flex-video
      * (which involve some JS)
      */
      position: relative;
      display: block;
      overflow: hidden;

      &::before {
        display: block;
        content: "";
        padding-top: percentage(9 / 16);
      }

      iframe,
      embed,
      object,
      video {
        position: absolute;
        top: 1.5rem;
        bottom: 1.5rem;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 3rem);
        border: 0;
      }
    }

    &__team{
      $richie-course-detail-team-gutter: 0.5rem;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__title{
        @include sv-flex(1, 0, 100%);
      }

      .person-plugin{
        @include sv-flex(1, 0, calc(100% - #{$richie-course-detail-team-gutter * 2}));
        margin: $richie-course-detail-team-gutter;

        @include media-breakpoint-up(lg) {
          @include sv-flex(1, 0, calc(50% - #{$richie-course-detail-team-gutter * 2}));
        }

        &__content__title{
          font-size: 1.4rem;
          color: $dodgerblue5;
          text-transform: uppercase;
        }
      }
    }

    &__license{
      &__item{
        margin-top: 1rem;
        font-size: $richie-course-detail-row-fontsize;

        &__title{
          margin-bottom: 0.75rem;
          color: $dodgerblue3;
        }
      }
    }
  }

  &__aside {
    @include sv-flex-cell-width(100%);
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(lg) {
      @include sv-flex-cell-width(30%);
    }

    &__main-org-logo{
      margin: 0;
      padding: 1rem;
      background: $white;

      img{
        display: block;
        width: auto;
        max-width: 100%;
        margin: auto;
      }
    }

    &__cover{
      img{
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    &__run{
      margin: 0;
      padding: 1rem;
      color: $white;
      background: $dodgerblue1;

      &__title{
        margin: 0;
        padding: 0.5rem 0.1rem 0;
        font-size: 1.8rem;
        color: $dodgerblue5;
        line-height: 1.1;
        text-align: center;
      }

      &__item{
        $item-selector: &;
        position: relative;
        margin: 0 1rem;
        padding: 2rem 0;
        font-size: 0.9rem;
        list-style-type: none;

        &__row{
            $row-selector: &;
            margin: 0;
            padding: 0;

            &__title{
              margin: 0 0 0.1rem 0;
              font-weight: bold;
              text-transform: uppercase;
            }

            &__date{
              margin: 0;
            }

            &__cta{
              display: block;
              width: 100%;
              padding: 0.3rem;
              color: $white;
              text-align: center;
              text-transform: uppercase;
              background: $dodgerblue5;
              border: 0;

              &:hover{
                color: $white;
                text-decoration: none;
                background: lighten($dodgerblue5, 5%);
              }

              &--archived,
              &--projected{
                color: $gray40;
                background: $gray80;

                &:hover{
                  color: $gray40;
                  background: $gray80;
                }
              }
            }

            & + #{$row-selector}{
              margin-top: 0.8rem;
            }
        }

        & + #{$item-selector}::before{
          content: "";
          display: block;
          width: 50%;
          position: absolute;
          top: 0;
          left: 25%;
          border-top: 1px solid darken($light, 20%);
        }
      }
    }
  }
}
