$richie-course-detail-breakpoint: lg;
// TODO: Change every value below to 'null !default' after copying it to settings
$richie-course-detail-title-margin: 0 0 1rem 0;
$richie-course-detail-title-padding: 1rem 0;
$richie-course-detail-title-fontsize: 2.6rem;
$richie-course-detail-title-fontsize-large: 3rem;
$richie-course-detail-title-fontweight: normal;
$richie-course-detail-title-lineheight: 1.1;
$richie-course-detail-title-textalign: center;
$richie-course-detail-title-underline-width: 10rem;
$richie-course-detail-title-underline-border: 1px solid $gray40;

$richie-course-detail-content-width-large: 70%;
$richie-course-detail-content-margin: 0;
$richie-course-detail-content-padding: 0;

$richie-course-detail-row-margin: 0;
$richie-course-detail-row-padding: 1.5rem 1rem;
$richie-course-detail-row-fontsize: 0.95rem;
$richie-course-detail-row-even-fontcolor: $white;
$richie-course-detail-row-even-background: $dodgerblue7;
$richie-course-detail-row-title-fontcolor: $dodgerblue3;

$richie-course-detail-subjects-justify: center;
$richie-course-detail-subjects-margin: 0 0 0.3rem 0;
$richie-course-detail-subjects-padding: 0.25rem 0.4rem;
$richie-course-detail-subjects-fontsize: 0.7rem;
$richie-course-detail-subjects-fontcolor: $white;
$richie-course-detail-subjects-background: $gray7;
$richie-course-detail-subjects-empty-fontcolor: $gray40;
$richie-course-detail-subjects-empty-textalign: center;
$richie-course-detail-subjects-divider-margin: 0.3rem;

$richie-course-detail-teaser-margin: 0;
$richie-course-detail-teaser-padding: 0;
$richie-course-detail-teaser-object-padding-vertical: 1.5rem;
$richie-course-detail-teaser-object-padding-horizontal: 1rem;

$richie-course-detail-team-gutter: 0.5rem;
$richie-course-detail-team-width-large: 50%;
$richie-course-detail-team-title-fontsize: 1.4rem;
$richie-course-detail-team-title-fontcolor: $dodgerblue5;

$richie-course-detail-license-margin: 1rem 0 0 0;
$richie-course-detail-license-title-margin: 0 0 0.75rem 0;
$richie-course-detail-license-title-fontcolor: $dodgerblue3;

$richie-course-detail-aside-with-large: 30%;
$richie-course-detail-aside-margin: 0;
$richie-course-detail-aside-padding: 0;

$richie-course-detail-aside-main-org-margin: 0;
$richie-course-detail-aside-main-org-padding: 1rem;
$richie-course-detail-aside-main-org-background: $white;

.course-detail {
  @include make-container-max-widths();
  margin: 0 auto;
  padding: 0;

  @include media-breakpoint-up($richie-course-detail-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__title{
    @include sv-flex-cell-width(100%);
    position: relative;
    margin: $richie-course-detail-title-margin;
    padding: $richie-course-detail-title-padding;
    font-size: $richie-course-detail-title-fontsize;
    font-weight: $richie-course-detail-title-fontweight;
    line-height: $richie-course-detail-title-lineheight;
    text-align: $richie-course-detail-title-textalign;

    @include media-breakpoint-up($richie-course-detail-breakpoint) {
      font-size: $richie-course-detail-title-fontsize-large;
    }

    &::after{
      $divider-width: 10rem;
      content: "";
      position: absolute;
      width: $richie-course-detail-title-underline-width;
      left: calc(50% - #{$richie-course-detail-title-underline-width / 2});
      bottom: 0;
      border-bottom: $richie-course-detail-title-underline-border;
    }
  }

  &__content {
    @include sv-flex-cell-width(100%);
    margin: $richie-course-detail-content-margin;
    padding: $richie-course-detail-content-padding;
    background: $richie-content-container-bg;

    @include media-breakpoint-up($richie-course-detail-breakpoint) {
      @include sv-flex-cell-width($richie-course-detail-content-width-large);
    }

    &__row{
      $row-selector: &;
      margin: $richie-course-detail-row-margin;
      padding: $richie-course-detail-row-padding;

      &__title{
        color: $richie-course-detail-row-title-fontcolor;
      }

      p, li{
        font-size: $richie-course-detail-row-fontsize;
      }

      // Automatically alternate bg color on odd/even items
      &--even{
        color: $richie-course-detail-row-even-fontcolor;
        background: $richie-course-detail-row-even-background;

        #{$row-selector}__title{
          color: inherit;
        }
      }
    }

    &__subjects{
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: $richie-course-detail-subjects-justify;

      &__item{
        $item-selector: &;

        @include sv-flex(0, 0, auto);
        margin: $richie-course-detail-subjects-margin;
        padding: $richie-course-detail-subjects-padding;
        font-size: $richie-course-detail-subjects-fontsize;
        color: $richie-course-detail-subjects-fontcolor;
        background: $richie-course-detail-subjects-background;
        text-decoration: none;

        &:hover{
          color: $richie-course-detail-subjects-fontcolor;
        }

        &--empty{
          @include sv-flex(1, 0, 100%);
          font-style: italic;
          color: $richie-course-detail-subjects-empty-fontcolor;
          text-align: $richie-course-detail-subjects-empty-textalign;
          background: transparent;

          &:hover{
            color: $richie-course-detail-subjects-empty-fontcolor;
          }
        }

        & + #{$item-selector}{
          margin-left: $richie-course-detail-subjects-divider-margin;
        }
      }
    }

    &__teaser {
      @include sv-flex-cell-width(100%);
      margin: $richie-course-detail-teaser-margin;
      padding: $richie-course-detail-teaser-padding;
      /**
      * Code below replicate .reponsive-embed from Bootstrap with forced 16/9
      * cause we cannot use object-fit since it is not compatible under IE
      * Edge 16. For not forced ratio we may use something like flex-video
      * (which involve some JS)
      */
      position: relative;
      display: block;
      overflow: hidden;

      &::before {
        display: block;
        content: "";
        padding-top: percentage(9 / 16);
      }

      iframe,
      embed,
      object,
      video {
        position: absolute;
        top: $richie-course-detail-teaser-object-padding-vertical;
        bottom: $richie-course-detail-teaser-object-padding-vertical;
        left: $richie-course-detail-teaser-object-padding-horizontal;
        right: $richie-course-detail-teaser-object-padding-horizontal;
        width: calc(100% - #{$richie-course-detail-teaser-object-padding-horizontal * 2});
        height: calc(100% - #{$richie-course-detail-teaser-object-padding-vertical * 2});
        border: 0;
      }
    }

    &__team{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__title{
        @include sv-flex(1, 0, 100%);
      }

      .person-plugin{
        @include sv-flex(1, 0, calc(100% - #{$richie-course-detail-team-gutter * 2}));
        margin: $richie-course-detail-team-gutter;

        @include media-breakpoint-up($richie-course-detail-breakpoint) {
          @include sv-flex(1, 0, calc(#{$richie-course-detail-team-width-large} - #{$richie-course-detail-team-gutter * 2}));
        }

        &__content__title{
          font-size: $richie-course-detail-team-title-fontsize;
          color: $richie-course-detail-team-title-fontcolor;
          text-transform: uppercase;
        }
      }
    }

    &__license{
      &__item{
        margin: $richie-course-detail-license-margin;
        font-size: $richie-course-detail-row-fontsize;

        &__title{
          margin: $richie-course-detail-license-title-margin;
          color: $richie-course-detail-license-title-fontcolor;
        }
      }
    }
  }

  &__aside {
    @include sv-flex-cell-width(100%);
    margin: $richie-course-detail-aside-margin;
    padding: $richie-course-detail-aside-padding;

    @include media-breakpoint-up($richie-course-detail-breakpoint) {
      @include sv-flex-cell-width(#{$richie-course-detail-aside-with-large});
    }

    &__main-org-logo{
      margin: $richie-course-detail-aside-main-org-margin;
      padding: $richie-course-detail-aside-main-org-padding;
      background: $richie-course-detail-aside-main-org-background;

      img{
        display: block;
        width: auto;
        max-width: 100%;
        margin: auto;
      }
    }

    &__cover{
      img{
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    &__run{
      margin: 0;
      padding: 1rem;
      color: $white;
      background: $dodgerblue1;

      &__title{
        margin: 0;
        padding: 0.5rem 0.1rem 0;
        font-size: 1.8rem;
        color: $dodgerblue5;
        line-height: 1.1;
        text-align: center;
      }

      &__item{
        $item-selector: &;
        position: relative;
        margin: 0 1rem;
        padding: 2rem 0;
        font-size: 0.9rem;
        list-style-type: none;

        &__row{
            $row-selector: &;
            margin: 0;
            padding: 0;

            &__title{
              margin: 0 0 0.1rem 0;
              font-weight: bold;
              text-transform: uppercase;
            }

            &__date{
              margin: 0;
            }

            &__cta{
              display: block;
              width: 100%;
              padding: 0.3rem;
              color: $white;
              text-align: center;
              text-transform: uppercase;
              background: $dodgerblue5;
              border: 0;

              &:hover{
                color: $white;
                text-decoration: none;
                background: lighten($dodgerblue5, 5%);
              }

              &--archived,
              &--projected{
                color: $gray40;
                background: $gray80;

                &:hover{
                  color: $gray40;
                  background: $gray80;
                }
              }
            }

            & + #{$row-selector}{
              margin-top: 0.8rem;
            }
        }

        & + #{$item-selector}::before{
          content: "";
          display: block;
          width: 50%;
          position: absolute;
          top: 0;
          left: 25%;
          border-top: 1px solid darken($light, 20%);
        }
      }
    }
  }
}
