{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n extra_tags %}
{% block content %}
{% spaceless %}
<div class="blogpost-detail">
  <h1 class="blogpost-detail__title">{% render_model current_page "title" %}</h1>

  <div class="blogpost-detail__subhead">
    <p class="blogpost-detail__subhead__date">
      {{ current_page.creation_date|date:"SHORT_DATE_FORMAT" }}
    </p>

    {% with form_factor="tag" %}
      {% page_placeholder "author" current_page as blogpost_author_content %}
      {% if blogpost_author_content %}
      <div class="blogpost-detail__subhead__author">
        {{ blogpost_author_content }}
      </div>
      {% endif %}
    {% endwith %}

    {% include "social-networks/blogpost-badges.html" with page_title=request.current_page.get_title page_url=request.current_page.get_absolute_url %}
  </div>

  {% with form_factor="tag" %}
    {% page_placeholder "categories" current_page as blogpost_categories_content %}
    {% if blogpost_categories_content %}
    <div class="blogpost-detail__categories">
      {{ blogpost_categories_content }}
    </div>
    {% endif %}
  {% endwith %}

  <div class="blogpost-detail__cover">
    {% placeholder "cover" or %}
      <p class="blogpost-detail__cover__empty">{% trans "Cover" %}</p>
    {% endplaceholder %}
  </div>

  <div class="blogpost-detail__excerpt">
    {% placeholder "excerpt" or %}
      <p class="blogpost-detail__excerpt__empty">
        {% trans "No excerpt content" %}
      </p>
    {% endplaceholder %}
  </div>

  <div class="blogpost-detail__body">
    {% placeholder "body" or %}
      <p class="blogpost-detail__body__empty">
        {% trans "No body content" %}
      </p>
    {% endplaceholder %}
  </div>

</div>
{% endspaceless %}
{% endblock content %}
