{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n %}

{% block content %}{% spaceless %}
{% with category=current_page.category header_level=2 %}
<div class="category-detail">
  <div class="category-detail__banner">
    {% placeholder "banner" %}
  </div>

  <div class="category-detail__logo">
    {% with width=216 height=120 %}
      {% placeholder "logo" %}
    {% endwith %}
  </div>

  <h1 class="category-detail__title">{% render_model request.current_page "titles" %}</h1>

  <div class="category-detail__content">
    <div class="category-detail__content__description">
      {% placeholder "description" %}
    </div>
  </div>
</div>


<div class="blogpost-glimpse-list">
  <h2 class="blogpost-glimpse-list__title">{% trans "Related news" %}</h2>
  {% for blogpost in category.get_blogposts %}
    {# If the current page is a draft, show draft courses with a class annotation for styling #}
    {% if current_page.publisher_is_draft %}
      {% if blogpost.check_publication is True %}
      <a class="blogpost-glimpse blogpost-glimpse--link" href="{{ blogpost.public_extension.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_blogpost_glimpse.html" with blogpost=blogpost.public_extension.extended_object %}
      </a>
      {% else %}
      <a class="blogpost-glimpse blogpost-glimpse--link blogpost-glimpse--draft" href="{{ blogpost.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_blogpost_glimpse.html" with blogpost=blogpost.extended_object %}
      </a>
      {% endif %}
    {# If the current blogpost page is the published version, show only the blogposts that are published #}
    {% elif blogpost.check_publication is True %}
      <a class="blogpost-glimpse blogpost-glimpse--link" href="{{ blogpost.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_blogpost_glimpse.html" with blogpost=blogpost.public_extension.extended_object %}
      </a>
    {% endif %}
  {% empty %}
    <p class="blogpost-glimpse blogpost-glimpse--empty">
      {% trans "No associated blogposts" %}
    </p>
  {% endfor %}
</div>

<div class="course-glimpse-list">
  <h2 class="course-glimpse-list__title">{% trans "Related courses" %}</h2>
  {% for course in category.get_courses %}
    {# If the current page is a draft, show draft courses with a class annotation for styling #}
    {% if current_page.publisher_is_draft %}
      {% if course.check_publication is True %}
      <a class="course-glimpse course-glimpse--link" href="{{ course.public_extension.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_course_glimpse.html" with course=course.public_extension %}
      </a>
      {% else %}
      <a class="course-glimpse course-glimpse--link course-glimpse--draft" href="{{ course.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_course_glimpse.html" with course=course %}
      </a>
      {% endif %}
    {# If the current course page is the published version, show only the courses that are published #}
    {% elif course.check_publication is True %}
      <a class="course-glimpse course-glimpse--link" href="{{ course.extended_object.get_absolute_url }}">
        {% include "courses/cms/fragment_course_glimpse.html" with course=course.public_extension %}
      </a>
    {% endif %}
  {% empty %}
    <p class="course-glimpse course-glimpse--empty">
      {% trans "No associated courses" %}
    </p>
  {% endfor %}
</div>

{% endwith %}
{% endspaceless %}{% endblock content %}
