{% load i18n cms_tags %}{% spaceless %}
<div class="course-detail__aside__main-org-logo">
  {% if organization %}
    {% with organization_page=organization.extended_object %}
      <a href="{{ organization_page.get_absolute_url }}" title="{{ organization_page.get_title }}">
        {% show_placeholder "logo" organization_page as logo %}
        {% if logo %}
          {{ logo }}
        {% else %}
          <div class="course-detail__aside__main-org-logo__empty">
            {% trans "Main organization" %}
          </div>
        {% endif %}
      </a>
    {% endwith %}
  {% else %}
    <div class="course-detail__aside__main-org-logo__empty">
      {% trans "Main organization" %}
    </div>
  {% endif %}
</div>
{% endspaceless %}
