{% load i18n cms_tags extra_tags %}
{% comment %}Obviously, the context template variable "person" is required and must be a Person page extension{% endcomment %}
{% with person_page=person.extended_object %}
<div class="person-glimpse">
  <a class="person-glimpse__media" href="{{ person_page.get_absolute_url }}"
      title="{{ person.get_full_name }} {% trans "avatar" %}">
    {% with width=200 height=200 %}
      {% page_placeholder "portrait" person_page as portrait %}
      {% if portrait %}
          {{ portrait }}
      {% else %}
          <div class="person-glimpse__media__empty">
          {% trans "Portrait" %}
          </div>
      {% endif %}
    {% endwith %}
  </a>
  <div class="person-glimpse__content">
    <div class="person-glimpse__content__wrapper">
      <a href="{{ person_page.get_absolute_url }}" title="{{ person.get_full_name }}">
        <h{{ header_level|default:2 }} class="person-glimpse__content__wrapper__title">
          {{ person.get_full_name }}
        </h{{ header_level|default:2 }}>
      </a>
      <div class="person-glimpse__content__wrapper__categories">
        {% with form_factor="tag" %}
          {% page_placeholder "categories" person_page %}
        {% endwith %}
      </div>
      <div class="person-glimpse__content__wrapper__resume">
        {% page_placeholder "resume" person_page %}
      </div>
    </div>
  </div>
</div>
{% endwith %}