{% load i18n cms_tags extra_tags thumbnail %}
{% comment %}Obviously, the context template variable "organization" is required and must be an Organization page extension{% endcomment %}
{% comment %}
CHANGELOG:
- Added 'organization-glimpse--long' optional class
- Added 'organization-glimpse__excerpt' optional content block
- Added 'variant == "long"' behavior management for previously announced changes
- Added org title to image alt attribute
- Added 'title' attribute on link
- Moved title and excerpt inside a content wrapper
{% endcomment %}
{% with organization_page=organization.extended_object %}
<a class="organization-glimpse organization-glimpse--link{% if variant %} organization-glimpse--{{ variant }}{% endif %}{% if organization_page.publisher_is_draft is True %} organization-glimpse--draft{% endif %}"
    href="{{ organization_page.get_absolute_url }}"
    title="{{ organization_page.get_title }}"
>
    <div class="organization-glimpse__logo">
        {% get_page_plugins "logo" organization_page as plugins or %}
            <p class="organization-glimpse__empty">{% trans "Logo" %}</p>
        {% endget_page_plugins %}
        {% blockplugin plugins.0 %}
            <img src="{% thumbnail instance.picture 200x113 upscale subject_location=instance.picture.subject_location %}"
                srcset="
                    {% thumbnail instance.picture 200x113 upscale subject_location=instance.picture.subject_location %} 200w
                    {% if instance.picture.width >= 400 %},{% thumbnail instance.picture 400x225 upscale subject_location=instance.picture.subject_location %} 400w{% endif %}
                    {% if instance.picture.width >= 600 %},{% thumbnail instance.picture 600x338 upscale subject_location=instance.picture.subject_location %} 600w{% endif %}
                    {% if instance.picture.width >= 800 %},{% thumbnail instance.picture 800x450 upscale subject_location=instance.picture.subject_location %} 800w{% endif %}
                "
                sizes="(min-width: 576px) 50vw, (min-width: 1200px) 25vw, 100vw"
                alt="{{ organization_page.get_title }}"
            />
        {% endblockplugin %}
    </div>
    <div class="organization-glimpse__content">
        <div class="organization-glimpse__title">
            {{ organization_page.get_title }}
        </div>
        {% if variant == "row" %}
        <div class="organization-glimpse__excerpt">
            {% get_placeholder_plugins "description" organization_page as plugins or %}
                {% trans "Description" %}
            {% endget_placeholder_plugins %}
            {% blockplugin plugins.0 %}
                {{ instance.body|truncatewords_html:40|safe }}
            {% endblockplugin %}
        </div>
        {% endif %}
    </div>
</a>
{% endwith %}
