{% extends "richie/fullwidth.html" %}
{% load cms_tags extra_tags i18n pagination_tags static thumbnail %}

{% block meta_html_default %}
    {% if not current_page|is_empty_placeholder:"bio" %}
        <meta name="description" content="{% filter slice:":160" %}{% show_placeholder 'bio' current_page %}{% endfilter %}" />
    {% endif %}
{% endblock meta_html_default %}

{% block meta_rdfa_context %}
    <meta property="og:type" content="profile" />

    {% get_placeholder_plugins "portrait" as og_image_plugins %}
    {% if og_image_plugins.0 %}
        {% thumbnail og_image_plugins.0.picture 200x200 replace_alpha='#FFFFFF' crop upscale subject_location=og_image_plugins.0.picture.subject_location as thumb %}
        <meta property="og:image" content="{{ MEDIA_URL_PREFIX }}{{ thumb.url }}" />
        <meta property="og:image:width" content="{{ thumb.width }}" />
        <meta property="og:image:height" content="{{ thumb.height }}" />
    {% endif %}
    {% if not current_page|is_empty_placeholder:"bio" %}
        <meta property="og:description" content="{% filter slice:":200" %}{% show_placeholder 'bio' current_page %}{% endfilter %}" />
    {% endif %}
{% endblock meta_rdfa_context %}

{% block body_rdfa %} vocab="https://schema.org/" typeof="Person"{% endblock body_rdfa %}

{% block subheader %}
<div class="subheader subheader--alternative">
    {% block breadcrumbs %}
    {% include "menu/breadcrumbs.html" %}
    {% endblock breadcrumbs %}

    {% block subheader_content %}{% spaceless %}
        {% with person=current_page.person header_level=2 %}
            {% if person %}
            <div class="subheader__container">
                <div class="subheader__intro">
                    <div class="subheader__main">
                        <h1 class="subheader__title">{% render_model current_page "title" %}</h1>

                        {% if current_page.publisher_is_draft or not current_page|is_empty_placeholder:"categories" %}
                        <div class="category-badge-list category-badge-list--tertiary">
                            <div class="category-badge-list__container">
                            {% with category_variant="badge" %}
                                {% placeholder "categories" or %}
                                    <span class="category-badge-list__empty">
                                        {% trans "No associated categories" %}
                                    </span>
                                {% endplaceholder %}
                            {% endwith %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="subheader__content">
                            {% placeholder "bio" or %}
                                <p class="subheader__empty">{% trans "Enter your bio here..." %}</p>
                            {% endplaceholder %}
                        </div>
                    </div>

                    <div class="subheader__aside">
                        <div class="subheader__cartouche">
                            {% placeholder_as_plugins "portrait" as plugins or %}
                            <div class="subheader__media subheader__media--locket subheader__empty">
                                <img src="{% static "richie/images/empty/person_portrait.png" %}"
                                        class="subheader__empty--avatar"
                                        alt="">
                            </div>
                            {% endplaceholder_as_plugins %}
                            {% blockplugin plugins.0 %}
                            <div class="subheader__media subheader__media--locket">
                                <img
                                    src="{% thumbnail instance.picture 200x200 replace_alpha='#FFFFFF' crop upscale subject_location=instance.picture.subject_location %}"
                                    srcset="
                                        {% thumbnail instance.picture 200x200 replace_alpha='#FFFFFF' crop upscale subject_location=instance.picture.subject_location %} 200w
                                        {% if instance.picture.width >= 400 %},{% thumbnail instance.picture 400x400 replace_alpha='#FFFFFF' crop upscale subject_location=instance.picture.subject_location %} 400w{% endif %}
                                        {% if instance.picture.width >= 600 %},{% thumbnail instance.picture 600x600 replace_alpha='#FFFFFF' crop upscale subject_location=instance.picture.subject_location %} 600w{% endif %}
                                    "
                                    sizes="200px"
                                    alt="{% if instance.picture.default_alt_text %}{{ instance.picture.default_alt_text }}{% else %}{% blocktrans with title=current_page.get_title %}{{ title }} avatar{% endblocktrans %}{% endif %}"
                                />
                            </div>
                            {% endblockplugin %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endwith %}
    {% endspaceless %}{% endblock subheader_content %}
</div>
{% endblock subheader %}

{% block content %}{% spaceless %}

{% with person=current_page.person header_level=2 %}
    {% if person %}
    <div class="person-detail">
        {% if current_page.publisher_is_draft or not current_page|is_empty_placeholder:"maincontent" %}
        <div class="person-detail__maincontent person-detail__block">
            <div class="person-detail__row">
                {% placeholder "maincontent" %}
            </div>
        </div>
        {% endif %}

        {% if current_page.publisher_is_draft or not current_page|is_empty_placeholder:"organizations" %}
        <div class="person-detail__organizations person-detail__block person-detail__block--gradient-neutral person-detail__block--arc">
            <div class="person-detail__row">
                <section class="organization-glimpse-list">
                    <h2 class="person-detail__title">{% trans "Organizations" %}</h2>
                    {% placeholder "organizations" or %}
                        <p class="organization-glimpse-list__empty">
                            {% trans "No associated organizations" %}
                        </p>
                    {% endplaceholder %}
                </section>
            </div>
        </div>
        {% endif %}

        {% with courses=person.get_courses %}
            {% if courses %}
                {% autopaginate courses GLIMPSE_PAGINATION_COURSES %}
                <div id="page{{ page_suffix }}" class="person-detail__courses person-detail__block">
                    <div class="person-detail__row">
                        <section class="course-glimpse-list">
                            <div class="course-glimpse-list__header">
                                <h2 class="person-detail__title">{% trans "Courses" %}</h2>
                            </div>
                            <div class="course-glimpse-list__content">
                                {% for course in page_obj.object_list %}
                                    {% include "courses/cms/fragment_course_glimpse.html" with course=course header_level=3 %}
                                {% endfor %}
                                {% if paginator.num_pages > 1 %}
                                    {% include "richie/pagination.html" with label=_("Courses pagination") %}
                                    <div class="button-caesura">
                                        <a href="{% page_url 'courses' %}?persons={{ person.extended_object_id }}" class="person-detail__see-more">
                                        {% blocktrans with person_title=person.extended_object.get_title %}
                                            See all courses related to {{ person_title }}
                                        {% endblocktrans %}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% with blogposts=person.get_blogposts|order_by:"-extended_object__publication_date" %}
            {% if blogposts %}
                {% autopaginate blogposts GLIMPSE_PAGINATION_BLOGPOSTS %}
                <div id="page{{ page_suffix }}" class="person-detail__blogposts person-detail__block person-detail__block--divider">
                    <div class="person-detail__row">
                        <section class="blogpost-glimpse-list">
                            <h2 class="person-detail__title">{% trans "Blogposts" %}</h2>
                            {% for blogpost in page_obj.object_list %}
                                {% include "courses/cms/fragment_blogpost_glimpse.html" with blogpost=blogpost header_level=3 %}
                            {% endfor %}
                            {% if paginator.num_pages > 1 %}
                                {% include "richie/pagination.html" with label=_("Blogposts pagination") %}
                            {% endif %}
                        </section>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {% else %}
        {% include "courses/cms/fragment_error_detail_template_banner.html" with model="person" %}
    {% endif %}
{% endwith %}
{% endspaceless %}{% endblock content %}
