{% extends "richie/fullwidth.html" %} {% load cms_tags i18n %} {% block content %}
<div class="person-detail">
  <h1 class="person-detail__title">
    {% render_model_block current_page.person %}
      {{ instance.person_title.title }} {{ instance.first_name }} {{ instance.last_name }}
    {% endrender_model_block %}
  </h1>

  <div class="person-detail__card">
    {% with header_level=2 %}
      <div class="person-detail__card__media">
        {% with width=216 height=120 %}
          {% placeholder "portrait" or %}
            <div class="person-detail__card__media__empty">{% trans "Portrait" %}</div>
          {% endplaceholder %}
        {% endwith %}
      </div>

      <div class="person-detail__card__content">
        <div class="person-detail__card__content__wrapper">
          {% placeholder "resume" or %}
            <p class="person-detail__card__content__wrapper__empty">{% trans "Enter your bio here..." %}</p>
          {% endplaceholder %}

          {% placeholder "maincontent" %}
        </div>
      </div>

    {% endwith %}
  </div>

</div>
{% endblock content %}
