{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n pagination_tags %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="person-glimpse-list">
  <h1 class="person-glimpse-list__title">{{ current_page.get_title }}</h1>

  {% autopaginate current_page.get_child_pages 25 as object_list %}
  {% for page in object_list %}
    {% if page.person %}
      {% include "courses/cms/fragment_person_glimpse.html" with person=page.person %}
    {% endif %}
  {% empty %}
    <p class="person-glimpse person-glimpse--empty">
      {% trans "No persons" %}
    </p>
  {% endfor %}

  {% if object_list %}
    {% paginate using "richie/pagination.html" %}
  {% endif %}
</div>
{% endblock content %}
