{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n %}

{% block content %}{% spaceless %}
{% with subject=current_page.subject header_level=2 %}
<div class="subject-detail">
  <div class="subject-detail__banner">
    {% placeholder "banner" %}
  </div>

  <div class="subject-detail__logo">
    {% with width=216 height=120 %}
      {% placeholder "logo" %}
    {% endwith %}
  </div>

  <h1 class="subject-detail__title">{{ current_page.get_title }}</h1>

  <div class="subject-detail__content">
    <div class="subject-detail__content__description">
      {% placeholder "description" %}
    </div>
  </div>
</div>

{% endwith %}
{% endspaceless %}{% endblock content %}
