/*
  CourseProductList component styles
*/
.product-widget {
  background-color: white;
  border: 6px solid r-theme-val(product-item, base-border);
  border-radius: 6px;
  min-height: 100px;
  overflow: hidden;

  &--has-error {
    align-items: center;
    border-color: r-theme-val(product-item, feedback-color);
    display: flex;

    & > .product-widget__content {
      color: r-theme-val(product-item, feedback-color);
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & &__overlay {
    background-color: r-theme-val(modal, overlay-background);
    border-radius: 6px;
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  & &__header {
    background-color: r-theme-val(product-item, base-border);
    color: r-theme-val(product-item, light-color);
    justify-content: space-between;
    padding: 1rem 0.5rem;

    &-main {
      align-items: flex-start;
      display: flex;
      font-family: $r-font-family-montserrat;
      font-weight: bold;
      justify-content: space-between;
    }

    &-metadata {
      font-weight: 500;
      line-height: rem-calc(30px);
      margin-bottom: 0;

      & > .icon {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    & .product-widget__title {
      color: r-theme-val(product-item, light-color);
      font-size: 1.5rem;
    }

    & .product-widget__price {
      background-color: r-theme-val(product-item, light-color);
      border-radius: 100vw;
      color: r-theme-val(product-item, base-border);
      font-size: 0.81rem;
      margin-bottom: 0;
      margin-left: rem-calc(8px);
      padding: 0.375rem 0.81rem;
      white-space: nowrap;
    }
  }

  .selector {
    font-family: $r-font-family-hind;
    font-weight: 500;
    z-index: 9999;

    &__button {
      padding: 0;
    }

    &__list {
      left: inherit;
      top: calc(100% + 1rem);
      white-space: nowrap;

      &:before,
      &:after {
        left: inherit;
        right: 0;
      }
    }

    &__list__link {
      cursor: pointer;
    }
  }

  &__content {
    @include m-o-list-group__container;
    color: r-theme-val(product-item, base-color);
    list-style: none;
    padding: 1.25rem 2rem;
  }

  &__item {
    margin-bottom: 0;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    & .product-widget__item-title.h5 {
      color: currentColor;
      display: block;
      font-size: 1rem;
      margin-bottom: 2px;
    }

    &-description {
      color: r-theme-val(product-item, lighter-color);
      font-size: 0.8125rem;
      line-height: 1.4em;
    }
  }

  &__footer {
    padding: 0 0.875rem 1rem 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__message {
      text-align: center;
    }

    &__order-group {
      text-align: center;

      p {
        margin-top: 0.25rem;
      }
    }
  }

  // Compact variant
  &--compact {
    .product-widget__footer {
      padding: 1rem 0.875rem;
    }
  }

  // Purchased variant
  &--purchased {
    .product-widget__footer {
      display: none;
    }
  }
}
