.search-loader-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-loader {
  border: 0.125rem solid transparent;
  border-left-color: $dodgerblue5;
  border-top-color: $dodgerblue5;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: baseline;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
