// Main body content container
.body-content {
  background: r-theme-val(body-content, base-background);
  flex: 1;
  position: relative;

  // Insert footer decoration
  @if r-theme-val(body-content, insert-background-image) {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 5vw;
      position: absolute;
      bottom: -0.05rem;
      left: 0;
      right: 0;
      background-image: r-theme-val(body-content, insert-background-image);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100% 100%;
    }
  }

  & > .richie-react--user-logout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

// Container relative to some modal components
#modal-exclude {
  // Enforce relative position to absorb gap introduced by some more top
  // level components like DjangoCMS toolbar, so possible absolute positions
  // from children (like topbar) is correctly calculated when toolbar is displayed.
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
