// Enforce html and body elements to take full document height
html,
body {
  height: 100%;
}

// Main body content container
.body-content {
  // Enforce this block to spread if its parent does not cover the full body height
  @include sv-flex(1, 0, auto);
  background: r-theme-val(body-content, base-background);
  position: relative;

  // Insert footer decoration
  @if r-theme-val(body-content, insert-background-image) {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 5vw;
      position: absolute;
      bottom: -0.05rem;
      left: 0;
      right: 0;
      background-image: r-theme-val(body-content, insert-background-image);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100% 100%;
    }
  }
}

// Container relative to some modal components
#modal-exclude {
  // Enforce relative position to absorb gap introduced by some more top
  // level components like DjangoCMS toolbar, so possible absolute positions
  // from children (like topbar) is correctly calculated when toolbar is displayed.
  position: relative;

  // Enforce this block to take at least full body height
  display: flex;
  flex-direction: column;
  height: 100%;
}
