@import '../../js/components/AddressesManagement/styles';
@import '../../js/components/TeacherDashboardCourseList/styles';
@import '../../js/components/Modal/styles';
@import '../../js/components/RegisteredAddress/styles';
@import '../../js/components/SearchInput/styles';
@import '../../js/components/Spinner/styles';
@import '../../js/pages/DashboardAddressesManagement/styles';
@import '../../js/pages/DashboardCertificates/styles';
@import '../../js/pages/DashboardCourses/styles';
@import '../../js/pages/DashboardCreditCardsManagement/styles';
@import '../../js/pages/DashboardPreferences/styles';
@import '../../js/pages/TeacherCourseDashboardLoader/CourseRunList/styles';
@import '../../js/pages/TeacherTrainingDashboard/styles.scss';
@import '../../js/widgets/CourseAddToWishlist/styles';
@import '../../js/widgets/CourseProductItem/components/CourseProductCertificateItem/styles';
@import '../../js/widgets/CourseProductItem/components/CourseProductCourseRuns/styles';
@import '../../js/widgets/CourseProductItem/components/PaymentButton/styles';
@import '../../js/widgets/CourseProductItem/components/RegisteredCreditCard/styles';
@import '../../js/widgets/CourseProductItem/components/SaleTunnel/styles';
@import '../../js/widgets/CourseProductItem/components/SaleTunnelStepPayment/styles';
@import '../../js/widgets/CourseProductItem/components/SaleTunnelStepResume/styles';
@import '../../js/widgets/CourseProductItem/components/SaleTunnelStepValidation/styles';
@import '../../js/widgets/CourseProductItem/components/StepBreadcrumb/styles';
@import '../../js/widgets/CourseProductItem/styles';
@import '../../js/widgets/CourseRunEnrollment/components/CourseRunUnenrollmentButton/styles';
@import '../../js/widgets/CourseRunEnrollment/styles';
@import '../../js/widgets/Dashboard/styles';
@import '../../js/widgets/Dashboard/components/DashboardAvatar/styles';
@import '../../js/widgets/Dashboard/components/DashboardBox/styles';
@import '../../js/widgets/Dashboard/components/DashboardCard/styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/Certificate/styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/styles';
@import '../../js/widgets/Dashboard/components/DashboardLayout/styles';
@import '../../js/widgets/Dashboard/components/DashboardBreadcrumbs/styles';
@import '../../js/widgets/Dashboard/components/DashboardSidebar/styles';
@import '../../js/widgets/Dashboard/components/TeacherCourseDashboardSidebar/styles';
@import '../../js/widgets/Dashboard/components/TeacherProfileDashboardSidebar/components/OrganizationLinks/styles';
@import '../../js/widgets/LtiConsumer/styles';
@import '../../js/widgets/Search/components/SearchFilterGroup/styles';
@import '../../js/widgets/Search/components/SearchFilterGroupModal/styles';
@import '../../js/widgets/Search/components/SearchFiltersPane/styles';
@import '../../js/widgets/UserLogin/components/UserMenu/styles';
@import '../../js/widgets/UserLogin/styles';

@import './templates/courses/plugins/category_plugin';
@import './templates/courses/plugins/licence_plugin';
@import './templates/richie/section/section';
@import './templates/richie/large_banner/large_banner';
@import './templates/richie/nesteditem/nesteditem';
@import './templates/richie/glimpse/glimpse';

// Page component styles
@import './header';
@import './subheader';
@import './footer';
@import './styleguide';
@import './error';
@import './content';
@import './templates/search/search';
@import './templates/richie/single-column';
@import './templates/richie/multiple-columns';
@import './templates/courses/cms/homepage';
@import './templates/courses/cms/organization_list';
@import './templates/courses/cms/organization_detail';
@import './templates/courses/cms/category_list';
@import './templates/courses/cms/category_detail';
@import './templates/courses/cms/course_detail';
@import './templates/courses/cms/person_list';
@import './templates/courses/cms/person_detail';
@import './templates/courses/cms/blogpost_list';
@import './templates/courses/cms/blogpost_detail';
@import './templates/courses/cms/program_list';
@import './templates/courses/cms/program_detail';
