@import '../../js/components/AddressesManagement/styles';
@import '../../js/components/ContractFrame/styles';
@import '../../js/components/TeacherDashboardCourseList/styles';
@import '../../js/components/Modal/styles';
@import '../../js/components/PaymentButton/styles';
@import '../../js/components/PurchaseButton/styles';
@import '../../js/components/SaleTunnel/styles';
@import '../../js/components/SaleTunnel/components/RegisteredCreditCard/styles';
@import '../../js/components/SaleTunnel/components/SaleTunnelStepPayment/styles';
@import '../../js/components/SaleTunnel/components/SaleTunnelStepResume/styles';
@import '../../js/components/SaleTunnel/components/SaleTunnelStepValidation/styles';
@import '../../js/components/SaleTunnel/components/StepBreadcrumb/styles';
@import '../../js/components/SuccessIcon/styles';
@import '../../js/components/RegisteredAddress/styles';
@import '../../js/components/SearchInput/styles';
@import '../../js/components/Spinner/styles';
@import '../../js/pages/DashboardAddressesManagement/styles';
@import '../../js/pages/DashboardCertificates/styles';
@import '../../js/pages/DashboardCourses/styles';
@import '../../js/pages/DashboardContracts/_styles';
@import '../../js/pages/DashboardCreditCardsManagement/styles';
@import '../../js/pages/DashboardOrderLayout/styles';
@import '../../js/pages/DashboardPreferences/styles';
@import '../../js/pages/TeacherDashboardContractsLayout/styles';
@import '../../js/pages/TeacherDashboardCourseLoader/CourseRunList/styles';
@import '../../js/pages/TeacherDashboardTraining/styles.scss';
@import '../../js/widgets/Dashboard/styles';
@import '../../js/widgets/Dashboard/components/DashboardAvatar/styles';
@import '../../js/widgets/Dashboard/components/DashboardBox/styles';
@import '../../js/widgets/Dashboard/components/DashboardCard/styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/Certificate/styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/Order/styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/Contract/_styles';
@import '../../js/widgets/Dashboard/components/DashboardItem/styles';
@import '../../js/widgets/Dashboard/components/DashboardLayout/styles';
@import '../../js/widgets/Dashboard/components/DashboardListAvatar/styles';
@import '../../js/widgets/Dashboard/components/DashboardOrderLoader/styles';
@import '../../js/widgets/Dashboard/components/DashboardBreadcrumbs/styles';
@import '../../js/widgets/Dashboard/components/DashboardSidebar/styles';
@import '../../js/widgets/Dashboard/components/TeacherDashboardCourseSidebar/styles';
@import '../../js/widgets/Dashboard/components/TeacherDashboardProfileSidebar/components/OrganizationLinks/styles';
@import '../../js/widgets/LtiConsumer/styles';
@import '../../js/widgets/Dashboard/components/SearchBar/styles';
@import '../../js/widgets/Search/components/SearchFilterGroup/styles';
@import '../../js/widgets/Search/components/SearchFilterGroupModal/styles';
@import '../../js/widgets/Search/components/SearchFiltersPane/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseProductItem/components/CourseProductCertificateItem/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseProductItem/components/CourseProductCourseRuns/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseProductItem/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseRunEnrollment/CourseRunUnenrollmentButton/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseRunEnrollment/styles';
@import '../../js/widgets/SyllabusCourseRunsList/components/CourseWishButton/styles';
@import '../../js/widgets/UserLogin/components/UserMenu/styles';
@import '../../js/widgets/UserLogin/styles';

@import './templates/courses/plugins/category_plugin';
@import './templates/courses/plugins/licence_plugin';
@import './templates/richie/section/section';
@import './templates/richie/large_banner/large_banner';
@import './templates/richie/nesteditem/nesteditem';
@import './templates/richie/glimpse/glimpse';

// Page component styles
@import './header';
@import './subheader';
@import './footer';
@import './styleguide';
@import './error';
@import './content';
@import './templates/search/search';
@import './templates/richie/single-column';
@import './templates/richie/multiple-columns';
@import './templates/courses/cms/homepage';
@import './templates/courses/cms/organization_list';
@import './templates/courses/cms/organization_detail';
@import './templates/courses/cms/category_list';
@import './templates/courses/cms/category_detail';
@import './templates/courses/cms/course_detail';
@import './templates/courses/cms/person_list';
@import './templates/courses/cms/person_detail';
@import './templates/courses/cms/blogpost_list';
@import './templates/courses/cms/blogpost_detail';
@import './templates/courses/cms/program_list';
@import './templates/courses/cms/program_detail';
