@import '../../js/components/AddressesManagement/styles';
@import '../../js/components/Dashboard/styles';
@import '../../js/components/DashboardAddressesManagement/styles';
@import '../../js/components/DashboardBox/styles';
@import '../../js/components/DashboardCard/styles';
@import '../../js/components/DashboardCourses/styles';
@import '../../js/components/DashboardCreditCardsManagement/styles';
@import '../../js/components/DashboardPreferences/styles';
@import '../../js/components/DashboardItem/styles';
@import '../../js/components/CourseProductCertificateItem/styles';
@import '../../js/components/CourseProductCourseRuns/styles';
@import '../../js/components/CourseProductItem/styles';
@import '../../js/components/CourseRunEnrollment/styles';
@import '../../js/components/CourseRunUnenrollmentButton/styles';
@import '../../js/components/LtiConsumer/styles';
@import '../../js/components/Modal/styles';
@import '../../js/components/PaymentButton/styles';
@import '../../js/components/RegisteredAddress/styles';
@import '../../js/components/RegisteredCreditCard/styles';
@import '../../js/components/SaleTunnel/styles';
@import '../../js/components/SaleTunnelStepPayment/styles';
@import '../../js/components/SaleTunnelStepResume/styles';
@import '../../js/components/SaleTunnelStepValidation/styles';
@import '../../js/components/SearchFilterGroup/styles';
@import '../../js/components/SearchFilterGroupModal/styles';
@import '../../js/components/SearchFiltersPane/styles';
@import '../../js/components/SearchInput/styles';
@import '../../js/components/Spinner/styles';
@import '../../js/components/StepBreadcrumb/styles';
@import '../../js/components/UserLogin/styles';
@import '../../js/components/UserMenu/styles';

@import './templates/courses/plugins/category_plugin';
@import './templates/courses/plugins/licence_plugin';
@import './templates/richie/section/section';
@import './templates/richie/large_banner/large_banner';
@import './templates/richie/nesteditem/nesteditem';
@import './templates/richie/glimpse/glimpse';

// Page component styles
@import './header';
@import './subheader';
@import './footer';
@import './styleguide';
@import './error';
@import './content';
@import './templates/search/search';
@import './templates/richie/single-column';
@import './templates/richie/multiple-columns';
@import './templates/courses/cms/homepage';
@import './templates/courses/cms/organization_list';
@import './templates/courses/cms/organization_detail';
@import './templates/courses/cms/category_list';
@import './templates/courses/cms/category_detail';
@import './templates/courses/cms/course_detail';
@import './templates/courses/cms/person_list';
@import './templates/courses/cms/person_detail';
@import './templates/courses/cms/blogpost_list';
@import './templates/courses/cms/blogpost_detail';
@import './templates/courses/cms/program_list';
@import './templates/courses/cms/program_detail';
