$richie-hero-intro-margin: null !default;
$richie-hero-intro-padding: null !default;
$richie-hero-intro-base-height: 18rem !default;
$richie-hero-intro-responsive-heights: (
  md: 20rem,
  lg: 22.5vw,
) !default;
$richie-hero-intro-justify-content: center !default;
$richie-hero-intro-align-items: stretch !default;

$richie-hero-intro-body-margin: null !default;
$richie-hero-intro-body-padding: 5rem 1rem !default;
$richie-hero-intro-title-margin: 0 0.5rem 0 0 !default;
$richie-hero-intro-title-padding: null !default;
$richie-hero-intro-title-fontsize: 1.5rem !default;
$richie-hero-intro-title-responsive-fontsizes: (
  md: 2rem,
  lg: 2.5rem,
) !default;
$richie-hero-intro-title-textalign: null !default;
$richie-hero-intro-content-margin: null !default;
$richie-hero-intro-content-padding: null !default;
$richie-hero-intro-logo-margin: null !default;
$richie-hero-intro-logo-padding: null !default;

$richie-hero-intro-background-repeat: no-repeat !default;
$richie-hero-intro-background-position: center !default;
$richie-hero-intro-background-size: cover !default;

.hero-intro {
  @include m-o-hero(
    $margin: $richie-hero-intro-margin,
    $padding: $richie-hero-intro-padding,
    $base-height: $richie-hero-intro-base-height,
    $responsive-heights: $richie-hero-intro-responsive-heights,
    $justify-content: $richie-hero-intro-justify-content,
    $align-items: $richie-hero-intro-align-items,
    $background-repeat: $richie-hero-intro-background-repeat,
    $background-position: $richie-hero-intro-background-position,
    $background-size: $richie-hero-intro-background-size,
    $body-margin: $richie-hero-intro-body-margin,
    $body-padding: $richie-hero-intro-body-padding,
    $title-margin: $richie-hero-intro-title-margin,
    $title-padding: $richie-hero-intro-title-padding,
    $title-fontsize: $richie-hero-intro-title-fontsize,
    $title-responsive-fontsizes: $richie-hero-intro-title-responsive-fontsizes,
    $title-textalign: $richie-hero-intro-title-textalign,
    $content-margin: $richie-hero-intro-content-margin,
    $content-padding: $richie-hero-intro-content-padding,
    $logo-margin: $richie-hero-intro-logo-margin,
    $logo-padding: $richie-hero-intro-logo-padding,
    $methodology: 'bem'
  );

  color: white;
  text-shadow: 0 0 3px $dark;

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__title,
    &__content {
      @include sv-flex(1, 0, 100%);
      text-align: center;
    }

    &__logo {
      @include sv-flex(0, 0, auto);
      position: absolute;
      bottom: -3rem;
      max-width: 70vw;
      max-height: 8rem;
      @include media-breakpoint-up(lg) {
        bottom: -4rem;
        max-width: none;
        max-height: 9rem;
      }
      @include media-breakpoint-up(xl) {
        max-height: 10rem;
      }
      @include media-breakpoint-up(xxl) {
        max-height: none;
      }
    }
  }
}
