.large-banner {
  position: relative; // Needed to support img-as-a-background-image
  height: 18rem;

  // Support the img-as-a-background-image
  max-width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $dark; // Default background color; will be overridden by the background image

  color: white;
  text-shadow: 0 0 3px $dark;

  @include media-breakpoint-up(md) {
    height: 20rem;
  }

  @include media-breakpoint-up(lg) {
    height: 22.5vw; // Fixed aspect ratio for screens larger than this size;
  }

  &__background {
    // Make an img into a background-image to benefit from srcset
    // We don't need to center it thanks to flex props on large-banner
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  &__body {
    position: relative; // Needed to support img-as-a-background-image

    &__title {
      margin: 0 0.5rem 0 0; // Leave some margin between title & logo

      // Adjust text size for smaller screens
      font-size: 1.5rem;
      text-align: center;

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }
    }

    &__logo {
      margin: 0 0 0 0.5rem; // Leave some margin between title & logo

      // Adjust logo size for smaller screens
      max-width: 10rem;
      max-height: 5rem;

      @include media-breakpoint-up(sm) {
        max-width: 11.25rem;
        max-height: 5.625rem;
      }

      @include media-breakpoint-up(md) {
        max-width: 12.5rem;
        max-height: 6.25rem;
      }
    }
  }
}
