$richie-search-breakpoint: lg !default;
$richie-search-margin: 0 !default;
$richie-search-padding: 0 !default;

$richie-search-filters-width: 20.5rem !default;
$richie-search-filters-background: $dodgerblue1 !default;

$richie-search-results-padding: 0 1rem 0 2rem !default;

.search {
  display: flex;
  margin: $richie-search-margin;
  padding: $richie-search-padding;
  flex-direction: row;
  flex-wrap: wrap;

  &__filters {
    @include sv-flex(1, 0, 100%);
    background: $richie-search-filters-background;

    // Force the filters sidebar to take up the whole height even when it's empty.
    // This should help avoid a glitch where we see the footer at the top of the page and the UI jumps
    // around as the filters appear.
    min-height: 100vh;

    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, $richie-search-filters-width);
    }
  }

  &__results {
    @include sv-flex(1, 0, 100%);

    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, calc(100% - #{$richie-search-filters-width}));
      padding: $richie-search-results-padding;
    }

    &__title {
      padding: 1.5rem 0 0;
      text-align: center;
    }
  }
}
