//
// SaleTunnelStepResume component styles
//

//
// Mixins
//

//
// keyframe-strokedLineAppear
//
// Generate a keyframe to make svg stroked element appears slightly
//
// @param {string}  name     the keyframe's name to use from `animation`
// @param {length}  length   the full length of the stroke line`
// @param {reverse} reverse  animation direction`
@mixin keyframe-strokedLineAppear($name, $length, $reverse: false) {
  $direction: 1;
  @if $reverse == true {
    $direction: -1;
  }

  @keyframes #{$name} {
    from {
      stroke-dashoffset: $direction * $length;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

//
// Styles
//
.SaleTunnelStepResume {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 0;
    text-align: center;
  }

  &__title {
    color: r-theme-val(steps-content, title-color);
    font-size: 1.5rem;
  }

  &__content {
    color: r-theme-val(steps-content, content-color);
    font-size: 0.875rem;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__footer {
    margin-top: 2.5rem;
  }
}
