.dashboard-credit-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__empty {
    text-align: center;
    color: r-theme-val(dashboard-credit-cards, empty-color);
    margin: 0;
  }
}

.dashboard-credit-card {
  &__details {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      gap: 1rem;
    }

    img {
      width: 83px;
      height: 50px;
      object-fit: contain;
    }

    p {
      margin: 0;
      font-size: 18px;
      color: r-theme-val(dashboard-credit-card-box, base-color);
    }
  }

  &__data {
  }

  &__brand {
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__meta {
    display: flex;
    gap: 1rem;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    p.dashboard-credit-card__meta__separator {
      color: r-theme-val(dashboard-box, base-border);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  h6 {
    font-size: 18px;
    color: r-theme-val(dashboard-credit-card-box, title-color);
    font-weight: bold;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  p.dashboard-credit-card__expiration {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &--soon {
      color: r-theme-val(dashboard-credit-card-box, expire-soon-color);
    }

    &--expired {
      color: r-theme-val(dashboard-credit-card-box, expired-color);
    }
  }
}

.dashboard-edit-credit-card {
  &__sensitive {
    display: flex;
    gap: 1rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      gap: 0;
      margin-bottom: 2rem;

      .form-field {
        flex-grow: 1;
      }
    }

    .form-field:first-child {
      flex-grow: 1;
      flex-shrink: 0;
    }

    &__sub {
      display: flex;
      gap: 1rem;
    }
  }
}

.credit-card-brand-logo {
  border-radius: $border-radius;
  height: 50px;
  width: 83px;
  padding: 5px;

  &:hover img {
    transform: scale(0.9);
  }

  &--inline {
    height: rem-calc(38px);
    width: rem-calc(52px);
  }

  img {
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.34, 2.5, 0.64, 1);
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
