$richie-search-filters-group-margin: 2rem 2.5rem !default;
$richie-search-filters-group-padding: null !default;

$richie-search-filters-group-title-margin: 0 !default;
$richie-search-filters-group-title-padding: 0.4rem 0.5rem !default;
$richie-search-filters-group-title-fontsize: 1.4rem !default;
$richie-search-filters-group-title-fontweight: null !default;
$richie-search-filters-group-title-fontcolor: $white !default;

.search-filter-group {
  margin: $richie-search-filters-group-margin;
  padding: $richie-search-filters-group-padding;

  &__title {
    margin: $richie-search-filters-group-title-margin;
    padding: $richie-search-filters-group-title-padding;
    font-size: $richie-search-filters-group-title-fontsize;
    font-weight: $richie-search-filters-group-title-fontweight;
    color: $richie-search-filters-group-title-fontcolor;
  }

  &__list {
    @include m-o-list-group__container;
  }
}
