.modal {
  background-color: r-theme-val(modal, base-background);
  border-radius: $border-radius;
  border: 1px solid r-theme-val(modal, base-border);
  color: r-theme-val(modal, base-color);
  left: 0;
  margin: 3rem auto;
  max-width: 1024px;
  outline: none;
  right: 0;
  top: 0;
  width: 75vw;

  @include media-breakpoint-down(sm) {
    margin: 1rem auto;
    width: calc(100% - 2rem);
  }

  &--stretched {
    bottom: 0;
  }

  &--centered {
    bottom: initial;
    left: 50%;
    margin: 0;
    max-height: calc(100vh - 6rem);
    right: initial;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__closeButton {
    box-sizing: initial;
    display: flex;
    margin: 0 0 0 auto;
    padding: 12px;
    position: sticky;
    top: 0;
  }

  &__overlay {
    // Make sure the overlay is above any random 0-1-2 z-indexes in content and 200 z-index to the top bar
    background-color: r-theme-val(modal, overlay-background);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300;
    overflow: auto;

    &--transparent {
      background-color: transparent;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    h2 {
      font-family: $r-font-family-hind;
      display: block;
      margin: 0;
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: $font-weight-boldest;
    }

    &--filled {
      background-color: r-theme-val(modal, base-background);
    }
  }
}

body.has-opened-modal {
  overflow: hidden;
}
