.subscription-button {
  &__error {
    color: r-theme-val(form, input-color-error);
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  &__waiveCheckbox {
    & > .waiveCheckbox__input {
      /* Just add 1 px offset to prevent border input to be hidden
         due to the overflow hidden applied to the parent block */
      margin-left: 1px;
    }
  }
}
