.search-filter-group-modal-overlay {
  z-index: 10; // Make sure the overlay is above any random 0-1-2 z-indexes in content
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.search-filter-group-modal-button {
  width: 100%;
  padding: $richie-search-filter-value-padding;
  background: inherit;
  color: $richie-search-filter-value-fontcolor;
  border: none;
  border-top: $richie-search-filter-value-divider-border;

  &:hover,
  &:focus {
    color: $richie-search-filter-value-fontcolor-hover;
  }
}

.search-filter-group-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $gray80;
  background: $richie-search-filters-background;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  max-width: 30rem;
  margin: 3rem auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__form {
    flex-grow: 1;

    &__title {
      display: block;
      margin: 0;
      padding: 1rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 700;
    }

    &__input {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid $gray80;
      border-left-width: 0;
      border-right-width: 0;
    }

    &__error {
      padding: 1rem;
    }

    &__values {
      margin: 0;
      padding: 0;
      list-style-type: none;

      &__item {
        & > button {
          width: 100%;
          padding: 0.5rem 1rem;
          text-align: left;
          background: inherit;
          border: none;
          border-bottom: 1px solid $gray80;
          color: inherit;
        }
      }
    }
  }

  &__close {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.5rem 1rem;
    background: white;
    color: #08223c;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }
}
