{% extends "richie/fullwidth.html" %}
{% load cms_tags staticfiles menu_tags i18n %}

{% block content %}

<div class="universities universities-page">

<div class="introduction">
{% placeholder "" %}
</div>

<ul class="universities-list">
    {% for page in current_page.get_child_pages %}
    <li>
        <a href="{{ page.get_absolute_url }}">{{ page.get_title }}({{ page.id }})<br>
            <img class="university-logo" src="/media/{{ page.organizationpage.organization.logo }}">
        </a>
    </li>
    {% empty %}
    <p>{% trans "No items available" %}</p>
    {% endfor %}
</ul>
{% endblock content %}

</div>