.dashboard-breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  white-space: nowrap;

  .button:first-child {
    padding-left: 0;
  }

  .button {
    text-transform: uppercase;
    font-weight: bold;
    color: r-theme-val(dashboard-breadcrumbs, base-color);
  }

  li {
    margin-right: 1rem;
    padding-right: 0.5rem;
    display: flex;
  }

  li:not(:last-child) {
    border-right: 1px r-theme-val(dashboard-breadcrumbs, base-color) solid;
  }
}
