// Brand colors
$brand-blue: #3877BC;
$brand-darkblue: #08223C;
$brand-darkgray: #656667;
$brand-lightgray: #CBCCCD;
$brand-red: #F72C30;

$primary: $brand-blue;
$secondary: $brand-darkgray;

// Smaller gutters in grid to increase information density
$grid-gutter-width: 20px;