.category-list {
  @include make-container-max-widths;
  display: flex;
  margin: 0 auto;
  padding: 2rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  @if $body-padding-fix {
    @include content-padding-fix($gutter: 2rem);
  }
}
