// Course detail template stylesheet
//

.course-detail {
  $detail-selector: &;
  margin: 0 auto;
  padding: 0;
  @if $body-padding-fix {
    @include content-padding-fix($target: '&:last-child');
  }

  &__block {
    @include detail-block;
  }

  &__row {
    @include detail-row;
    font-size: 1rem;
  }

  &__title {
    @include detail-title;
    text-align: left;
  }

  &__empty {
    @include detail-empty;
  }

  &__grid {
    padding-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      padding-bottom: 2rem;
    }

    #{$detail-selector}__wrapper {
      @include make-container-max-widths();
      @if $r-course-aside {
        @include detail-grid;
      }
      margin: 0 auto;
    }
  }

  @if $r-course-aside {
    &__content {
      @include media-breakpoint-up(lg) {
        @include sv-flex(1, 0, #{100% - $r-course-aside});
      }
    }

    &__aside {
      padding: 1rem 0;

      @include media-breakpoint-up(lg) {
        @include sv-flex(1, 0, $r-course-aside);
        padding: 3rem 0.5rem;
      }

      #{$detail-selector}__row {
        margin-bottom: 1.5rem;
      }

      #{$detail-selector}__title {
        @include font-size($h3-font-size);
        padding-bottom: 1rem;
        @if r-theme-val(course-detail, aside-title-border) {
          border-bottom: $onepixel
            solid
            r-theme-val(course-detail, aside-title-border);
        }
      }
    }
  }

  &__primary-group {
    background: r-theme-val(course-detail, primary-group-background);

    @if r-theme-val(course-detail, primary-group-title-color) {
      #{$detail-selector}__title {
        color: r-theme-val(course-detail, primary-group-title-color);
      }
    }

    #{$detail-selector}__row {
      padding-bottom: 1rem;

      & > p:last-of-type {
        margin-bottom: 0;
      }
    }

    @if r-theme-val(course-detail, primary-group-arc) {
      padding-bottom: 0 !important;

      &::after {
        content: '';
        display: block;
        margin-top: map-get($spacers, 4) * 3;
        width: 100%;
        height: 2.5vw;
        background-image: r-theme-val(course-detail, primary-group-arc);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100% 100%;
      }
    }
  }

  &__run-descriptions {
    dl {
      margin: 0;
    }

    dt {
      @include font-size($h4-font-size);
    }
    dd {
      @include font-size($h5-font-size);
      margin-bottom: 1rem;
    }

    & + #{$detail-selector}__run-descriptions {
      @if r-theme-val(course-detail, run-descriptions-divider) {
        &::before {
          content: '';
          display: block;
          width: 60%;
          margin: 2rem auto;
          border-top: $onepixel
            solid
            r-theme-val(course-detail, run-descriptions-divider);
        }
      }
    }
  }

  &__run-session-link {
    display: block;
    text-align: center;
    padding: 0.35rem 0.7rem;
  }

  &__run-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      @include font-size($h5-font-size);

      & + li {
        margin-top: 1rem;
      }
    }
  }

  &__team {
    #{$detail-selector}__title {
      text-align: center;
    }
  }

  &__organizations {
    #{$detail-selector}__title {
      @include font-size($h4-font-size);
      color: r-theme-val(course-detail, organizations-title-color) !important;
      text-align: center;
    }

    .organization-glimpse {
      $glimpse-gutter: 0.625rem;
      @include sv-flex($width: calc(100% - #{$glimpse-gutter * 2}));
      border: 0;

      @include media-breakpoint-up(sm) {
        @include sv-flex($width: calc(50% - #{$glimpse-gutter * 2}));
      }
      @include media-breakpoint-up(xl) {
        @include sv-flex($width: calc(20% - #{$glimpse-gutter * 2}));
      }
    }
  }

  &__plan {
    #{$detail-selector}__title {
      color: r-theme-val(course-detail, plan-title-color);
    }
  }

  &__skills {
    @if r-theme-val(course-detail, checkmark-list-decoration) {
      ul {
        padding-left: 0.3rem;
        list-style-type: none;

        li {
          position: relative;
          margin-top: 0.9rem;
          padding-left: 1.5rem;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0.2rem;
            left: 0;
            width: 0.8rem;
            height: 0.8rem;
            background-image: r-theme-val(
              course-detail,
              checkmark-list-decoration
            );
            background-repeat: no-repeat;
            background-position: top left;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  &__license {
    #{$detail-selector}__title {
      @include font-size($h3-font-size);
    }

    #{$detail-selector}__label {
      color: r-theme-val(course-detail, license-label-color);
    }
  }
}
