// Homepage template stylesheet
//

.homepage {
  $homepage-selector: &;

  margin: 0 auto;
  padding: 0;

  // Default behavior for published view to include content fix
  @if $body-padding-fix {
    &:not(#{$homepage-selector}--draft) {
      @include content-padding-fix($target: '& > *:last-child');
    }
  }

  // Sadly In draft mode, the invisible cms stuff trouble selecting the right
  // visible last child. We just don't have any CSS way to filter out cms
  // stuff from last-child selector, so for now we apply content-fix directly
  // on container even if it disturb the expected layout.
  &--draft {
    @if $body-padding-fix {
      @include content-padding-fix;
    }
  }
}
