// Organization detail template stylesheet
//

.organization-detail {
  margin: 0 auto;
  padding: 0;

  &__block {
    @include detail-block;
    @if $body-padding-fix {
      @include content-padding-fix($target: '&:last-child');
    }
  }

  &__row {
    @include detail-row;
  }

  &__title {
    @include detail-title;
  }

  &__empty {
    @include detail-empty;
  }

  &__banner {
    position: relative;
    width: 100%;
    height: 30vh;

    @include media-breakpoint-up(xl) {
      height: 25vh;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include m-o-media_empty(
      $background: r-theme-val(organization-detail, banner-empty-background)
    );

    // Insert decoration over banner bottom
    @if r-theme-val(organization-detail, insert-background-image) {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4rem;
        position: absolute;
        bottom: -0.05rem;
        left: 0;
        right: 0;
        background-image: r-theme-val(organization-detail, insert-background-image);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100% 100%;
        z-index: 2;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 30%;
    padding: 0.5rem;
    background: $white;
    @if r-theme-val(organization-detail, logo-border) {
      border: $onepixel solid r-theme-val(organization-detail, logo-border);
    }
    box-shadow: r-theme-val(organization-detail, logo-shadow);
    z-index: 4;

    @include media-breakpoint-up(lg) {
      top: 40%;
      right: 10%;
      bottom: -2rem;
      width: 20%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    @include m-o-media_empty();
  }

  &__intro {
    .organization-detail__title {
      padding-top: 1rem;
      text-align: left;
      color: r-theme-val(organization-detail, intro-title);

      @include media-breakpoint-up(lg) {
        width: calc(70% - 2rem);
      }
    }
  }

  &__excerpt {
    margin-top: 1rem;
    font-size: 1rem;
  }

  &__description {
    margin-top: 1rem;
    font-size: 1rem;
    color: r-theme-val(organization-detail, description-color);
  }
}
