.sale-tunnel-step--save-payment-method {
  .credit-card-selector {
    display: inline-block;
  }

  .sale-tunnel-step__footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
