// Helper class to hide elements from sighted users and have accessibility devices still read them
// to users that need it.

// Screen reader only content
// code taken from orange's fork of bootstrap
// https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/blob/v5.1.3/scss/mixins/_visually-hidden.scss#L8
.offscreen,
.offscreen-focusable:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

// Skip to content button styles for it to be rendered on link focus
.skip-to-content {
  font-size: 1em;
  line-height: normal;
  background-color: r-color('midnightblue');
  padding: 1rem;
  z-index: 100000;
  position: absolute;
  left: 5px;
  top: 5px;

  &:active,
  &:hover,
  &:focus {
    color: r-color('white');
    text-decoration: none;
  }
}
