// Build additional gradient backgrounds
$gradient-colors: () !default;
@each $color, $value in map-get($r-theme, 'base-gradients') {
  @include bg-gradient('.bg-gradient-#{$color}', $value);
}

// Build background colors
@each $name, $value in $palette {
  @if type-of($value) == 'map' {
    @each $sub-name, $sub-value in $value {
      .bg-#{($name + '-' + $sub-name)} {
        background-color: $sub-value !important;
      }
    }
  } @else {
    .bg-#{$name} {
      background-color: $value !important;
    }
  }
}
