.sale-tunnel {

  font-size: 14px;

  &__main {
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: rem-calc(68px);

    &__separator {
      background-color: var(--c--theme--colors--grey87);
      width: 1px;
    }

    &__left, &__right {
      flex: 1;
    }

    &__left {
      //background-color: palegoldenrod;

    }

    &__right {
      //background-color: paleturquoise;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: var(--c--theme--spacings--b);

    &__billing-address {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__footer {
    margin-top: 1.5rem;
  }
}

.description {
  font-size: 14px;
  color: var(--c--theme--colors--charcoal-500);
  text-align: left;
}

.block-title {
  font-size: var(--c--theme--font--sizes--l);
  color: var(--c--theme--colors--charcoal-500);
  font-weight: var(--c--theme--font--weights--extrabold);
  text-align: left;
}

.sub-block-title {
  font-size: 12px;
  color: var(--c--theme--colors--charcoal-500);
  font-weight: var(--c--theme--font--weights--bold);
  text-align: left;
}

.credit-card-selector__card {
  display: flex;
  align-items: center;
  gap: rem-calc(12px);

  &__info {

    &__title {
      text-align: left;
      font-size: 12px;
      color: var(--c--theme--colors--charcoal-500);
      font-weight: var(--c--theme--font--weights--bold);
      font-family: var(--c--theme--font--families--accent);
    }

    &__meta {
      display: flex;
      gap: 12px;

      div:nth-child(2) {
        color: var(--c--theme--colors--light-grey);
      }
    }
  }
}
