.lti-consumer {
  animation: fadeIn 600ms cubic-bezier(0.33, 1, 0.68, 1) forwards;
  background-color: #ffffff;

  & > form {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
