{% load i18n static %}{% spaceless %}
    <a
        href="https://www.facebook.com/example"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img" aria-label="{% trans "Facebook" %}">
            <title>{% trans "Facebook" %}</title>
            <use href="#icon-facebook" />
        </svg>
    </a>
    <a
        href="https://twitter.com/@funmooc"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img" aria-label="{% trans "Twitter page" %}">
            <title>{% trans "Twitter page" %}</title>
            <use href="#icon-twitter" />
        </svg>
    </a>
    <a
        href="https://www.linkedin.com/school/franceuniversitenumerique/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img" aria-label="{% trans "Linkedin page" %}">
            <title>{% trans "Linkedin page" %}</title>
            <use href="#icon-linkedin" />
        </svg>
    </a>
{% endspaceless %}
