{% load i18n static %}{% spaceless %}
    <a
        href="https://www.facebook.com/example"
        class="body-footer__brand__badge"
        target="_blank"
    >
        <svg role="img" class="icon body-footer__brand__badge__icon">
            <title>{% trans "Facebook" %}</title>
            <use xlink:href="{% static 'richie/icons.svg' %}#icon-facebook" />
        </svg>
    </a>
    <a
        href="https://twitter.com/@funmooc"
        class="body-footer__brand__badge"
        target="_blank"
        title="{% trans "Twitter page" %}"
    >
        <svg role="img" class="icon body-footer__brand__badge__icon">
            <title>{% trans "Twitter" %}</title>
            <use xlink:href="{% static 'richie/icons.svg' %}#icon-twitter" />
        </svg>
    </a>
{% endspaceless %}
