$richie-template-search-margin: null !default;
$richie-template-search-padding: 0 !default;

// Enable flex on the `.body-content` so children can grow to occupy the available vertical space
.body-content--flex-mode {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-template {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  margin: $richie-template-search-margin;
  padding: $richie-template-search-padding;

  &__content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      align-items: center;
    }

    &__header {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      text-align: center;

      @include media-breakpoint-up(lg) {
        width: 50rem;
      }
    }

    & > .richie-react--search {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
