// Example of a form class structure:
// .form
//  .form-row
//    .c__field ( should be form-field when cunningham is improved)
.form {
  $vertical-spacing: rem-calc(10px);
  $horizontal-spacing: rem-calc(16px);

  .c__field {
    width: auto;
    display: flex;
    flex: 1;
  }

  &-row {
    display: flex;
    flex-direction: row;
    gap: $horizontal-spacing;
    margin-bottom: $vertical-spacing;
    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
}
