//
// Form objects
//

// Example of a form class structure:
// .form
//  .form-row
//    .c__field ( should be form-field when cunningham is improved)
.form {
  .c__field {
    width: auto;
    display: flex;
    flex: 1;
  }

  &-row {
    display: flex;
    flex-direction: row;
    gap: rem-calc(16px);
    margin-bottom: rem-calc(10px);
    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
}
