//
// AddressManagement component styles
//

.AddressesManagement {
  & > section {
    margin-bottom: 2rem;
  }

  & > .button {
    .icon.button__icon {
      display: inline-block;
      fill: none;
      height: 1.2em;
      stroke: currentColor;
      transform: rotateZ(90deg);
      width: 1.2em;
    }
    margin-bottom: 0.5rem;
    margin-left: -1.5rem;
  }

  .address-form {
    & > .form {
      display: flex;
      flex-direction: column;
      @include shadowed-box($padding: 1rem);
    }

    .form__footer {
      align-self: flex-end;
      display: inline-block;

      & > *:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &.address-form--highlighted .form {
      animation: loadAddressForm 500ms backwards;

      @keyframes loadAddressForm {
        0% {
          transform: scale(1);
        }
        33% {
          transform: scale(0.97);
        }
        66% {
          transform: scale(1.01);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  .registered-addresses-list {
    list-style: none;
    padding: 0;
  }
}
