.dashboard-item {
  &__block {
    background: r-theme-val(dashboard-item, background-color);
    border-radius: $border-radius;
    box-shadow: r-theme-val(dashboard-item, base-shadow);
    color: r-theme-val(dashboard-item, base-color);
    // Allow stacking on top of dashboard-sub-item-list__item::after element.
    position: relative;
    z-index: 1;

    &__head {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      border-bottom: $onepixel solid r-theme-val(dashboard-item, base-border);

      &__captions {
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }

      &__thumbnail {
        height: 70px;
        width: 110px;
        object-fit: cover;
        border-radius: $border-radius;
        flex-shrink: 0;
      }

      &__title {
        order: 2;
        margin-top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &__code {
        order: 1;
      }

      &__more {
        position: absolute;
        right: 1rem;
        top: 0.5rem;

        .selector__list {
          right: -1rem;
        }
      }
    }

    &__status {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__button {
    justify-content: center;
    min-width: rem-calc(140px);
  }
}

.dashboard-sub-item-list {
  padding-left: 30px;
  position: relative;
  overflow: hidden;

  &__item {
    position: relative;

    &::before {
      position: absolute;
      left: -20px;
      top: 20px;
      content: '';
      width: 10px;
      height: 10px;
      background: map-get(r-theme-val(base-schemes, secondary), background);
      border-radius: 50%;
    }

    &:last-child::after {
      content: '';
      background: map-get(r-theme-val(base-schemes, secondary), background);
      height: 10000px;
      position: absolute;
      left: -16px;
      top: -9978px;
      width: 2px;
    }
  }
}

.dashboard-sub-item {
  border-radius: $border-radius;
  box-shadow: r-theme-val(dashboard-item, base-shadow);
  color: r-theme-val(dashboard-item, base-color);
  margin-top: 10px;
  background: r-theme-val(dashboard-item, background-color);

  &__header {
    align-items: center;
    display: flex;
    height: 53px;
    padding: 0.5rem 1rem;
    border-bottom: $onepixel solid r-theme-val(dashboard-item, base-border);

    h6 {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.dashboard-item__course-enrolling {
  &__infos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    min-height: 3.75rem;

    &:first-child {
      border-top: 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .button,
      .dashboard-item__button {
        width: 100%;
      }
    }

    .button,
    .dashboard-item__button {
      flex-shrink: 0;
    }

    p {
      margin: 0;
    }
  }

  &__runs {
    position: relative;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(r-theme-val(dashboard-item, overlay-background-color), 0.8);
  }

  &__no-runs {
    padding: 1.2rem 1rem;
    display: flex;
    gap: 0.5rem;
  }

  &__run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: rem-calc(13px);

    &_title {
      align-items: flex-start;
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: $onepixel solid r-theme-val(dashboard-item, base-border);
    }

    &__not-opened {
      color: r-theme-val(product-item, feedback-color);
    }

    &__icon-enrolled {
      color: r-theme-val(dashboard-item-course-enrolling-run, enrolled-color);
      height: 1rem;
      width: 1rem;
    }
  }
}
