$richie-search-filters-item-width: 100% !default;
$richie-search-filters-item-margin: null !default;
$richie-search-filters-item-padding: 0.4rem 0.5rem !default;
$richie-search-filters-item-fontsize: 0.9rem !default;
$richie-search-filters-item-fontcolor: rgba($white, 0.85) !default;
$richie-search-filters-item-fontcolor-hover: $white !default;
$richie-search-filters-item-fontweight: normal !default;
$richie-search-filters-item-fontweight-hover: normal !default;
$richie-search-filters-item-textalign: inherit !default;
$richie-search-filters-item-background: inherit !default;
$richie-search-filters-item-background-hover: inherit !default;
$richie-search-filters-item-divider-border: 1px solid $gray80 !default;

$richie-search-filters-disabled-fontcolor: rgba($white, 0.6) !default;
$richie-search-filters-disabled-background: null !default;

$richie-search-filters-active-fontcolor: $white !default;
$richie-search-filters-active-fontweight: bold !default;
$richie-search-filters-active-background: inherit !default;
$richie-search-filters-active-divider-border: 1px solid $white !default;

.search-filter {
  @include m-o-list-group__item(
    $width: $richie-search-filters-item-width,
    $margin: $richie-search-filters-item-margin,
    $padding: $richie-search-filters-item-padding,
    $fontsize: $richie-search-filters-item-fontsize,
    $fontweight: $richie-search-filters-item-fontweight,
    $fontcolor: $richie-search-filters-item-fontcolor,
    $textalign: $richie-search-filters-item-textalign,
    $background: $richie-search-filters-item-background,
    $divider-border: $richie-search-filters-item-divider-border,
    $fontweight-hover: $richie-search-filters-item-fontweight-hover,
    $fontcolor-hover: $richie-search-filters-item-fontcolor-hover,
    $background-hover: $richie-search-filters-item-background-hover,
    $disabled-fontcolor: $richie-search-filters-disabled-fontcolor,
    $disabled-background: $richie-search-filters-disabled-background,
    $active-fontcolor: $richie-search-filters-active-fontcolor,
    $active-fontweight: $richie-search-filters-active-fontweight,
    $active-background: $richie-search-filters-active-background,
    $active-divider-border: $richie-search-filters-active-divider-border
  );
  cursor: pointer;

  &__count {
    @extend .badge;
    @extend .badge-pill;

    color: $white;
    background: $firebrick6;
    margin-left: 0.375rem;
  }

  &__count,
  .icon-close {
    margin-left: 0.375rem;
  }

  .icon-close {
    // Ensure the icon is not shrinked down when the filter name spans 2 lines
    flex-shrink: 0;
  }
}
