.dashboard-item-order {
  > .dashboard-item,
  .dashboard__contract-item {
    padding-top: rem-calc(16px);
    &:first-child {
      padding-top: 0;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    min-height: 3.75rem;
    border-bottom: $onepixel solid r-theme-val(dashboard-item, base-border);
    &:last-child {
      border-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .button {
        width: 100%;
      }
    }

    .button {
      flex-shrink: 0;
    }
  }

  .dashboard__contract-item {
    .dashboard-item__block__head__title {
      display: flex;
      align-items: center;

      .c__loader {
        margin-right: 1rem;
      }
    }
  }
}
