// Blogpost glimpses
//
// A flex grid of blogpost entries

$glimpse-gutter: 0.6rem;

.blogpost-glimpse-list {
  @include make-container-max-widths;
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    padding: 0.5rem 0;
    text-align: left;
  }

  // All glimpse got the same size opposed to default behavior
  .blogpost-glimpse:nth-child(0n + 1),
  .blogpost-glimpse:nth-child(0n + 2) {
    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, calc(33.3333% - #{$glimpse-gutter * 2}));
      align-self: flex-start;
    }
  }
}

.blogpost-glimpse {
  $glimpse-item-selector: &;

  // Cell base width for lowest breakpoint
  @include sv-flex(1, 0, calc(100% - #{$glimpse-gutter * 2}));

  // Responsive adjustments
  @include media-breakpoint-up(md) {
    @include sv-flex(1, 0, calc(50% - #{$glimpse-gutter * 2}));
  }
  @include media-breakpoint-up(lg) {
    @include sv-flex(1, 0, calc(33.3333% - #{$glimpse-gutter * 2}));
  }

  // Default behavior of first glimpse item is to be bigger than every
  // other items
  &:nth-child(0n + 1) {
    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, calc(66.6666% - #{$glimpse-gutter * 2}));
    }
  }
  &:nth-child(0n + 2) {
    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, calc(33.3333% - #{$glimpse-gutter * 2}));
      align-self: flex-end;
    }
  }

  // Apply card styles for elements
  @include m-o-card(
    $margin: $glimpse-gutter,
    $padding: 0 $glimpse-gutter,
    $border: null,
    $radius: $border-radius-lg,
    $background: r-theme-val(blogpost-glimpse, card-background),
    $media-width: null,
    $media-margin: 0,
    $wrapper-padding: 0.6rem 0.2rem,
    $foot-divider: null
  );

  // Apply gutter

  // Disabled default link behaviors
  &__link,
  &__link:hover,
  &__link:focus {
    color: inherit;
    text-decoration: none;
  }

  &__content {
    font-size: 0.9rem;
    color: r-theme-val(blogpost-glimpse, content-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__categories {
    order: -1;
    position: relative;
    margin: 0 0 0.1rem;
    padding-left: calc(10% + 0.2rem);

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 10%;
      @if r-theme-val(blogpost-glimpse, theme-border) {
        border-top: 1px solid r-theme-val(blogpost-glimpse, theme-border);
      }
    }

    .category-tag {
      display: inline-block;
      margin: 0 0 0 0.1rem;
      color: inherit;

      &::before {
        content: '•';
        position: relative;
        left: -0.6rem;
      }

      &:first-of-type {
        margin-left: 0;

        &::before {
          content: '';
          display: none;
        }
      }

      .category-tag__title {
        display: inline-block;
        padding: 0;
        color: inherit;
        font-weight: bold;
        background: transparent;

        img,
        svg {
          display: none;
        }
      }
    }
  }

  &__title {
    @include font-size($h3-font-size);
    margin: 0 0 0.1rem;
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-boldest;
    color: r-theme-val(blogpost-glimpse, title-color);
  }

  &__media {
    img {
      border-radius: $border-radius-lg;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 14vh,
      $background: r-theme-val(blogpost-glimpse, media-background),
      $absolute: false
    );
  }

  &__caption {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
  }

  // Blogpost date
  &__date {
    margin: 0;
    padding: 0.3rem 0;
    font-size: 0.8rem;
    color: r-theme-val(blogpost-glimpse, date-color);
    text-align: left;
  }

  &:hover,
  &:focus {
    #{$glimpse-item-selector}__title {
      color: r-theme-val(blogpost-glimpse, title-hover-color);
    }

    #{$glimpse-item-selector}__content {
      color: r-theme-val(blogpost-glimpse, content-hover-color);
    }

    #{$glimpse-item-selector}__media {
      border-radius: $border-radius-lg;
    }

    #{$glimpse-item-selector}__date {
      color: r-theme-val(blogpost-glimpse, date-hover-color);
    }
  }

  // Special row when there is no entry
  &--empty {
    @include sv-flex(1, 0, calc(100% - #{$glimpse-gutter * 2}));
    padding: 1rem;
    font-style: italic;
    color: r-theme-val(blogpost-glimpse, empty-color);
    text-align: center;
    cursor: default;
  }
}

//
// Favorite blogpost act like a block content with a big picture
//
.blogpost-favorite {
  @include sv-flex(1, 0, 100%);
  @include m-o-card(
    $border: null,
    $background: r-theme-val(blogpost-glimpse, card-background),
    $media-width: null,
    $media-margin: 0,
    $wrapper-padding: 0.6rem 0.2rem,
    $foot-divider: null
  );
  margin: 0;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    padding: 1rem 0;
  }

  &__title {
    @include font-size($h2-font-size);
    margin-bottom: 1rem;
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-extrabold;
    color: r-theme-val(blogpost-glimpse-favorite, title-color);
  }

  &__media {
    @include sv-flex(1, 0, 100%);
    margin-top: 2rem;
    order: 2;

    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, 65%);
      margin-top: 0;
    }

    img {
      border-radius: $border-radius-lg;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 14vh,
      $background: r-theme-val(blogpost-glimpse, media-background),
      $absolute: false
    );
  }

  &__content {
    @include sv-flex(1, 0, 100%);
    order: 1;
    font-size: 0.9rem;
    color: r-theme-val(blogpost-glimpse-favorite, content-color);

    @include media-breakpoint-up(lg) {
      @include sv-flex(1, 0, 35%);
      padding-right: 1.5rem;
    }
  }

  &__wrapper {
    padding: 0;
  }

  &__excerpt {
    color: r-theme-val(blogpost-glimpse-favorite, excerpt-color);
  }

  &__date,
  &__theme {
    display: none;
  }

  &__cta {
    @include button-base($font-weight: bold);
    @include r-button-colors(r-theme-val(blogpost-glimpse-favorite, cta), $apply-border: true);
    text-transform: uppercase;

    &:hover {
      @include r-button-colors(
        r-theme-val(blogpost-glimpse-favorite, cta-hover),
        $apply-border: true,
        $prefix: 'hover'
      );
    }
  }
}

//
// Mini flat row variant
//
.blogpost-mini {
  @include sv-flex(1, 0, 100%);
  @include m-o-card(
    $border: null,
    $background: r-theme-val(blogpost-glimpse, card-background),
    $media-width: null,
    $media-margin: 0,
    $wrapper-padding: 0.6rem 0.2rem,
    $foot-divider: null
  );
  margin: 0;
  padding: 1rem 0;
  flex-direction: row;
  @if r-theme-val(blogpost-glimpse-mini, border) {
    border-bottom: $onepixel solid r-theme-val(blogpost-glimpse-mini, border);
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__media {
    @include sv-flex(1, 0, 8.25rem);
    img {
      border-radius: $border-radius-lg;
    }
  }

  &__content {
    @include sv-flex(1, 1, auto);
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: r-theme-val(blogpost-glimpse, content-color);
    overflow: hidden;
  }

  &__wrapper {
    padding: 0 0 0 0.2rem;
    display: flex;
    flex-direction: column;
  }

  &__theme {
    padding-left: calc(1.7rem);

    &::before {
      top: 0.6rem;
      width: 1.5rem;
    }
  }

  &__categories {
    order: -1;
    display: flex;
    position: relative;
    margin: 0 0 0.1rem;
    padding-left: calc(10% + 0.2rem);

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 10%;
      @if r-theme-val(blogpost-glimpse, theme-border) {
        border-top: 1px solid r-theme-val(blogpost-glimpse, theme-border);
      }
    }

    .category-tag {
      display: inline-block;
      margin: 0 0 0 0.1rem;
      color: inherit;

      &::before {
        content: '•';
        position: relative;
        left: -0.6rem;
      }

      &:first-of-type {
        margin-left: 0;

        &::before {
          content: '';
          display: none;
        }
      }

      .category-tag__title {
        display: inline-block;
        padding: 0;
        color: inherit;
        font-weight: bold;
        background: transparent;

        img,
        svg {
          display: none;
        }
      }
    }
  }

  &__title {
    @include font-size($font-size-base);
    margin: 0 0 0.1rem;
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-boldest;
    color: r-theme-val(blogpost-glimpse, title-color);
  }
}
