// Blogpost glimpses
//
// A flex grid of blogpost entries

// Available object settings
$richie-blogpost-glimpse-list-maxwidth-constraint: true !default;
$richie-blogpost-glimpse-list-margin: 0 auto !default;
$richie-blogpost-glimpse-list-padding: 1rem 0 !default;
$richie-blogpost-glimpse-list-title-margin: null !default;
$richie-blogpost-glimpse-list-title-padding: 0.5rem !default;
$richie-blogpost-glimpse-list-title-textalign: left !default;

$richie-blogpost-glimpse-container-width-sm: null !default;
$richie-blogpost-glimpse-container-width-md: 50% !default;
$richie-blogpost-glimpse-container-width-lg: 33.3333% !default;
$richie-blogpost-glimpse-container-width-xl: 25% !default;
$richie-blogpost-glimpse-container-gutter: 0.5rem !default;
$richie-blogpost-glimpse-container-background: $white !default;
$richie-blogpost-glimpse-container-border: 1px solid $gray80 !default;
$richie-blogpost-glimpse-container-border-hover: 1px solid $firebrick6 !default;
$richie-blogpost-glimpse-container-border-radius: 0.25rem !default;

$richie-blogpost-glimpse-media-width: null !default;
$richie-blogpost-glimpse-media-margin: 0 !default;

$richie-blogpost-glimpse-caption-width: 60% !default;
$richie-blogpost-glimpse-caption-margin: 0 !default;
$richie-blogpost-glimpse-caption-padding: 0.6rem 0.5rem !default;
$richie-blogpost-glimpse-caption-fontsize: 0.9rem !default;
$richie-blogpost-glimpse-caption-fontweight: bold !default;
$richie-blogpost-glimpse-caption-lineheight: 1.1 !default;
$richie-blogpost-glimpse-caption-textalign: center !default;
$richie-blogpost-glimpse-caption-texttransform: uppercase !default;
$richie-blogpost-glimpse-caption-background: $gray80 !default;

$richie-blogpost-glimpse-content-fontsize: 0.9rem !default;
$richie-blogpost-glimpse-content-fontcolor: $gray40 !default;
$richie-blogpost-glimpse-content-textalign: center !default;

$richie-blogpost-glimpse-title-margin: 0 0 0.1rem !default;
$richie-blogpost-glimpse-title-fontsize: 0.9rem !default;
$richie-blogpost-glimpse-title-fontweight: bold !default;
$richie-blogpost-glimpse-title-fontcolor: $dodgerblue3 !default;

$richie-blogpost-glimpse-wrapper-padding: 0.6rem 0.2rem !default;

$richie-blogpost-glimpse-foot-divider: null !default;

$richie-blogpost-glimpse-foot-border: 1px solid $gray80 !default;

$richie-blogpost-glimpse-foot-date-width: 55% !default;
$richie-blogpost-glimpse-foot-date-padding: 0.3rem 0.5rem !default;
$richie-blogpost-glimpse-foot-date-fontsize: 0.9rem !default;
$richie-blogpost-glimpse-foot-date-fontcolor: $gray40 !default;
$richie-blogpost-glimpse-foot-date-textalign: center !default;
$richie-blogpost-glimpse-foot-date-background: null !default;

$richie-blogpost-glimpse-foot-cta-width: 45% !default;
$richie-blogpost-glimpse-foot-cta-padding: 0.3rem 0.5rem !default;
$richie-blogpost-glimpse-foot-cta-fontsize: 0.9rem !default;
$richie-blogpost-glimpse-foot-cta-fontweight: bold !default;
$richie-blogpost-glimpse-foot-cta-fontcolor: $white !default;
$richie-blogpost-glimpse-foot-cta-textalign: center !default;
$richie-blogpost-glimpse-foot-cta-background: $dodgerblue5 !default;
$richie-blogpost-glimpse-foot-cta-background-hover: $firebrick6 !default;

.blogpost-glimpse-list {
  @if $richie-blogpost-glimpse-list-maxwidth-constraint {
    @include make-container-max-widths();
  }
  display: flex;
  margin: $richie-blogpost-glimpse-list-margin;
  padding: $richie-blogpost-glimpse-list-padding;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    margin: $richie-blogpost-glimpse-list-title-margin;
    padding: $richie-blogpost-glimpse-list-title-padding;
    text-align: $richie-blogpost-glimpse-list-title-textalign;
  }
}

.blogpost-glimpse {
  $glimpse-item-selector: &;
  // Cell base width for lowest breakpoint
  @include sv-flex(
    1,
    0,
    calc(100% - #{$richie-blogpost-glimpse-container-gutter * 2})
  );

  // Apply card styles for elements
  @include m-o-card(
    $border: $richie-blogpost-glimpse-container-border,
    $background: $richie-blogpost-glimpse-container-background,
    $media-width: $richie-blogpost-glimpse-media-width,
    $media-margin: $richie-blogpost-glimpse-media-margin,
    $caption-width: $richie-blogpost-glimpse-caption-width,
    $caption-margin: $richie-blogpost-glimpse-caption-margin,
    $caption-padding: $richie-blogpost-glimpse-caption-padding,
    $caption-fontsize: $richie-blogpost-glimpse-caption-fontsize,
    $caption-background: $richie-blogpost-glimpse-caption-background,
    $wrapper-padding: $richie-blogpost-glimpse-wrapper-padding,
    $foot-divider: $richie-blogpost-glimpse-foot-divider,
    $methodology: 'bem'
  );

  // Apply gutter
  margin: $richie-blogpost-glimpse-container-gutter;

  &__content {
    font-size: $richie-blogpost-glimpse-content-fontsize;
    color: $richie-blogpost-glimpse-content-fontcolor;
    text-align: $richie-blogpost-glimpse-content-textalign;

    &__title {
      margin: $richie-blogpost-glimpse-title-margin;
      font-size: $richie-blogpost-glimpse-title-fontsize;
      font-weight: $richie-blogpost-glimpse-title-fontweight;
      color: $richie-blogpost-glimpse-title-fontcolor;
    }
  }

  &__media {
    &__caption {
      text-transform: $richie-blogpost-glimpse-caption-texttransform;
      font-weight: $richie-blogpost-glimpse-caption-fontweight;
      line-height: $richie-blogpost-glimpse-caption-lineheight;
      text-align: $richie-blogpost-glimpse-caption-textalign;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 14vh,
      $background: $gray97,
      $absolute: false
    );
  }

  // A little specific makeup onto footer elements
  &__footer {
    display: flex;
    border-top: $richie-blogpost-glimpse-foot-border;

    &__date {
      @include sv-flex-cell-width(auto);
      display: flex;
      margin: 0;
      padding: $richie-blogpost-glimpse-foot-date-padding;
      font-size: $richie-blogpost-glimpse-foot-date-fontsize;
      color: $richie-blogpost-glimpse-foot-date-fontcolor;
      justify-content: center;
      text-align: $richie-blogpost-glimpse-foot-date-textalign;
      background: $richie-blogpost-glimpse-foot-date-background;
    }

    &__cta {
      @include sv-flex-cell-width($richie-blogpost-glimpse-foot-cta-width);
      display: flex;

      .button {
        @include sv-flex-cell-width(100%);
        margin: 0;
        padding: $richie-blogpost-glimpse-foot-cta-padding;
        font-size: $richie-blogpost-glimpse-foot-cta-fontsize;
        font-weight: $richie-blogpost-glimpse-foot-cta-fontweight;
        color: $richie-blogpost-glimpse-foot-cta-fontcolor;
        background: $richie-blogpost-glimpse-foot-cta-background;
        border: 0;
        cursor: pointer;
      }
    }
  }

  &:hover,
  &:focus {
    border: $richie-blogpost-glimpse-container-border-hover;

    #{$glimpse-item-selector}__foot__cta .button {
      background: $richie-blogpost-glimpse-foot-cta-background-hover;
    }
  }

  // Responsive adjustments
  @if $richie-blogpost-glimpse-container-width-sm {
    @include media-breakpoint-up(md) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-blogpost-glimpse-container-width-sm} - #{$richie-blogpost-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-blogpost-glimpse-container-width-md {
    @include media-breakpoint-up(md) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-blogpost-glimpse-container-width-md} - #{$richie-blogpost-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-blogpost-glimpse-container-width-lg {
    @include media-breakpoint-up(lg) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-blogpost-glimpse-container-width-lg} - #{$richie-blogpost-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-blogpost-glimpse-container-width-xl {
    @include media-breakpoint-up(xl) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-blogpost-glimpse-container-width-xl} - #{$richie-blogpost-glimpse-container-gutter *
            2}
        )
      );
    }
  }

  // Special row when there is no entry
  &--empty {
    @include sv-flex(
      1,
      0,
      calc(100% - #{$richie-blogpost-glimpse-container-gutter * 2})
    );
    padding: 1rem;
    font-style: italic;
    color: $gray40;
    text-align: center;
    cursor: default;

    &:hover,
    &:focus {
      border: $richie-blogpost-glimpse-container-border;
    }
  }
}
