//
// Characteristic object list
//

// Simple inline with optional color scheme features
.characteristics {
  @include feature-list($margin: 0.5rem 0 0.5rem 0);
  color: inherit;

  &__item {
    @include feature-item($parent_selector: '.characteristics', $valign: flex-start, $expand: true);
    color: inherit;
    margin-bottom: 0.5rem;

    &--full-width {
      width: 100%;
    }
  }

  &__term {
    align-items: center;
    color: inherit;
    margin-top: rem-calc(-2px); // Fine tune vertical alignment with icons
  }

  // When using through a color scheme, item adopt button behaviors
  &--primary {
    .characteristics__item {
      @include button-tiny($form-factor: 'pill', $display: flex);
      @include r-button-colors(r-theme-val(characteristics, primary-item), $apply-border: true);
    }
  }

  &--secondary {
    .characteristics__item {
      @include button-tiny($form-factor: 'pill', $display: flex);
      @include r-button-colors(r-theme-val(characteristics, secondary-item), $apply-border: true);
    }
  }

  &--tertiary {
    .characteristics__item {
      @include button-tiny($form-factor: 'pill', $display: flex);
      @include r-button-colors(r-theme-val(characteristics, tertiary-item), $apply-border: true);
    }
  }
}
