// Course glimpses
//
// A flex grid of course cards

// Available object settings
$richie-course-glimpse-list-maxwidth-constraint: true !default;
$richie-course-glimpse-list-margin: 0 auto !default;
$richie-course-glimpse-list-vertical-padding: 1rem !default;
$richie-course-glimpse-list-title-margin: null !default;
$richie-course-glimpse-list-title-padding: 0.5rem !default;

$richie-course-glimpse-container-width-sm: null !default;
$richie-course-glimpse-container-width-md: 50% !default;
$richie-course-glimpse-container-width-lg: 33.3333% !default;
$richie-course-glimpse-container-width-xl: 25% !default;
$richie-course-glimpse-container-gutter: 0.5rem !default;
$richie-course-glimpse-container-background: $white !default;
$richie-course-glimpse-container-border: 1px solid $gray80 !default;
$richie-course-glimpse-container-border-hover: 1px solid $firebrick6 !default;

$richie-course-glimpse-media-margin: 0 !default;

$richie-course-glimpse-caption-width: 60% !default;
$richie-course-glimpse-caption-margin: 0 !default;
$richie-course-glimpse-caption-padding: 0.6rem 0.5rem !default;
$richie-course-glimpse-caption-fontsize: 0.9rem !default;
$richie-course-glimpse-caption-fontweight: bold !default;
$richie-course-glimpse-caption-lineheight: 1.1 !default;
$richie-course-glimpse-caption-textalign: center !default;
$richie-course-glimpse-caption-texttransform: uppercase !default;
$richie-course-glimpse-caption-background: $gray80 !default;

$richie-course-glimpse-content-fontsize: 0.9rem !default;
$richie-course-glimpse-content-fontcolor: $gray40 !default;
$richie-course-glimpse-content-textalign: center !default;

$richie-course-glimpse-icon-size: 2rem !default;

$richie-course-glimpse-title-fontsize: 1rem !default;
$richie-course-glimpse-title-fontweight: bold !default;
$richie-course-glimpse-title-fontcolor: $dodgerblue3 !default;

$richie-course-glimpse-wrapper-padding: 0.6rem !default;

$richie-course-glimpse-foot-divider: null !default;

$richie-course-glimpse-foot-border: 1px solid $gray80 !default;

$richie-course-glimpse-foot-date-width: 55% !default;
$richie-course-glimpse-foot-date-padding: 0.3rem 0.5rem !default;
$richie-course-glimpse-foot-date-fontsize: 0.9rem !default;
$richie-course-glimpse-foot-date-fontcolor: $gray40 !default;
$richie-course-glimpse-foot-date-textalign: center !default;
$richie-course-glimpse-foot-date-background: null !default;

$richie-course-glimpse-foot-cta-width: 45% !default;
$richie-course-glimpse-foot-cta-padding: 0.3rem 0.5rem !default;
$richie-course-glimpse-foot-cta-fontsize: 0.9rem !default;
$richie-course-glimpse-foot-cta-fontweight: bold !default;
$richie-course-glimpse-foot-cta-fontcolor: $white !default;
$richie-course-glimpse-foot-cta-textalign: center !default;
$richie-course-glimpse-foot-cta-background: $dodgerblue5 !default;
$richie-course-glimpse-foot-cta-background-hover: $firebrick6 !default;

.course-glimpse-list {
  @if $richie-course-glimpse-list-maxwidth-constraint {
    @include make-container-max-widths();
  }
  display: flex;
  margin: $richie-course-glimpse-list-margin;
  padding-top: $richie-course-glimpse-list-vertical-padding;
  padding-bottom: $richie-course-glimpse-list-vertical-padding;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    margin: $richie-course-glimpse-list-title-margin;
    padding: $richie-course-glimpse-list-title-padding;
  }

  &__count {
    flex-basis: 100%; // Should not wrap with actual course glimpses
    margin-left: $richie-course-glimpse-container-gutter;

    &:first-child {
      margin-top: -$richie-course-glimpse-list-vertical-padding; // Cancel out top padding
    }
  }
}

.course-glimpse {
  $glimpse-item-selector: &;
  // Cell base width for lowest breakpoint
  @include sv-flex(
    1,
    0,
    calc(100% - #{$richie-course-glimpse-container-gutter * 2})
  );

  // Apply card styles for elements
  @include m-o-card(
    $border: $richie-course-glimpse-container-border,
    $background: $richie-course-glimpse-container-background,
    $media-margin: $richie-course-glimpse-media-margin,
    $caption-width: $richie-course-glimpse-caption-width,
    $caption-margin: $richie-course-glimpse-caption-margin,
    $caption-padding: $richie-course-glimpse-caption-padding,
    $caption-fontsize: $richie-course-glimpse-caption-fontsize,
    $caption-background: $richie-course-glimpse-caption-background,
    $wrapper-padding: $richie-course-glimpse-wrapper-padding,
    $foot-divider: $richie-course-glimpse-foot-divider,
    $methodology: 'bem'
  );

  // Apply gutter
  margin: $richie-course-glimpse-container-gutter;

  &__icon {
    z-index: 0;
    display: flex;
    overflow: hidden;

    &__band {
      $end-triangle-height: $richie-course-glimpse-icon-size;
      $end-triangle-width: $end-triangle-height * 0.8656; // to get an equilateral triangle

      flex-grow: 1;
      align-self: center;
      position: relative;
      background: inherit;
      height: $richie-course-glimpse-icon-size;
      margin-right: $end-triangle-width;
      color: white;
      text-align: right;
      line-height: $richie-course-glimpse-icon-size;
      padding-right: 0.5rem;
      font-weight: 700;
      font-size: 85%;

      // Add a triangle at the end of the band
      &__end {
        width: 0;
        height: 0;
        border-top: $end-triangle-height / 2 solid transparent;
        border-bottom: $end-triangle-height / 2 solid transparent;
        border-left: $end-triangle-width solid transparent; // This color is set through HTML
        position: absolute;
        top: 0;
        right: -$end-triangle-width;

        // Fix band-triangle border glitch with an overlapping triangle
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-top: $end-triangle-height / 2 solid transparent;
          border-bottom: $end-triangle-height / 2 solid transparent;
          border-left: $end-triangle-width solid transparent; // This color is set through HTML
          border-left-color: inherit;
          position: absolute;
          top: -$end-triangle-height / 2;
          right: 0;
        }
      }
    }

    img {
      width: $richie-course-glimpse-icon-size + (2 * 0.5rem);
      height: $richie-course-glimpse-icon-size;
      padding: 0 0.5rem;
    }
  }

  &__content {
    font-size: $richie-course-glimpse-content-fontsize;
    color: $richie-course-glimpse-content-fontcolor;
    text-align: $richie-course-glimpse-content-textalign;

    margin-top: $richie-course-glimpse-icon-size / 2;
    margin-bottom: $richie-course-glimpse-icon-size / 2;

    .course-glimpse__icon + & {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__title {
      font-size: $richie-course-glimpse-title-fontsize;
      font-weight: $richie-course-glimpse-title-fontweight;
      color: $richie-course-glimpse-title-fontcolor;
    }
  }

  &__media {
    &__caption {
      text-transform: $richie-course-glimpse-caption-texttransform;
      font-weight: $richie-course-glimpse-caption-fontweight;
      line-height: $richie-course-glimpse-caption-lineheight;
      text-align: $richie-course-glimpse-caption-textalign;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 16vh,
      $background: $gray97,
      $absolute: false
    );
  }

  // A little specific makeup onto footer elements
  &__footer {
    display: flex;
    border-top: $richie-course-glimpse-foot-border;

    &__date {
      @include sv-flex-cell-width(auto);
      margin: 0;
      padding: $richie-course-glimpse-foot-date-padding;
      font-size: $richie-course-glimpse-foot-date-fontsize;
      color: $richie-course-glimpse-foot-date-fontcolor;
      justify-content: center;
      text-align: $richie-course-glimpse-foot-date-textalign;
      background: $richie-course-glimpse-foot-date-background;
    }

    &__cta {
      @include sv-flex-cell-width($richie-course-glimpse-foot-cta-width);
      display: flex;

      .button {
        @include sv-flex-cell-width(100%);
        margin: 0;
        padding: $richie-course-glimpse-foot-cta-padding;
        font-size: $richie-course-glimpse-foot-cta-fontsize;
        font-weight: $richie-course-glimpse-foot-cta-fontweight;
        color: $richie-course-glimpse-foot-cta-fontcolor;
        background: $richie-course-glimpse-foot-cta-background;
        border: 0;
        cursor: pointer;
      }
    }
  }

  &:hover,
  &:focus {
    border: $richie-course-glimpse-container-border-hover;

    #{$glimpse-item-selector}__foot__cta .button {
      background: $richie-course-glimpse-foot-cta-background-hover;
    }
  }

  // Responsive adjustments
  @if $richie-course-glimpse-container-width-sm {
    @include media-breakpoint-up(md) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-course-glimpse-container-width-sm} - #{$richie-course-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-course-glimpse-container-width-md {
    @include media-breakpoint-up(md) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-course-glimpse-container-width-md} - #{$richie-course-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-course-glimpse-container-width-lg {
    @include media-breakpoint-up(lg) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-course-glimpse-container-width-lg} - #{$richie-course-glimpse-container-gutter *
            2}
        )
      );
    }
  }
  @if $richie-course-glimpse-container-width-xl {
    @include media-breakpoint-up(xl) {
      @include sv-flex(
        1,
        0,
        calc(
          #{$richie-course-glimpse-container-width-xl} - #{$richie-course-glimpse-container-gutter *
            2}
        )
      );
    }
  }

  // Special row when there is no entry
  &--empty {
    @include sv-flex(
      1,
      0,
      calc(100% - #{$richie-course-glimpse-container-gutter * 2})
    );
    padding: 1rem;
    font-style: italic;
    color: $gray40;
    text-align: center;
    cursor: default;

    &:hover,
    &:focus {
      border: $richie-course-glimpse-container-border;
    }
  }
}
