// Course glimpses
//
// A flex grid of course cards

// Course-glimpse-list related variables
$r-course-glimpse-gutter: 0.8rem !default;

.course-glimpse-list {
  @include make-container-max-widths();
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  flex-direction: column;

  &__header,
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__content {
    flex-wrap: wrap;
  }

  &__title {
    @include sv-flex(1, 0, 100%);
    padding: 0.5rem;
  }

  &__count {
    margin-right: $r-course-glimpse-gutter;
    @include media-breakpoint-up(lg) {
      &:first-child {
        margin-top: -1rem; // Cancel out top padding
      }
    }
  }
}

// Course-glimpse related variables
$course-glimpse-content-padding-sides: 0.7rem !default;

.course-glimpse,
.course-glimpse__large {
  $glimpse-item-selector: &;

  // Apply card styles for elements
  @include m-o-card(
    $border: 0,
    $background: r-theme-val(course-glimpse, card-background),
    $media-margin: 0,
    $wrapper-padding: 1.7rem $course-glimpse-content-padding-sides 0.5rem,
    $foot-divider: null
  );

  // Cell base width for lowest breakpoint
  @include sv-flex(1, 0, calc(100% - #{$r-course-glimpse-gutter * 2}));

  position: relative;
  margin: $r-course-glimpse-gutter;
  border-radius: $border-radius-lg;
  box-shadow: r-theme-val(course-glimpse, base-shadow);
  min-width: 16rem;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    @include sv-flex(1, 0, calc(50% - #{$r-course-glimpse-gutter * 2}));
  }
  @include media-breakpoint-up(lg) {
    @include sv-flex(1, 0, calc(25% - #{$r-course-glimpse-gutter * 2}));
  }
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  // We want to trigger the card shadow on hovering links inside the card,
  // but not when hovering non-interactive text.
  // we handle this via these pointer-events rules
  pointer-events: none;

  a,
  button,
  .icon[aria-label] {
    pointer-events: auto;
  }

  &:hover,
  &:focus-within {
    color: inherit;
    text-decoration: none;
    border: 0;
    box-shadow: r-theme-val(course-glimpse, base-hover-shadow);

    #{$glimpse-item-selector}__foot__cta .button {
      background: r-theme-val(course-glimpse, cta-background);
    }
  }

  // Special row when there is no entry
  &--empty {
    @include sv-flex(1, 0, calc(100% - #{$r-course-glimpse-gutter * 2}));
    padding: 1rem;
    font-style: italic;
    color: r-theme-val(course-glimpse, empty-color);
    text-align: center;
    cursor: default;

    &:hover,
    &:focus {
      border: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    &--large {
      @include sv-flex(1, 0, calc(33.33333% - #{$r-course-glimpse-gutter * 2}));
    }
  }

  &__icon {
    @include button-small(
      $border-width: 0,
      $font-size: 0.8rem,
      $line-height: 1.1,
      $font-weight: $font-weight-normal
    );
    @include r-button-colors(r-theme-val(course-glimpse, icon));
    display: flex;
    position: absolute;
    top: -1.1rem;
    left: 0;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: r-theme-val(course-glimpse, icon-shadow);
    pointer-events: none;

    .category-badge {
      padding: 0;
      font-size: inherit;
      font-weight: inherit;
    }

    img {
      margin: 0 0.5rem 0 0;
    }
  }

  &__content {
    font-size: 0.9rem;
    color: r-theme-val(course-glimpse, content-color);
  }

  &__wrapper {
    @include sv-flex(1, 0, auto);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title,
  &__title-text {
    @include font-size($h6-font-size);
    color: r-theme-val(course-glimpse, title-color);
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-boldest;
    flex: 1 0 1.3em * 3; // 3 lines;
    line-height: 1.3em;
    margin-bottom: 1rem;
  }

  &__link {
    color: inherit;
    display: block;

    // we extend the clickable zone of the link,
    // so that the clickable zone actually sticks to the edges of the card
    // we keep a tiny space between the link and the text after to prevent misclicks
    height: 100%;
    box-sizing: content-box;
    padding: 1.7rem $course-glimpse-content-padding-sides 0.5rem;
    margin: -1.7rem #{$course-glimpse-content-padding-sides * -1} -0.5rem;

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
      outline: 0;
    }
  }

  &__title-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: block;
    display: -webkit-box;
    overflow: hidden;
  }

  &__link:focus &__title-text {
    outline: 1px dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 1px;
  }

  // we use focus-visible to prevent the outline on click, but we need to support safari
  // that doesn't support focus-visible quite yet
  @supports selector(:focus-visible) {
    &__link:focus &__title-text {
      outline: 0;
    }
    &__link:focus-visible &__title-text {
      outline: 1px dotted;
      outline: 1px auto -webkit-focus-ring-color;
      outline-offset: 1px;
    }
  }

  &__metadata {
    align-items: center;
    color: r-theme-val(course-glimpse, organization-color);
    display: flex;
    font-size: 0.7rem;
    line-height: 1.1em;

    &--organization {
      color: r-theme-val(course-glimpse, organization-color);
    }

    &--code {
      color: r-theme-val(course-glimpse, code-color);
    }

    .icon {
      fill: currentColor;
      margin-bottom: 0.15rem;
      margin-right: 0.5rem;
    }

    .title {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: block;
      display: -webkit-box;
      max-height: 2.2em; // 2 lines
      overflow: hidden;
    }
  }

  &__organization-logo {
    align-items: center;
    background-color: $white;
    border-radius: $border-radius-sm 0 0 $border-radius-sm;
    box-shadow: r-theme-val(course-glimpse, organization-shadow);
    display: flex;
    height: 4.3rem;
    justify-content: center;
    overflow: hidden;
    padding: 0.25rem;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: -3.53rem;
    width: 4.3rem;
    z-index: 0;

    img {
      object-fit: contain;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &__media {
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;

    img,
    iframe {
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
    }

    img {
      height: 16vh;
      min-height: 170px;
      width: 100%;
      object-fit: cover;
      object-position: center top;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 16vh,
      $background: r-theme-val(course-glimpse, organization-media-empty-background),
      $absolute: false
    );
  }

  &__caption {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    text-align: center;
  }

  &__svg-icon {
    @include sv-flex-cell-width(1.1rem);
    width: 1.1rem;
    height: 1.1rem;
    fill: r-theme-val(course-glimpse, svg-icon-fill);
    margin: 0 0.5rem;
  }
}

.course-glimpse-footer,
.course-glimpse__large-footer {
  @include r-button-colors(r-theme-val(course-glimpse, footer), $apply-border: true);
  display: flex;
  padding: 0 $course-glimpse-content-padding-sides;
  border-bottom-left-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  font-size: 0.7rem;

  &__date {
    @include sv-flex(1, 0, auto);
    display: flex;
    margin: 0;
    padding: 0.45rem 0;
    align-items: center;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    .icon {
      margin-right: 0.5rem;
    }
  }
}

//
// Course Glimpse Large
//
.course-glimpse__large {
  @include media-breakpoint-up(lg) {
    @include sv-flex(1, 0, calc(33.33333% - #{$r-course-glimpse-gutter * 2}));
  }
}
