//
// Form objects
//

// Example of a form class structure:
// .form
//  .form-row
//    .c__field ( should be form-field when cunningham is improved)
.form {
  .c__field {
    width: auto;
    display: flex;
    flex: 1;
  }

  &-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    flex-direction: row;
    gap: r-theme-val(form, inline-spacing);
    margin-bottom: r-theme-val(form, block-spacing);
    &:last-child {
      margin-bottom: 0;
    }

    &-button-container {
      // Cunningham buttons are 8px smaller than inputs
      // to align them, we need to add this small margin top.
      // row's align-item: center doesn't work because when an input
      // is on error, it can add multiple line underneath
      margin-top: rem-calc(4px);
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &-footer {
    margin-top: r-theme-val(form, block-spacing);
  }
}
