// Pagination object
//
.pagination {
  @include make-container-max-widths;
  @include sv-flex(1, 0, 100%);
  margin: 0 auto;

  &__list {
    display: flex;
    margin: 1rem 0;
    padding: 0;
    justify-content: center;
  }

  &__item {
    list-style-type: none;
    display: flex;
    color: r-theme-val(pagination, item-color);
    font-weight: bold;
    background: r-theme-val(pagination, item-background);
    @if r-theme-val(pagination, item-border) {
      border: $onepixel solid r-theme-val(pagination, item-border);
    }
    cursor: pointer;

    &:first-child {
      border-top-left-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }

    &:last-child {
      border-top-right-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
    }

    & + & {
      border-left: 0;
    }

    &--current {
      color: r-theme-val(pagination, current-color);
      background: r-theme-val(pagination, current-background);
      cursor: default;
    }

    &--placeholder {
      padding: 0.5rem 1rem;
      cursor: default;
    }
  }

  &__page-number {
    @include button-reset-style();
    color: inherit;
    padding: 0.5rem 1rem;
  }
}
