// Person glimpse
//

// Available objects settings
$richie-person-glimpse-list-maxwidth-constraint: true !default;
$richie-person-glimpse-list-margin: 0 auto !default;
$richie-person-glimpse-list-padding: 1rem 0 !default;
$richie-person-glimpse-list-title-margin: null !default;
$richie-person-glimpse-list-title-padding: 0.5rem !default;
$richie-person-glimpse-list-title-textalign: left !default;

$richie-person-glimpse-container-padding: 1rem !default;
$richie-person-glimpse-container-border: 1px solid $gray80 !default;
$richie-person-glimpse-container-background: $white !default;
$richie-person-glimpse-container-divider: 1rem !default;

$richie-person-glimpse-content-title-fontcolor: $dodgerblue5 !default;
$richie-person-glimpse-content-title-textalign: center !default;
$richie-person-glimpse-content-title-textalign-lg: left !default;

$richie-person-glimpse-wrapper-padding: 0 0 0 1rem !default;

$richie-person-glimpse-media-width: 100px;

$richie-person-glimpse-caption-width: 60% !default;
$richie-person-glimpse-caption-margin: 0 !default;
$richie-person-glimpse-caption-padding: 0.6rem 0.5rem !default;
$richie-person-glimpse-caption-fontsize: 0.9rem !default;
$richie-person-glimpse-caption-background: $gray80 !default;

// Common container for glimpse list
.person-glimpse-list {
  @if $richie-person-glimpse-list-maxwidth-constraint {
    @include make-container-max-widths();
  }
  display: flex;
  margin: $richie-blogpost-glimpse-list-margin;
  padding: $richie-blogpost-glimpse-list-padding;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    margin: $richie-person-glimpse-list-title-margin;
    padding: $richie-person-glimpse-list-title-padding;
    text-align: $richie-person-glimpse-list-title-textalign;
  }
}

// Glimpse object
.person-glimpse {
  @include sv-flex(1, 0, 100%);

  @include m-o-card(
    $padding: $richie-person-glimpse-container-padding,
    $border: $richie-person-glimpse-container-border,
    $background: $richie-person-glimpse-container-background,
    $media-margin: 0,
    $caption-width: $richie-person-glimpse-caption-width,
    $caption-margin: $richie-person-glimpse-caption-margin,
    $caption-padding: $richie-person-glimpse-caption-padding,
    $caption-fontsize: $richie-person-glimpse-caption-fontsize,
    $caption-background: $richie-person-glimpse-caption-background,
    $content-flex-justify: flex-start,
    $wrapper-padding: $richie-person-glimpse-wrapper-padding,
    $methodology: 'bem'
  );
  flex-basis: calc(100% - 1rem);
  margin: 0.5rem;

  @include media-breakpoint-up(lg) {
    @include m-o-card(
      $media-width: $richie-person-glimpse-media-width,
      $methodology: 'bem'
    );
  }

  &__media {
    img {
      margin: 0 auto;
      max-width: $richie-person-glimpse-media-width;
      border-radius: 100%;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 13vh,
      $background: $gray97,
      $absolute: false
    );
  }

  &__content__wrapper__title {
    margin-bottom: 0.3rem;
    color: $richie-person-glimpse-content-title-fontcolor;
    text-align: $richie-person-glimpse-content-title-textalign;
    @include media-breakpoint-up(lg) {
      text-align: $richie-person-glimpse-content-title-textalign-lg;
    }
  }

  &__content__wrapper__categories {
    display: flex;
    margin-bottom: 0.6rem;
    text-align: $richie-person-glimpse-content-title-textalign;
    @include media-breakpoint-up(lg) {
      text-align: $richie-person-glimpse-content-title-textalign-lg;
    }
  }

  &__content__wrapper__bio {
    @include m-o-media_empty($width: 100%, $height: 13vh, $absolute: false);
  }

  // Divider between object
  & + .person-glimpse {
    margin-top: $richie-person-glimpse-container-divider;
  }
}
