@use 'sass:math';

// Person glimpse
//

// Common container for glimpse list
.person-glimpse-list {
  @include make-container-max-widths();
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    padding: 0.5rem;
    text-align: left;
  }
}

// Glimpse object
.person-glimpse {
  $glimpse-item-selector: &;
  $glimpse-gutter: 2rem;

  @include sv-flex(1, 0, calc(100% - #{$glimpse-gutter}));
  @include m-o-card(
    $padding: 1rem,
    $border: 0,
    $background: r-theme-val(person-glimpse, card-background),
    $media-margin: 0 1.5rem 0 0,
    $content-flex-justify: flex-start,
    $wrapper-padding: 0 0 0 1rem
  );
  margin: math.div($glimpse-gutter, 2);
  border-radius: $border-radius-lg;
  box-shadow: r-theme-val(person-glimpse, base-shadow);

  @include media-breakpoint-up(lg) {
    @include m-o-card($media-width: 100px);
    @include sv-flex(1, 0, calc(50% - #{$glimpse-gutter}));
  }

  &__media {
    @include media-breakpoint-down(lg) {
      margin-bottom: 1rem;
      margin-right: 0;
    }

    img {
      margin: 0 auto;
      max-width: 100px;
      border-radius: 100%;
    }

    @include m-o-media_empty(
      $width: 100%,
      $height: 13vh,
      $background: r-theme-val(person-glimpse, empty-background),
      $absolute: false
    );
  }

  &__wrapper {
    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 0.3rem;
    @include font-size($h4-font-size);
    color: r-theme-val(person-glimpse, title-color);
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__categories {
    display: flex;
    margin-bottom: 0.6rem;
    flex-wrap: wrap;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    .category-tag {
      @include button-tiny($form-factor: 'pill');
      @include r-button-colors(r-theme-val(person-glimpse, category), $apply-border: true);
      max-width: 100%;
      display: flex;
      align-items: center;

      &__title {
        padding: 0;
        font-weight: bold;
        background: r-theme-val(person-glimpse, category-title);
      }

      &__caption {
        font-weight: bold;
      }
    }
  }

  &__bio {
    font-size: 0.9rem;
    color: r-theme-val(person-glimpse, bio-color);

    p,
    li {
      font-size: inherit;
      color: inherit;
    }
  }
}
