// Program glimpses
//
// A flex grid of program entries

$r-program-glimpse-gutter: 0.8rem !default;

.program-glimpse-list {
  @include make-container-max-widths();
  display: flex;
  margin: 0 auto;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;

  &__title {
    @include sv-flex(1, 0, 100%);
    padding: 0.5rem;
    text-align: left;
  }
}

.program-glimpse {
  $glimpse-item-selector: &;
  $card-border: null;
  @if r-theme-val(program-glimpse, card-border) {
    $card-border: $onepixel solid r-theme-val(program-glimpse, card-border);
  }

  // Cell base width for lowest breakpoint
  @include sv-flex(1, 0, calc(100% - #{$r-program-glimpse-gutter * 2}));

  // Apply card styles for elements
  @include m-o-card(
    $border: $card-border,
    $background: r-theme-val(program-glimpse, card-background),
    $media-margin: 0,
    $wrapper-padding: 1rem 0.5rem 2rem
  );

  margin: $r-program-glimpse-gutter;
  border-radius: $border-radius-lg;
  box-shadow: r-theme-val(program-glimpse, base-shadow);

  &__media {
    position: relative;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;

    @if r-theme-val(program-glimpse, media-decoration) {
      padding-bottom: 0 !important;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5rem;
        background-image: r-theme-val(program-glimpse, media-decoration);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100% 100%;
      }
    }

    img,
    iframe {
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
    }
  }

  &__content {
    font-size: 0.9rem;
    color: r-theme-val(program-glimpse, content-color);
    text-align: center;
  }

  &__title {
    margin: 0 0 1.5rem;
    @include font-size($h6-font-size);
    font-family: $r-font-family-montserrat;
    font-weight: $font-weight-boldest;
    color: r-theme-val(program-glimpse, title-color);
  }

  @include m-o-media_empty(
    $width: 100%,
    $height: 14vh,
    $background: r-theme-val(program-glimpse, empty-background),
    $absolute: false
  );

  &:hover,
  &:focus {
    @if r-theme-val(program-glimpse, card-hover-border) {
      border: $onepixel solid r-theme-val(program-glimpse, card-hover-border);
    }
    box-shadow: r-theme-val(program-glimpse, base-hover-shadow);
  }

  // Responsive adjustments
  @include media-breakpoint-up(md) {
    @include sv-flex(1, 0, calc(50% - #{$r-program-glimpse-gutter * 2}));
  }
  @include media-breakpoint-up(lg) {
    @include sv-flex(1, 0, calc(33.3333% - #{$r-program-glimpse-gutter * 2}));
  }
  @include media-breakpoint-up(xl) {
    @include sv-flex(1, 0, calc(25% - #{$r-program-glimpse-gutter * 2}));
  }

  // Special row when there is no entry
  &--empty {
    @include sv-flex(1, 0, calc(100% - #{$r-program-glimpse-gutter * 2}));
    padding: 1rem;
    font-style: italic;
    color: r-theme-val(program-glimpse-empty, card-color);
    text-align: center;
    cursor: default;
    border: $onepixel solid r-theme-val(program-glimpse, card-background); // avoid jumping footer on hover

    @if r-theme-val(program-glimpse-empty, hover-border) {
      &:hover,
      &:focus {
        border: $onepixel solid r-theme-val(program-glimpse-empty, hover-border);
      }
    }
  }
}
