.react-autosuggest {
  &__container {
    position: relative;
    margin-bottom: 20px;
  }

  &__input {
    @extend .form-control;
    @include button-base($text-align: left, $form-factor: 'pill');
    padding-right: 3.6rem;
    height: auto;
    border: 1px solid r-theme-val(base-search, input-border);
  }

  &__suggestions-container {
    @extend .dropdown-menu;
    width: 100%;

    &--open {
      display: block; // Show/hide is managed by react-autosuggest with the --open state
    }
  }

  &__suggestions-list {
    display: block;
  }

  &__suggestion {
    @extend .dropdown-item;

    &:hover {
      cursor: pointer;
    }

    &--highlighted {
      @extend .active;
    }
  }

  &__section-title {
    @extend .dropdown-header;
  }
}
