.react-autosuggest {
  &__container {
    position: relative;
    margin-bottom: 20px;
    /* &--open {} */
  }

  &__input {
    @extend .form-control;
    /*
    &--open {}
    &--focused {}
    */
  }

  &__suggestions-container {
    @extend .dropdown-menu;
    width: 100%;

    &--open {
      display: block; // Show/hide is managed by react-autosuggest with the --open state
    }
  }

  &__suggestions-list {
    display: block;
  }

  &__suggestion {
    @extend .dropdown-item;

    &:hover {
      cursor: pointer;
    }

    /* &--first {} */
    &--highlighted {
      @extend .active;
    }
  }

  /*
  &__section-container {
    &--first {}
  }
  */

  &__section-title {
    @extend .dropdown-header;
  }
}


.richie-react--root-search-suggest-field {
    .react-autosuggest__container {
        margin: 0;
    }

    .search-input {
        @include sv-flex(1, 0, 100%);
        display: flex;
        position: relative;

        &__btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1.2rem 0 1rem;
            background: r-theme-val(base-search, input-background);
            border: 0;

            &__icon{
                width: 1.4rem;
                height: 1.4rem;
                fill: r-theme-val(base-search, icon-fill);
            }
        }
    }

    .react-autosuggest__input {
        @include button-base($text-align: left, $form-factor: "pill");
        padding-right: 3.6rem;
        height: auto;
        border: 1px solid r-theme-val(base-search, input-border);
    }
}
