// Theme schemes

// Used from styleguide to build available scheme to demonstrate, used to create button variant
$r-theme: (
  banner: (
    error: $firebrick6-scheme,
    warning: $indianred3-scheme,
    success: $azure2,
    info: $battleship-grey-scheme,
  ),
  base-schemes: (
    primary: $firebrick6-scheme,
    secondary: $indianred3-scheme,
    tertiary: $smoke-scheme,
    clear: $white-scheme,
    light: $light-grey-scheme,
    lightest: $azure2,
    active: $active-scheme,
    neutral-gradient: $neutral-gradient-scheme,
    middle-gradient: $middle-gradient-scheme,
    dark-gradient: $dark-gradient-scheme,
    white-mask-gradient: $white-mask-gradient-scheme,
    transparent-darkest: $transparent-dark-scheme,
    clouds: $clouds-scheme,
    waves: $waves-scheme,
    purplish-grey: $purplish-grey-scheme,
    battleship-grey: $battleship-grey-scheme,
  ),
  base-gradients: (
    neutral-gradient: $neutral-gradient,
    middle-gradient: $middle-gradient,
    dark-gradient: $dark-gradient,
    white-mask-gradient: $white-mask-gradient,
  ),
  topbar: (
    base-background: r-color('white'),
    over-background: rgba(r-color('white'), 0.1),
    over-border: r-color('light-grey'),
    hamburger-color: r-color('denim'),
    item-color: r-color('black'),
    item-hover-color: r-color('indianred3'),
    item-active-color: r-color('firebrick6'),
    item-cta-color: r-color('white'),
    item-cta-background: r-color('firebrick6'),
    item-cta-border: r-color('firebrick6'),
    item-cta-hollow-color: r-color('firebrick6'),
    item-cta-hollow-background: transparent,
    item-cta-hollow-border: transparent,
    item-divider-border: r-color('light-grey'),
  ),
  body-content: (
    base-color: r-color('black'),
    base-background: r-color('white'),
    insert-background-image: url('../../richie/images/components/wave-dark.svg'),
    base-link-color: r-color('firebrick6'),
  ),
  body-footer: (
    base-color: r-color('light-grey'),
    base-background: r-color('dark-grey'),
    lang-color: r-color('white'),
    section-hover: r-color('white'),
    subtitle-color: r-color('white'),
    badge-button: $firebrick6-scheme,
  ),
  body-mentions: (
    base-color: r-color('white'),
    base-background: r-color('black'),
    poweredby-hover: r-color('white'),
  ),
  subheader: (
    base: $purplish-grey-scheme,
    container: $middle-gradient-scheme,
    cta: $indianred3-scheme,
    media-background: r-color('white'),
    teaser-border: rgba(r-color('grey87'), 0.7),
    search-input-color: r-color('black'),
    search-input-background: transparent,
    search-input-border: r-color('black'),
    search-input-placeholder: r-color('black'),
    social-network-badges: $transparent-dark-scheme,
  ),
  subheader-alt: (
    container-background: $middle-gradient,
    container-border: r-color('purplish-grey'),
    background-image: url('../../richie/images/components/wave-white.svg'),
  ),
  block-schemes: (
    empty-color: r-color('dark-grey'),
    divider: r-color('azure2'),
    variants: (
      clear: $light-grey-scheme,
      light: $light-grey-scheme,
      lightest: $azure2,
      gradient-neutral: $neutral-gradient-scheme,
      gradient-dark: $dark-gradient-scheme,
      clouds: $clouds-scheme,
      waves: $waves-scheme,
    ),
    alt-arc: url('../../richie/images/components/arc-white.svg'),
    alt-curve: url('../../richie/images/components/curve-white.svg'),
    alt-wave: url('../../richie/images/components/wave-white.svg'),
  ),
  accordion-plan: (
    item-dot-color: r-color('black'),
    title-color: r-color('firebrick6'),
    content-color: r-color('slate-grey'),
    border-color: r-color('light-grey'),
    background-color: null,
    dot-closed: url('../../richie/images/components/add-outline.svg'),
    dot-opened: url('../../richie/images/components/minus-outline.svg'),
  ),
  large-banner: (
    base-background-color: r-color('black'),
    base-color: r-color('white'),
    base-shadow: r-color('black'),
  ),
  hero-intro: (
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    inner-background: $white-mask-gradient,
    title-color: r-color('firebrick6'),
    title-alt-color: r-color('charcoal'),
    content-color: r-color('black'),
    search-input-background: rgba(r-color('white'), 0.7),
    search-btn-background: r-color('firebrick6'),
    search-icon-fill: r-color('white'),
    cta-variant-from: rgba(r-color('white'), 0.8),
    cta-variant-to: rgba(r-color('white'), 0.8),
    cta-color: r-color('firebrick6'),
    cta-border: r-color('white'),
  ),
  section-plugin: (
    title-emphased-color: r-color('firebrick6'),
  ),
  licence-plugin: (
    content-color: r-color('slate-grey'),
    description-color: r-color('slate-grey'),
  ),
  blogpost-glimpse: (
    card-background: r-color('white'),
    title-color: r-color('black'),
    title-hover-color: r-color('firebrick6'),
    theme-border: r-color('firebrick6'),
    content-color: r-color('slate-grey'),
    content-hover-color: r-color('black'),
    media-background: r-color('light-grey'),
    date-color: r-color('slate-grey'),
    date-hover-color: r-color('firebrick6'),
    empty-color: r-color('black'),
  ),
  blogpost-glimpse-mini: (
    border: r-color('light-grey'),
  ),
  blogpost-glimpse-favorite: (
    content-color: inherit,
    title-color: r-color('firebrick6'),
    excerpt-color: r-color('slate-grey'),
    cta: $firebrick6-scheme,
    cta-hover: $firebrick6-scheme,
  ),
  button-caesura: (
    base: $firebrick6-scheme,
    base-hover: $firebrick6-scheme,
  ),
  badge-glimpse: (
    base-background: r-color('white'),
    title-color: r-color('charcoal'),
    content-color: r-color('slate-grey'),
  ),
  card-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('firebrick6'),
    title-color: r-color('black'),
    content-color: r-color('slate-grey'),
  ),
  category-glimpse: (
    base-border: rgba(r-color('black'), 0.125),
    base-hover-border: r-color('firebrick6'),
    base-hover-color: r-color('firebrick6'),
    base-background: r-color('white'),
    body-color: r-color('black'),
    title-color: inherit,
    title-hover-color: r-color('firebrick6'),
    logo-empty-background: r-color('smoke'),
  ),
  course-glimpse-list: (
    count-color: r-color('slate-grey'),
  ),
  course-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
    cta-background: r-color('battleship-grey'),
    empty-color: r-color('slate-grey'),
    icon-shadow: (
      0 10px 50px 0 rgba(r-color('black'), 0.05),
      0 12px 34px 0 rgba(r-color('black'), 0.15),
    ),
    icon: $middle-gradient-scheme,
    content-color: r-color('slate-grey'),
    title-color: r-color('black'),
    organization-media-empty-background: r-color('smoke'),
    organization-color: r-color('firebrick6'),
    code-color: r-color('battleship-grey'),
    svg-icon-fill: r-color('white'),
    footer: $battleship-grey-scheme,
    organization-shadow: 0 0 6px r-color('light-grey'),
  ),
  category-badges: (
    primary-item: $indianred3-scheme,
    secondary-item: $firebrick6-scheme,
    tertiary-item: $smoke-scheme,
  ),
  category-tags: (
    primary-item: $indianred3-scheme,
    secondary-item: $firebrick6-scheme,
    tertiary-item: $smoke-scheme,
  ),
  characteristics: (
    primary-item: $firebrick6-scheme,
    secondary-item: $indianred3-scheme,
    tertiary-item: $smoke-scheme,
  ),
  dashboard: (
    background-color: r-color('azure2'),
    base-shadow: 0 0 6px r-color('light-grey'),
  ),
  dashboard-avatar: (
    background-color: r-color('firebrick6'),
    base-color: r-color('white'),
  ),
  credit-card-brand-logo: (
    background-color: r-color(denim),
  ),
  credit-card-selector: (
    title-color: r-color('charcoal'),
    separator-color: r-color('light-grey'),
  ),
  dashboard-addresses: (
    empty-color: r-color(slate-grey),
  ),
  dashboard-address-box: (
    base-color: r-color(charcoal),
    title-color: r-color(slate-grey),
  ),
  dashboard-breadcrumbs: (
    base-color: r-color(charcoal),
  ),
  dashboard-card: (
    base-color: r-color(charcoal),
    base-shadow: 0 0 6px r-color('light-grey'),
    text-hover-color: r-color('grey59'),
    base-border: r-color('azure2'),
  ),
  dashboard-credit-cards: (
    empty-color: r-color(slate-grey),
  ),
  dashboard-credit-card-box: (
    base-color: r-color(charcoal),
    title-color: r-color(slate-grey),
    expire-soon-color: r-color('indianred3'),
    expired-color: r-color('firebrick6'),
  ),
  dashboard-box: (
    background: r-color(smoke),
    base-color: r-color(charcoal),
    header-color: r-color(slate-grey),
    base-shadow: 0 0 6px r-color('light-grey'),
    text-hover-color: r-color('grey59'),
    base-border: r-color('light-grey'),
  ),
  dashboard-item-course-enrolling-run: (
    enrolled-color: r-color('mantis'),
  ),
  dashboard-sidebar: (
    background-color: r-color('white'),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-color: r-color(charcoal),
    sub-title-color: r-color('slate-grey'),
    active-color: r-color('indianred3'),
    base-border: r-color('light-grey'),
    menu-link-inline-padding: 16px,
  ),
  dashboard-splitted-card: (
    color: r-color('charcoal'),
    base-shadow: 0 0 6px r-color('light-grey'),
    background-color: r-color('white'),
    dot-color: r-color('firebrick6'),
    separator-color: r-color('grey87'),
  ),
  dashboard-list: (
    background-color-loading: r-color('smoke'),
  ),
  form: (
    input-placeholder: r-color('grey32'),
    input-color: r-color('charcoal'),
    input-color-error: r-color('firebrick6'),
    input-border: r-color('grey32'),
    input-border-error: r-color('firebrick6'),
    input-border-focus: r-color('denim'),
    input-outline: rgba(r-color('denim'), 0.5),
    input-checked-background: r-color('firebrick6'),
    input-unchecked-background: transparent,
    input-unchecked-border: r-color('grey32'),
    input-checked-border: transparent,
    input-checked-color: r-color('white'),
    input-unchecked-color: transparent,
    input-disabled-background: r-color('grey87'),
    input-hover-color: r-color('grey59'),
    message-color: r-color('grey32'),
    required-note-color: r-color('indianred3'),
    block-spacing: rem-calc(10px),
    inline-spacing: rem-calc(16px),
  ),
  organization-thumb: (
    border-color: r-color('grey59'),
    border-color-hover: r-color('firebrick6'),
  ),
  organization-glimpse-list: (
    empty-color: r-color('slate-grey'),
    empty-background: transparent,
  ),
  organization-glimpse: (
    base-background: r-color('white'),
    base-border: r-color('light-grey'),
    logo-empty-background: r-color('smoke'),
    link-border: r-color('firebrick6'),
  ),
  organization-glimpse-row: (
    base-background: r-color('white'),
    divider: r-color('light-grey'),
    hover-background: darken(r-color('white'), 2%),
    hover-title-color: r-color('firebrick6'),
  ),
  dashboard-sidebar-organization-link-title: (
    base-color: r-color('battleship-grey'),
  ),
  pagination: (
    item-color: r-color('slate-grey'),
    item-background: r-color('white'),
    item-border: r-color('light-grey'),
    current-color: r-color('white'),
    current-background: r-color('firebrick6'),
  ),
  person-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 1px 2px rgba(r-color('battleship-grey'), 0.4),
    title-color: r-color('black'),
    empty-background: r-color('smoke'),
    category: $firebrick6-scheme,
    category-title: transparent,
    bio-color: r-color('slate-grey'),
  ),
  program-glimpse: (
    card-background: r-color('white'),
    card-border: null,
    card-hover-border: null,
    content-color: r-color('slate-grey'),
    title-color: r-color('firebrick6'),
    media-decoration: url('../../richie/images/components/arc-white.svg'),
    empty-background: r-color('smoke'),
    footer: $firebrick6-scheme,
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
  ),
  program-glimpse-empty: (
    card-color: r-color('slate-grey'),
    hover-border: r-color('light-grey'),
  ),
  quote-glimpse: (
    base-background: r-color('white'),
    base-shadow: 0 0 4px r-color('light-grey'),
    title-color: r-color('black'),
    content-color: r-color('purplish-grey'),
    icon-color: r-color('midnightblue'),
  ),
  row_half-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('firebrick6'),
    title-color: r-color('black'),
    content-color: r-color('slate-grey'),
  ),
  row_full-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('firebrick6'),
    title-color: r-color('black'),
    content-color: r-color('slate-grey'),
  ),
  base-search: (
    input-background: transparent,
    icon-fill: r-color('slate-grey'),
    input-border: r-color('slate-grey'),
  ),
  social-network-badges: (
    base: $firebrick6-scheme,
  ),
  blogpost-detail: (
    aside-glimpse-title-color: r-color('indianred3'),
    aside-glimpse-title-background: r-color('white'),
    aside-glimpse-title-border: r-color('indianred3'),
    categories: $firebrick6-scheme,
    categories-tag-background: transparent,
    top-border: r-color('light-grey'),
    theme-border: r-color('indianred3'),
    pubdate-border: r-color('firebrick6'),
    authors-border: r-color('firebrick6'),
    cover-empty-background: r-color('smoke'),
    body-color: inherit,
    headline-color: r-color('slate-grey'),
    headline-border: r-color('black'),
    headline-title-color: r-color('black'),
    social-network-badges: $transparent-dark-scheme,
  ),
  category-detail: (
    empty-background: r-color('smoke'),
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    logo-background: r-color('white'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
    intro-title-color: r-color('firebrick6'),
    description-color: r-color('slate-grey'),
  ),
  course-detail: (
    organizations-title-color: r-color('slate-grey'),
    aside-title-border: r-color('charcoal'),
    primary-group-title-color: r-color('charcoal'),
    primary-group-background: null,
    primary-group-arc: null,
    run-cta: $indianred3-scheme,
    run-feedback-color: r-color('slate-grey'),
    subheader-run-cta: $indianred3-scheme,
    subheader-run-feedback-color: r-color('dark-grey'),
    run-descriptions-divider: r-color('light-grey'),
    plan-title-color: r-color('firebrick6'),
    license-label-color: r-color('denim'),
    checkmark-list-decoration: url('../../richie/images/components/checkmark.svg'),
    checkmark-list-decoration-color: r-color('indianred3'),
    view-more-runs-color: r-color('firebrick6'),
    run-catalog-visibility-hidden-logo: url('../../richie/images/catalog_visibility/hidden.svg'),
    run-catalog-visibility-course-only-logo:
      url('../../richie/images/catalog_visibility/course_only.svg'),
    run-catalog-visibility-logo-color: r-color('indianred3'),
  ),
  organization-detail: (
    banner-empty-background: r-color('smoke'),
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
    intro-title: r-color('firebrick6'),
    categories: $firebrick6-scheme,
    description-color: r-color('slate-grey'),
  ),
  product-item: (
    base-background: r-color('white'),
    base-border: r-color('purplish-grey'),
    light-color: r-color('white'),
    base-color: r-color('charcoal'),
    lighter-color: r-color('battleship-grey'),
    button-color: r-color('white'),
    button-background: r-color('firebrick6'),
    feedback-color: r-color('indianred3'),
  ),
  program-detail: (
    cover-empty-background: r-color('smoke'),
  ),
  registered-credit-card: (
    title-color: r-color('charcoal'),
    base-color: r-color('purplish-grey'),
  ),
  sale-tunnel: (
    description-color: r-color('charcoal'),
    title-color: r-color('charcoal'),
    separator-color: r-color('grey87'),
    email-description-color: r-color('purplish-grey'),
  ),
  search-results: (
    overlay: r-color('black'),
    color: r-color('light-grey'),
  ),
  search-filters: (
    base-background: r-color('white'),
    toggler-background: r-color('azure2'),
    toggler-shadow: 0 0 0.2rem r-color('slate-grey'),
    toggler-fill: r-color('slate-grey'),
  ),
  search-filters-pane: (
    title-color: r-color('black'),
    clearer-hover-color: r-color('firebrick6'),
  ),
  search-filters-group: (
    title-color: r-color('battleship-grey'),
    modal-overlay-background: r-color('white'),
  ),
  modal: (
    base-background: r-color('white'),
    base-border: r-color('slate-grey'),
    base-color: r-color('slate-grey'),
    overlay-background: rgba(r-color('black'), 0.75),
  ),
  search-filters-group-modal: (
    button-background: r-color('firebrick6'),
    button-color: r-color('white'),
    close-background: r-color('white'),
    close-border: r-color('light-grey'),
    close-color: r-color('black'),
    input-background: r-color('light-grey'),
    input-color: r-color('black'),
    item-border: r-color('light-grey'),
  ),
  search-filters-value: (
    base-color: r-color('slate-grey'),
    base-border: r-color('light-grey'),
    hover-color: r-color('firebrick6'),
    hover-border: r-color('light-grey'),
    active-color: r-color('black'),
    count-color: r-color('slate-grey'),
    count-background: r-color('white'),
  ),
  search-filters-value-parent: (
    unfold-color: r-color('black'),
  ),
  styleguide: (
    grid-line-color: lighten(r-color('silver'), 5%),
    grid-border-color: r-color('silver'),
    cta-sample: $indianred3-scheme,
    spot-sample: $firebrick6-scheme,
  ),
  selector: (
    base-background: r-color('white'),
    hover-background: r-color('white'),
    base-color: r-color('charcoal'),
    hover-color: r-color('charcoal'),
    base-border: r-color('light-grey'),
  ),
  shadowed-box: (
    base-background: r-color('white'),
    base-shadow: 0 2px 4px rgba(5, 18, 42, 0.19),
  ),
  spinner: (
    base-color: r-color('denim'),
    base-color-light: r-color('white'),
    base-color-primary: r-color('firebrick6'),
  ),
  steps-breadcrumb: (
    icon-background-active: r-color(purplish-grey),
    icon-background: transparent,
    icon-border-active: transparent,
    icon-border: r-color('light-grey'),
    icon-fill-active: r-color('white'),
    icon-fill: r-color('light-grey'),
    icon-outline: rgba(r-color(purplish-grey), 0.25),
    label-color-active: r-color('charcoal'),
    label-color: r-color('light-grey'),
    separator-background-active: rgba(r-color(purplish-grey), 0.6),
    separator-background: rgba(r-color(purplish-grey), 0.25),
  ),
  steps-content: (
    content-color: r-color(purplish-grey),
    icon-background: r-color(indianred3),
    icon-color: r-color('white'),
    icon-big-background: transparent,
    icon-big-color: r-color('charcoal'),
    icon-success-background: r-color('mantis'),
    icon-success-color: r-color('white'),
    icon-warning-background: r-color('warning-500'),
    icon-warning-color: r-color('white'),
    title-color: r-color('charcoal'),
    summary-hover-color: r-color('grey59'),
    subtitle-color: r-color(purplish-grey),
  ),
  dashboard-item: (
    base-color: r-color(charcoal),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-border: r-color('light-grey'),
    background-color: r-color('white'),
    overlay-background-color: r-color('smoke'),
  ),
  contract-frame: (
    content-color: r-color(purplish-grey),
    title-color: r-color('charcoal'),
  ),
) !default;

// On a Richie child project you can easily change a specific value using:
// $r-theme: recursive-map-merge($r-theme, (
//   topbar: (
//     base-background: yellow,
//   )
// ));
