.dashboard-sidebar {
  flex-shrink: 0;
  width: 300px;
  background-color: r-theme-val(dashboard-sidebar, background-color);
  border-radius: $border-radius;
  box-shadow: r-theme-val(dashboard-sidebar, base-shadow);
  color: r-theme-val(dashboard-sidebar, base-color);
  padding-bottom: r-theme-val(dashboard-sidebar, menu-link-inline-padding);
  position: relative;
  z-index: 2;

  @include media-breakpoint-down(lg) {
    width: auto;
  }

  &__nav-select {
    width: 100%;
  }

  &__container {
    &__header {
      $padding-inline: rem-calc(r-theme-val(dashboard-sidebar, menu-link-inline-padding));
      padding: rem-calc(64px) $padding-inline rem-calc(32px) $padding-inline;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__avatar {
        position: absolute;
        top: calc($avatar-size / -2);
        // avatar's parent font-size define the avatar size.
        font-size: rem-calc(40px);
      }

      h3 {
        font-weight: bold;
        margin-bottom: rem-calc(12px);
      }

      p {
        color: r-theme-val(dashboard-sidebar, sub-title-color);
        margin-bottom: 0;
      }
    }

    &__title {
      $padding-inline: rem-calc(r-theme-val(dashboard-sidebar, menu-link-inline-padding) + 3px);
      padding: 0 $padding-inline 1rem $padding-inline;
      margin: 0;
    }

    &__responsive-nav {
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
        padding: 0 1rem 1rem 1rem;
      }
    }

    &__nav {
      list-style: none;
      padding: 0;
      margin: 0;
      min-height: 8rem;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &__item {
        display: flex;
        align-items: center;
        font-size: rem-calc(16px);
        line-height: 1em;
        margin-top: rem-calc(8px);
        gap: rem-calc(8px);
        position: relative;

        &:first-child {
          padding-top: 0;
        }

        a {
          display: flex;
          align-items: center;
          line-height: 1;
          padding-left: r-theme-val(dashboard-sidebar, menu-link-inline-padding);
          color: r-theme-val(dashboard-sidebar, base-color);

          &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
          }
        }

        &:hover {
          border-left: 3px solid r-theme-val(dashboard-sidebar, base-color);
          a {
            padding-left: rem-calc(r-theme-val(dashboard-sidebar, menu-link-inline-padding) - 3px);
          }
        }

        &.active {
          border-left: 3px solid r-theme-val(dashboard-sidebar, active-color);
          a {
            padding-left: rem-calc(r-theme-val(dashboard-sidebar, menu-link-inline-padding) - 3px);
            font-weight: 600;
            color: r-theme-val(dashboard-sidebar, active-color);
          }
        }
      }
    }
  }
}
