.product-widget__item.course {
  .course__course-runs-header {
    color: r-theme-val(product-item, lighter-color);
    display: flex;
    font-size: 0.69rem;
    font-weight: $font-weight-bold;
    justify-content: space-between;
    padding-left: 1.5rem;
    text-transform: uppercase;
  }

  .course-runs-not-available {
    margin-top: 0.5rem;
    padding-left: 0.2rem;
    display: flex;

    .icon {
      margin-right: 0.5rem;
    }
  }

  .course-runs-list {
    @include m-o-list-group__container;
    color: r-theme-val(product-item, lighter-color);
    list-style: none;

    &__errors-feedback {
      color: r-theme-val(product-item, feedback-color);
      padding-left: 1.5rem;
      font-size: 0.8125rem;
    }
  }

  .course-runs-item {
    align-items: center;
    color: r-theme-val(product-item, base-color);
    display: flex;
    padding-left: 1.5rem;
    position: relative;

    &.course-runs-item--inactive {
      display: block;

      .course-runs-item__course-dates::before {
        background-color: r-theme-val(product-item, lighter-color);
        border-radius: 100%;
        content: '';
        display: block;
        height: 6px;
        left: calc(-1.5rem + 6px);
        position: absolute;
        width: 6px;
      }
    }

    &.course-runs-item--enrolled,
    &.form-field,
    &__feedback:not(:empty) {
      margin-bottom: 0.5rem;
    }

    &.form-field {
      .form-field__radio-control {
        position: absolute;
        left: 0;
        top: 0;
      }

      .form-field__label {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1.5rem;
      }
    }

    &__course-dates {
      align-items: center;
      display: flex;
      flex: 1;
      font-weight: normal;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }

    &__date {
      font-style: inherit;
      z-index: 1;

      &--start {
        padding-right: 0.3125rem;
      }

      &--end {
        padding-left: 0.3125rem;
        text-align: right;
      }

      &-separator {
        background-color: r-theme-val(product-item, lighter-color);
        flex: 1;
        height: $onepixel;
      }
    }

    &__feedback,
    &__metadata {
      color: r-theme-val(product-item, lighter-color);
      display: block;
      font-size: 0.8125rem;
      line-height: 1.4em;
    }

    &__feedback {
      color: r-theme-val(product-item, feedback-color);
    }

    .course-runs-item__enrolled,
    .course-runs-item__cta {
      padding: 0.5rem 1rem;
      min-width: 100px;
      justify-content: center;
    }

    .course-runs-item__enrolled {
      margin-bottom: 0;
    }
  }

  .course-runs-item--submit {
    flex-direction: column;
    align-items: baseline;
  }
}
