// when parent em-value is 40px, $avatar-size is 100px
$avatar-size: 2.5em;

.dashboard {
  &__avatar {
    position: relative;
    box-shadow: r-theme-val(dashboard-sidebar, base-shadow);
    background-color: r-theme-val(dashboard-avatar, background-color);
    border-radius: 100%;
    height: $avatar-size;
    width: $avatar-size;
    display: flex;
    justify-content: center;
    align-items: center;
    color: r-theme-val(dashboard-avatar, base-color);
    padding: rem-calc(3px);

    &__letter {
      font-size: 1em;
      font-family: $r-font-family-montserrat;
      font-weight: $font-weight-boldest;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
    }

    &--square {
      border-radius: rem-calc(8px);
      background: r-theme-val(dashboard-sidebar, background-color);
      border: 1px solid r-theme-val(dashboard-avatar, background-color);
      color: r-theme-val(dashboard-avatar, background-color);

      .dashboard__avatar__image {
        border-radius: rem-calc(6px);
      }
    }
  }
}
