$richie-template-search-margin: null !default;
$richie-template-search-padding: null !default;

$richie-template-search-title-margin: null !default;
$richie-template-search-title-padding: null !default;
$richie-template-search-title-textalign: null !default;


.search-template {
  margin: $richie-template-search-margin;
  padding: $richie-template-search-padding;

  &__title {
    margin: $richie-template-search-title-margin;
    padding: $richie-template-search-title-padding;
    text-align: $richie-template-search-title-textalign;
  }
}
