# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
.cache
.circleci
.git
.vscode

# Assets
data
src/backend/base/static/richie/css/main.css

# Assets
data
**/static/richie/css
!**/static/richie/css/ckeditor.css
**/static/richie/js

# Front-end
**/node_modules
