.user-menu {
  @include sv-flex(1);

  &--mobile {
    padding: 1rem 0.2rem 1rem 1rem;

    .user-menu__username {
      margin-bottom: 0;
      padding-left: 1rem;

      & > .icon {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    .user-menu__list {
      list-style: none;
      padding-left: 0;

      &__item {
        &:not(:last-child) {
          border-bottom: $onepixel solid r-theme-val(topbar, item-divider-border);
        }

        & > * {
          color: r-theme-val(topbar, item-active-color);
          @include button-reset-style();
          display: inline-block;
          padding: 1rem 0.2rem 1rem 1rem;
          text-align: left;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
