.sale-tunnel__sponsors {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;

  img {
    width: 90px;
    object-fit: contain;
  }
}
