{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% if detail_view %}
<div class="main-width">
    <div class="container-fluid drop-down">
        <div class="news-detail main-content compensate-right-column">
            <div class="row">
                <div class="col-lg-21 col-sm-26 no-gutter-right">
                    <div class="row">

                        <div class="left">
                            
                            <div class="header">
                                <div class="line text-center">
                                    <h1 class="big-title color-regal-blue">
                                        {% render_model article "title" %}
                                    </h1>
                                </div>
                                <div class="category color-denim-blue text-center"></div>

                                <div class="line text-center">
                                    <span></span>
                                </div>

                                {% if article.categories.exists %}
                                <div class="category color-denim-blue text-center">
                                    {% for category in article.categories.all %}
                                    <a title="{% trans "See other articles from the same category" %}" href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="author">{{ article.publishing_date|date }}</div>

                                {% if article.featured_image_id %}
                                <img class="img-responsive" src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                                {% endif %}
                            </div>

                            <div class="lead-paragraph">
                                <p class="light-weight">
                                    {% render_model article "lead_in" %}
                                </p>
                            </div>

                            <div class="description">
                                {% render_placeholder article.content language placeholder_language %}
                            </div>

                            <ul class="article_nav">
                                {% if prev_article %}
                                <li><a href="{{ prev_article.get_absolute_url }}">{% trans "Previous Article" %}</a></li>
                                {% endif %}
                                <li><a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a></li>
                                {% if next_article %}
                                <li><a href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-15 col-sm-10 no-gutter-left no-padding">
                    <div class="right">
                        <div class="blue-zone">
                            <div class="row">

                                <div class="col-sm-36 social-networks">
                                    <a title="{% trans "Share on Facebook" %}" href="http://www.facebook.com/share.php?u=https://www.fun-mooc.fr/{{LANGUAGE_CODE}}/news/{{article.slug}}" target="_blank">
                                        <span class="facebook"></span>
                                    </a>
                                    <a title="{% trans "Share on Twitter" %}" href="https://twitter.com/intent/tweet?text=Actu+@funmooc:+{{article.title}}+https://www.fun-mooc.fr/{{LANGUAGE_CODE}}/news/{{article.slug}}" target="_blank">
                                        <span class="twitter"></span>
                                    </a>
                                    <a title="{% trans "Share by email" %}" href="mailto:?subject=Actualité FUN: {{article.title}}&amp;body=https://www.fun-mooc.fr/{{LANGUAGE_CODE}}/news/{{article.slug}}" target="_blank">
                                        <span class="email"></span>
                                    </a>
                                </div>

                                <div class="col-xxs-36 col-xs-18 col-sm-36 col-lg-18">
                                    <div class="course-info calendar">
                                        <ul>
                                            <li>
                                                <strong>{% trans "Event date" %}</strong>
                                            </li>
                                            <li>
                                                {{ article.publishing_date|date }}
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="course-info folder news_categories">
                                        {% static_placeholder "newsblog_social" %}
                                    </div>
                                </div>

                                <div class="col-xxs-36 col-xs-18 col-sm-36 col-lg-18 news_related_articles">
                                    {% static_placeholder "newsblog_social" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
