// One pixel shortcut
$onepixel: 0.0625rem !default;
// Debug line to possibly calibrate it again when base size has been changed
//@debug "One pixel is " + rem-calc(1px);

//
// Customized Bootstrap settings
//

// Add a new breakpoint "xxl" for more granular downgrading
$grid-breakpoints: (
  xs: 0,
  sm: em-calc(576px),
  md: em-calc(768px),
  lg: em-calc(992px),
  xl: em-calc(1200px),
  xxl: em-calc(1900px),
);

// Add max width for "xxl" breakpoint
$container-max-widths: (
  sm: rem-calc(540px),
  md: rem-calc(720px),
  lg: rem-calc(960px),
  xl: rem-calc(1140px),
  xxl: rem-calc(1240px),
);

// More space between columns
$grid-gutter-width: rem-calc(20px);

// Base body
$body-color: r-theme-val(body-content, base-color);
$body-bg: r-theme-val(body-content, base-background);
$body-padding-fix: true;

// Typography
//
$link-color: r-theme-val(body-content, base-link-color);
$link-hover-color: darken($link-color, 15%);

// Adjust font families
$font-family-base: $r-font-family-hind;
$headings-font-family: $r-font-family-montserrat;

// Should be near to expected 14px from mockup
$font-size-base: 0.8rem;

// Enable automatic font-size scaling for responsive behavior
$enable-responsive-font-sizes: true;

// Define available font weights and add some extra ones
$font-weight-lighter: lighter; // No usage
$font-weight-light: 300; // Montserrat only
$font-weight-normal: 400; // Hind only
$font-weight-bold: 600; // Hind only
$font-weight-bolder: 600; // Hind only
$font-weight-boldest: 700; // Montserrat only
$font-weight-extrabold: 800; // Montserrat only

// Adjust heading sizes
$extra-font-size: 3rem;
$h1-font-size: 2.2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.9rem;

// Adjust global heading weight
// NOTE: only h1 and h2 are expected to be extra bold, other ones should be
// just boldest)
$headings-font-weight: $font-weight-extrabold;

// Shorter heading line height
$headings-line-height: 1.1;

$border-radius: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.2rem;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-font-family: $headings-font-family;

$input-btn-padding-y: 0.7rem;
$input-btn-padding-x: 1.3rem;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;

$input-btn-padding-y-tiny: 0.2rem;
$input-btn-padding-x-tiny: 0.5rem;
$input-btn-font-size-tiny: 0.75rem;
$input-btn-line-height-tiny: 1.2;

$input-btn-padding-y-sm: 0.35rem;
$input-btn-padding-x-sm: 0.7rem;
$input-btn-font-size-sm: $font-size-sm;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1.6rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;

$btn-font-family: $input-btn-font-family;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

$btn-padding-y-tiny: $input-btn-padding-y-tiny;
$btn-padding-x-tiny: $input-btn-padding-x-tiny;
$btn-font-size-tiny: $input-btn-font-size-tiny;
$btn-line-height-tiny: $input-btn-line-height-tiny;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;

//
// Homegrown shared settings
//

// Main breakpoints for components
$r-topbar-breakpoint: lg !default;
$r-footer-breakpoint: lg !default;

// Topbar height is required to be able to preserve space in some context like
// when the tobpar is an absolute position, so content won't be placed below.
// You will probably need to adjust it along logo height.
$r-topbar-height: 8.0625rem !default;

// Header logo width is required for SVG logos
$r-topbar-logo-width-sm: 11.875rem !default;
$r-topbar-logo-width-lg: 11.875rem !default;

// Header logo width is required for SVG logos
$r-footer-logo-width-sm: 11.875rem !default;
$r-footer-logo-width-lg: 11.875rem !default;

// Aside column width in course detail, if 'null' content and aside columns take
// full width like common blocks. Usefull if you plan to remove course run from
// template
$r-course-aside: 35% !default;

// Subheader aside column width in course detail. Unlike, $r-course-aside this
// variable cannot be null. Otherwise to homegenize layout, it should have the
// same value than $r-course-aside.
$r-course-subheader-aside: 35% !default;

// Course search page shared variables
$r-search-filters-gutter: 0.2rem !default;

// Easings (Quart)
$r-ease-in: cubic-bezier(0.5, 0, 0.75, 0) !default;
$r-ease-out: cubic-bezier(0.25, 1, 0.5, 1) !default;
$r-ease-in-out: cubic-bezier(0.76, 0, 0.24, 1) !default;
