$richie-course-detail-breakpoint: lg !default;

$richie-course-detail-title-margin: 0 0 1rem !default;
$richie-course-detail-title-padding: 0.5rem 1rem 0 !default;
$richie-course-detail-title-fontsize: 2.6rem !default;
$richie-course-detail-title-fontsize-large: 3rem !default;
$richie-course-detail-title-fontweight: normal !default;
$richie-course-detail-title-lineheight: 1.1 !default;
$richie-course-detail-title-textalign: center !default;
$richie-course-detail-title-underline-width: 10rem !default;
$richie-course-detail-title-underline-border: 1px solid $gray40 !default;

$richie-course-detail-content-width-large: 70% !default;
$richie-course-detail-content-margin: 0 !default;
$richie-course-detail-content-padding: 0 0 2rem 0 !default;

$richie-course-detail-row-margin: 0 !default;
$richie-course-detail-row-padding: 0.5rem 1rem 0 !default;
$richie-course-detail-row-fontsize: 0.95rem !default;
$richie-course-detail-row-title-fontcolor: $dodgerblue3 !default;

$richie-course-detail-categories-padding: 0 3rem 0 !default;
$richie-course-detail-categories-justify: center !default;
$richie-course-detail-categories-empty-fontcolor: $gray40 !default;
$richie-course-detail-categories-empty-textalign: center !default;

$richie-course-detail-organizations-item-gutter: 0.625rem !default;

$richie-course-detail-teaser-margin: 0 !default;
$richie-course-detail-teaser-padding: 0 !default;
$richie-course-detail-teaser-object-padding-vertical: 1.5rem !default;
$richie-course-detail-teaser-object-padding-horizontal: 1rem !default;

$richie-course-detail-run-background: $dodgerblue1 !default;
$richie-course-detail-run-gutter: 0.5rem !default;
$richie-course-detail-run-width-large: 33.33% !default;
$richie-course-detail-run-margin: 0 !default;
$richie-course-detail-run-padding: 1rem 2rem !default;
$richie-course-detail-run-fontcolor: $white !default;

$richie-course-detail-synopsis-background: $dodgerblue1 !default;
$richie-course-detail-synopsis-margin: 0 !default;
$richie-course-detail-synopsis-padding: 1rem 2rem !default;
$richie-course-detail-synopsis-fontcolor: $white !default;

$richie-course-detail-socialnetworks-background: $dodgerblue1 !default;
$richie-course-detail-socialnetworks-margin: 0 !default;
$richie-course-detail-socialnetworks-padding: 1rem 2rem !default;
$richie-course-detail-socialnetworks-fontcolor: $white !default;

$richie-course-detail-team-gutter: 0.5rem !default;
$richie-course-detail-team-width-large: 100% !default;
$richie-course-detail-team-title-fontsize: 1.4rem !default;

$richie-course-detail-license-margin: 1rem 0 0 0 !default;
$richie-course-detail-license-title-margin: 0 0 0.75rem 0 !default;
$richie-course-detail-license-title-fontcolor: $dodgerblue3 !default;

$richie-course-detail-aside-with-large: 30% !default;
$richie-course-detail-aside-margin: 0 !default;
$richie-course-detail-aside-padding: 0 !default;

$richie-course-detail-aside-main-org-margin: 0 !default;
$richie-course-detail-aside-main-org-padding: 2rem !default;
$richie-course-detail-aside-main-org-background: $white !default;

.course-detail {
  @include make-container-max-widths();
  margin: 0 auto;
  padding: 0;

  @include media-breakpoint-up($richie-course-detail-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__content {
    @include sv-flex-cell-width(100%);
    margin: $richie-course-detail-content-margin;
    padding: $richie-course-detail-content-padding;
    background: $richie-content-container-bg;

    &--two {
      @include media-breakpoint-up($richie-course-detail-breakpoint) {
        @include sv-flex-cell-width($richie-course-detail-content-width-large);
      }
    }

    &__snapshot {
      padding: 1rem 0 0;
      text-align: center;

      &__date {
        color: $firebrick6;
      }
    }

    &__title {
      @include sv-flex-cell-width(100%);
      position: relative;
      margin: $richie-course-detail-title-margin;
      padding: $richie-course-detail-title-padding;
      font-size: $richie-course-detail-title-fontsize;
      font-weight: $richie-course-detail-title-fontweight;
      line-height: $richie-course-detail-title-lineheight;
      text-align: $richie-course-detail-title-textalign;

      @include media-breakpoint-up($richie-course-detail-breakpoint) {
        font-size: $richie-course-detail-title-fontsize-large;
      }
    }

    &__row {
      $row-selector: &;
      margin: $richie-course-detail-row-margin;
      padding: $richie-course-detail-row-padding;

      p,
      li {
        font-size: $richie-course-detail-row-fontsize;
      }
    }

    &__run {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1rem;
      padding: 1rem;
      color: $white;
      background: $richie-course-detail-run-background;

      &__title {
        width: 100%;
        margin: 0;
        padding: 0.5rem 0.1rem 0;
        font-size: 1.8rem;
        color: $dodgerblue5;
        line-height: 1.1;
        text-align: center;
      }

      &__block {
        padding: 1rem 0;
        margin: $richie-course-detail-run-gutter;

        @include sv-flex(
          1,
          0,
          calc(100% - #{$richie-course-detail-run-gutter * 2})
        );

        @include media-breakpoint-up($richie-course-detail-breakpoint) {
          @include sv-flex(
            1,
            0,
            calc(
              #{$richie-course-detail-run-width-large} - #{$richie-course-detail-run-gutter *
                2}
            )
          );
        }

        &--full {
          @include sv-flex(
            1,
            0,
            calc(100% - #{$richie-course-detail-run-gutter * 2})
          );
        }

        a {
          color: white;
        }

        dl {
          margin-bottom: 0;
          dt {
            font-weight: bold;
            text-transform: uppercase;

            &:not(:first-child) {
              margin-top: 0.8rem;
            }
          }

          dd {
            margin-bottom: 0;
          }
        }

        &__cta {
          display: block;
          width: 100%;
          margin-top: 1.5rem;
          padding: 0.3rem;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          background: $dodgerblue5;
          border: 0;

          &:hover {
            color: $white;
            text-decoration: none;
            background: lighten($dodgerblue5, 5%);
          }

          &--archived,
          &--projected {
            color: $gray40;
            background: $gray80;

            &:hover {
              color: $gray40;
              background: $gray80;
            }
          }
        }
      }
    }

    &__categories {
      display: flex;
      padding: $richie-course-detail-categories-padding;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: $richie-course-detail-categories-justify;

      &__placeholder {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        font-style: italic;
        color: $richie-course-detail-categories-empty-fontcolor;
        text-align: $richie-course-detail-categories-empty-textalign;
        background: transparent;

        &:hover {
          color: $richie-course-detail-categories-empty-fontcolor;
        }
      }
    }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0.5rem 1rem 0;

      &__empty {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        font-style: italic;
        color: $richie-course-detail-categories-empty-fontcolor;
        text-align: $richie-course-detail-categories-empty-textalign;
        background: transparent;
      }
    }

    &__teaser {
      @include sv-flex-cell-width(100%);
      margin: $richie-course-detail-teaser-margin;
      padding: $richie-course-detail-teaser-padding;
      /**
      * Code below replicate .reponsive-embed from Bootstrap with forced 16/9
      * cause we cannot use object-fit since it is not compatible under IE
      * Edge 16. For not forced ratio we may use something like flex-video
      * (which involve some JS)
      */
      position: relative;
      display: block;
      overflow: hidden;

      &::before {
        display: block;
        content: '';
        padding-top: percentage(9 / 16);
      }

      iframe,
      embed,
      object,
      img,
      video {
        position: absolute;
        top: $richie-course-detail-teaser-object-padding-vertical;
        bottom: $richie-course-detail-teaser-object-padding-vertical;
        left: $richie-course-detail-teaser-object-padding-horizontal;
        right: $richie-course-detail-teaser-object-padding-horizontal;
        width: calc(
          100% - #{$richie-course-detail-teaser-object-padding-horizontal * 2}
        );
        min-height: calc(
          100% - #{$richie-course-detail-teaser-object-padding-vertical * 2}
        );
        border: 0;
      }

      @include m-o-media_empty($background: $gray97);
    }

    &__license {
      &__item {
        margin: $richie-course-detail-license-margin;
        font-size: $richie-course-detail-row-fontsize;

        &__title {
          margin: $richie-course-detail-license-title-margin;
          color: $richie-course-detail-license-title-fontcolor;
        }
      }
    }
  }

  &__aside {
    @include sv-flex-cell-width(100%);
    margin: $richie-course-detail-aside-margin;
    padding: $richie-course-detail-aside-padding;

    @include media-breakpoint-up($richie-course-detail-breakpoint) {
      @include sv-flex-cell-width(#{$richie-course-detail-aside-with-large});
    }

    &__main-org-logo {
      position: relative;
      display: block;
      margin: $richie-course-detail-aside-main-org-margin;
      background: $richie-course-detail-aside-main-org-background;
      padding: 0 0 56.25%; // Aspect ratio 16/9
      // Use a border to emulate the padding as we need padding for aspect ratio enforcement
      border: $richie-course-detail-aside-main-org-padding solid
        $richie-course-detail-aside-main-org-background;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }

      @include m-o-media_empty($width: 100%, $height: 20vh, $absolute: false);
    }

    &__cover {
      margin-top: 1.4rem;
      @include media-breakpoint-up($richie-course-detail-breakpoint) {
        margin-top: unset;
      }

      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      @include m-o-media_empty(
        $width: 100%,
        $height: 15vh,
        $background: $gray97,
        $absolute: false
      );
    }

    &__synopsis {
      margin: $richie-course-detail-synopsis-margin;
      padding: $richie-course-detail-synopsis-padding;
      color: $richie-course-detail-synopsis-fontcolor;
      background: $richie-course-detail-synopsis-background;

      &__icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        fill: white;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
      }

      dl {
        float: left;
        width: 100%;
      }

      dt {
        float: left;
        clear: left;
        margin-right: 0.5rem;
      }

      dd {
        float: left;
      }
    }

    &__social-networks {
      margin: $richie-course-detail-socialnetworks-margin;
      padding: $richie-course-detail-socialnetworks-padding;
      color: $richie-course-detail-socialnetworks-fontcolor;
      background: $richie-course-detail-socialnetworks-background;
    }

    &__runs {
      margin: $richie-course-detail-run-margin;
      padding: $richie-course-detail-run-padding;
      color: $richie-course-detail-run-fontcolor;
      background: $richie-course-detail-run-background;

      &__title {
        margin: 0;
        padding: 0 0.1rem 0;
        font-size: 1.8rem;
        line-height: 1.1;
        text-align: center;
      }

      @include m-o-media_empty(
        $width: 100%,
        $height: 10vh,
        $fontcolor: $white,
        $background: null,
        $absolute: false
      );

      &__block {
        $block-selector: &;

        position: relative;
        margin: 0;
        padding: 2rem 0;

        a {
          color: $white;
        }

        dt {
          font-weight: bold;
          text-transform: uppercase;

          &:not(:first-child) {
            margin-top: 0.8rem;
          }
        }

        dd {
          margin-bottom: 0;
        }

        &__cta {
          display: block;
          width: 100%;
          padding: 0.3rem;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          background: $dodgerblue5;
          border: 0;

          &:hover {
            color: $white;
            text-decoration: none;
            background: lighten($dodgerblue5, 5%);
          }

          &--archived,
          &--projected {
            color: $gray40;
            background: $gray80;

            &:hover {
              color: $gray40;
              background: $gray80;
            }
          }
        }

        & + #{$block-selector}::before {
          content: '';
          display: block;
          width: 50%;
          position: absolute;
          top: 0;
          left: 25%;
          border-top: 1px solid darken($light, 20%);
        }
      }
    }
  }
}
