// Overridable & namespaced global variables
$richie-org-list-title-margin: 0 !default;
$richie-org-list-title-padding: 1rem !default;
$richie-org-list-title-textalign: center !default;
$richie-org-list-divider: 1rem !default;

$richie-org-list-content-margin: 0 auto !default;
$richie-org-list-content-padding: 1rem 0 !default;

.organization-list {
  @include make-container();
  @include make-container-max-widths();
  padding-bottom: $richie-org-list-divider;
  background: $richie-content-container-bg;

  &__title {
    margin: $richie-org-list-title-margin;
    padding: $richie-org-list-title-padding;
    text-align: $richie-org-list-title-textalign;
  }

  &__content {
    display: flex;
    margin: $richie-org-list-content-margin;
    padding: $richie-org-list-content-padding;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
