// Overridable & namespaced global variables
$richie-org-detail-logo-width: 12rem !default;

.organization-detail {
  $logo-width-base: $richie-org-detail-logo-width;
  $logo-height-base: $logo-width-base * 9 / 16;

  $logo-width-md: $logo-width-base * 4 / 3;
  $logo-height-md: $logo-width-md * 9 / 16;

  $logo-width-xl: $logo-width-base * 5 / 3;
  $logo-height-xl: $logo-width-xl * 9 / 16;

  @include make-container();
  @include make-container-max-widths();
  padding-bottom: 1rem;
  background: $richie-content-container-bg;

  &__banner {
    @include make-row();
    width: 100vw;
    height: $logo-height-base;

    @include media-breakpoint-up(md) {
      width: auto;
      height: $logo-height-md;
    }

    @include media-breakpoint-up(xl) {
      height: $logo-height-xl;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include m-o-media_empty($background: $gray97);
  }

  &__logo {
    position: relative;
    overflow: hidden;
    background: $white;
    border: 1px solid darken($light, 20%);

    width: $logo-width-base;
    height: $logo-height-base;
    margin: (-$logo-height-base / 2) auto 1rem;
    padding: 0.5rem;

    @include media-breakpoint-up(md) {
      width: $logo-width-md;
      height: $logo-height-md;
      margin: (-$logo-height-md / 2) auto 1rem;
    }

    @include media-breakpoint-up(xl) {
      float: right;
      width: $logo-width-xl;
      height: $logo-height-xl;
      margin: (-$logo-height-xl / 2) 8rem 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    @include m-o-media_empty();
  }

  &__title {
    margin: 1rem 1rem 0 1rem;

    @include media-breakpoint-up(xl) {
      min-height: 6rem;
      display: flex;
      align-items: center;
    }
  }

  &__categories {
    display: flex;
    padding: 0 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;

    &__placeholder {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      font-style: italic;
      color: $gray40;
      text-align: center;
      background: transparent;

      &:hover {
        color: $gray40;
      }
    }
  }

  &__content {
    clear: both;
    @include make-row();
    margin-top: 1rem;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;

    &__courses,
    &__description {
      @include make-col-ready();
      @include make-col(12);
    }
  }
}
