$richie-person-detail-media-size: 10rem;

.person-detail {
  @include make-container-max-widths();
  margin: 0 auto;
  padding: 1rem $grid-gutter-width;
  background: $richie-content-container-bg;

  &__card {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    &__media {
      flex-grow: 0;
      flex-shrink: 0;
      align-self: center;
      width: 10rem;
      height: 10rem;
      margin: 0 0 1rem;

      @include media-breakpoint-up(sm) {
        order: 1; // Media should be after content on larger screens
        margin: 0 0 0 1rem;
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }

      img {
        margin: 0 auto;
        max-width: $richie-person-detail-media-size;
        border-radius: 100%;
      }

      @include m-o-media_empty(
        $width: 100%,
        $height: 10rem,
        $background: $gray97,
        $absolute: false
      );
    }

    &__content {
      flex-grow: 1;

      &__title {
        text-align: center;

        @include media-breakpoint-up(sm) {
          text-align: left;
        }
      }

      &__categories {
        display: flex;
        margin: 0 0 0.5rem;
      }
    }
  }
}
