$richie-person-detail-media-width: 120px;

.person-detail {
  @include make-container-max-widths();
  margin: 0 auto;
  padding: 1rem $grid-gutter-width;
  background: $richie-content-container-bg;

  &__title {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__card {
    @include m-o-card(
      $padding: 1rem 0,
      $background: $richie-course-glimpse-container-background,
      $media-margin: 0,
      $caption-width: $richie-course-glimpse-caption-width,
      $caption-margin: $richie-course-glimpse-caption-margin,
      $caption-padding: $richie-course-glimpse-caption-padding,
      $caption-fontsize: $richie-course-glimpse-caption-fontsize,
      $caption-background: $richie-course-glimpse-caption-background,
      $content-flex-justify: flex-start,
      $wrapper-padding: 0 0 0 1rem,
      $foot-divider: $richie-course-glimpse-foot-divider,
      $methodology: 'bem'
    );
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      @include m-o-card(
        $media-width: $richie-person-detail-media-width,
        $methodology: 'bem'
      );
    }

    &__media {
      img {
        margin: 0 auto;
        max-width: $richie-person-detail-media-width;
        border-radius: 100%;
      }

      @include m-o-media_empty(
        $width: 100%,
        $height: 13vh,
        $background: $gray97,
        $absolute: false
      );
    }

    &__content__wrapper {
      @include m-o-media_empty($width: 100%, $height: 13vh, $absolute: false);
    }
  }
}
