/** FUN-MOOC CSS THEME **/
body {
  background-color: $brand-lightgray;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $brand-blue;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: $brand-red;
    text-decoration: underline;
  }
}
