ul {
  display: flex;
  list-style-type: none;
}
.news_previous {
  padding-right: 5px;
}
.news_next {
  padding-left: 5px;
}
.blue-zone ul, .blue-zone menu, .blue-zone dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.description p {
  text-align: justify;
}
.article_nav {
  padding-top: 20px;
}
.article_nav li {
  margin: 0 auto;
}
.fun-news .primary {
  overflow: hidden;    
}
.fun-news .secondary>div {
  width: 295px;
}


.nav {
  width: 940px;
  margin: 0 auto;
}
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.container {
  width: auto;
  margin: 0 auto;
}
.content {
  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}


.new_hidden {
  display: none;
}
.news_categories .news_categories_content, .news_related_articles .news_related_articles_content {
  display: block;
}
.row {
  margin-right: 0px;
}

.fun-news .double_column {
  display: inline-block;
  position: relative;
  margin-left: 10.5px;
  margin-right: 12.5px;
  float: none;
  padding-left: 0px;
}
.fun-news .double_center {
  margin: 0 auto;
  padding: 0;
}
