@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Design color palette
@import 'colors';

//
// Bootstrap settings
//

// Add a new breakpoint "xxl" for more granular downgrading
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

// More space between columns
$grid-gutter-width: 20px;

// Use the footer bg color it seems to continue to the bottom end even with
// page is empty, body-content bg will make the real base color for contents
$body-bg: $dodgerblue1;

//
// Homegrown shared settings
//

// Background for content container objects, eg. detailed courses, categories, persons etc. pages. */
$richie-content-container-bg: $white;
