.subheader__aside {
  .course-run-enrollment {
    &__helptext,
    &__errortext {
      color: r-theme-val('course-detail', 'subheader-run-feedback-color');
    }
  }
}

.course-run-unenrollment,
.course-run-enrollment {
  &__cta {
    &--loading {
      cursor: progress !important;
      opacity: 0.7;

      .spinner-container {
        margin-left: 0.25rem;
      }

      .spinner {
        border-top-color: white;
        border-left-color: white;
      }
    }
  }

  &__helptext,
  &__errortext {
    color: r-theme-val('course-detail', 'run-feedback-color');
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: center;
  }
}

.course-run-unenrollment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  font-size: 1rem;
}
