.dashboard-search-bar {
  $spacing: rem-calc(5px);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rem-calc(8px);
  margin-bottom: $spacing;

  // TODO(rlecellier): cunningham should allow className on container
  .c__field {
    flex: 1 1 auto;
  }

  &__container {
    padding-bottom: $spacing;
  }
}
