# env
.env
env.d/aws

# virtualenv
.venv
venv

# Packaging
build
dist
*.egg-info

# sqlite DB
db.sqlite3
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Built statics
src/backend/{{cookiecutter.module_name}}/static/richie/css/main.css

# Site media
data/

# JS dependencies
node_modules

# SASS
.sass-cache

# logs
yarn-error.log

# Terraform
.terraform
*.tfstate
*.tfstate.backup
