$richie-section-cadenced-padding: 3rem 0 !default;
$richie-section-cadenced-background-even: $white !default;
$richie-section-cadenced-background-odd: $snow2 !default;
$richie-section-cadenced-title-color: $gray17 !default;
$richie-section-cadenced-title-margin: 0 auto 1rem !default;
$richie-section-cadenced-title-padding: 1rem !default;

.section-container-cadenced {
  background: $richie-section-cadenced-background-even;

  &:nth-child(odd) {
    background: $richie-section-cadenced-background-odd;
  }

  // Section container cadenced below the Hero intro have a bonus padding to correct for the
  // space taken up by the logo.
  .hero-intro--with-logo + & {
    padding-top: 2rem;
  }
}

.section {
  display: flex;
  flex-direction: column;

  .section-container-cadenced & {
    @include make-container();
    @include make-container-max-widths();
    padding: $richie-section-cadenced-padding;
  }

  &__title {
    .section-container-cadenced & {
      margin: $richie-section-cadenced-title-margin;
      padding: $richie-section-cadenced-title-padding;
      color: $richie-section-cadenced-title-color;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    // Some elements have to take 100% by default
    .section-container-cadenced & > p,
    .section-container-cadenced & > figure {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
    }

    // Ensure caesura always takes full width with some space around
    // within flex grid
    .section-container-cadenced & .button-caesura {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      margin: 2rem 0.5rem 0;
    }
  }
}
