.product-widget__item.certificate {
  align-items: flex-start;
  display: flex;

  .certificate__icon {
    fill: r-theme-val(product-item, base-border);
    flex: 0 0 auto;
    height: 2rem;
    margin-right: 0.375rem;
  }

  .certificate__icon + div {
    flex: 1;
  }

  .product-widget__item-title {
    margin: 0.1875rem 0;
  }

  .product-widget__item-description {
    margin-bottom: 0;
  }

  .product-widget__item-description > button {
    display: block;
    margin: 1rem auto 0 auto;
    max-width: 12rem;
    width: 75%;
  }
}
