# Python
PYTHONUNBUFFERED=1

# Django
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_ALLOWED_HOSTS=*

# Elastic search
RICHIE_ES_HOST=elasticsearch

# PostgreSQL db container configuration
POSTGRES_DB=richie
POSTGRES_USER=fun
POSTGRES_PASSWORD=pass

# App database configuration
DB_HOST=db
DB_NAME=richie
DB_USER=fun
DB_PASSWORD=pass
DB_PORT=5432

# LMS Backend
EDX_BACKEND=richie.apps.courses.lms.base.BaseLMSBackend
EDX_BASE_URL=http://localhost:8073
EDX_COURSE_REGEX='^.*/courses/(?P<course_id>.*)/info/?$'
EDX_JS_COURSE_REGEX='^.*/courses/(.*)/info/?$'
EDX_JS_BACKEND=openedx-hawthorn

# Authentication Backend
AUTHENTICATION_BASE_URL=http://localhost:8073
AUTHENTICATION_BACKEND=openedx-hawthorn
